.user-dashboard {

    @media all and (min-width: 48em) {
        display: flex;
        margin-bottom: 3rem;
    }

    &--no-progress-bar {
        .user-dashboard__container {
            flex: 0 1 auto;
        }

        .user-dashboard__data-usage-link {
            display: inline-block;
            padding: 0;
        }

        .user-dashboard__data-amount-left {
            border-bottom: 1px solid var(--core-purple);
            display: table;

            @media all and (min-width: 48em) {
                display: inline-block;
            }
        }

        .user-dashboard__links {
            padding: 0 1.25rem;
        }
    }

    &__container {
        padding: 0 1.25rem;

        @media all and (min-width: 48em) {
            display: inline-block;
            flex: 0 1 58%;
        }
    }

    &__name {
        margin: 1rem 0;

        @media all and (min-width: 48em) {
            margin: 2rem 0 1.5rem;
        }
    }

    &__links {
        align-self: flex-end;
        margin-bottom: 0;
        margin-left: 1.25em;

        @media all and (min-width: 48em) {
            margin-left: 3em;
        }
    }

    .link {
        border: none;
    }

    &__name-link {
    }

    &__data-usage-link {
        display: block;
        padding: 0 1px 0.5rem 0;
    }

    &__data-amount-left {
        display: block;
        font-family: Pebble;
        font-size: 37px;
        line-height: 1;

        @media all and (min-width: 48em) {
            display: inline;
            margin-right: 0.5rem;
        }
    }

    &__data-amount-info {
        font-size: 0.875rem;
        font-family: 'Helvetica Neue Medium';
        line-height: 2;
    }


    &__unpaid-invoices {
        background-color: #D0021B;
        border-radius: 1rem;
        color: white;
        display: inline;
        font-size: 1rem;
        line-height: 1.3;
        text-align: center;
        padding: 1px 5.5px;
        cursor: default;
    }
}