.telia-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.1);

  &__container {
    background: white;
    position: fixed;
    width: 50%;
    height: auto;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
    border-radius: 8px;


    box-shadow: 0px 8px 12px -5px rgba(34, 34, 34, 0.18), 0px 7px 18px 4px rgba(34, 34, 34, 0.1), 0px 16px 28px 3px rgba(34, 34, 34, 0.12);
    min-height: 160px;

    max-height: 80%;
    overflow: auto;

    &--small {
      width: 35%;
    }
    &--large {
      width: 80%;
    }
    &--auto {
      width: auto;
    }
  }

  &--invisible {
    visibility: hidden;
  }
}
.telia-modal__header {
  padding: 1.5rem;
  padding-bottom: 1rem;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 20px;
    margin: 0;
  }
  &--border {
    border-bottom: 1px solid var(--light-grey);
    margin-bottom: 1rem;
  }
}

.telia-modal__body {
  padding: 0 1.5rem;
  padding-bottom: 1rem;
  font-size: 14px;
  flex-grow: 1;
  &--noPadding {
    padding: 0;
  }
}

.telia-modal__divider {
  height: 1px;
  width: 100%;
  margin: 0.5rem 0;
  background-color: var(--light-grey);
  &--fullWidth {
    width: calc(100% + 3rem);
    margin-left: -1.5rem;
  }
}

.telia-modal__footer {
  padding: 1rem 1.5rem;
  text-align: end;
}

.telia-modal__container--fullscreen {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: none;
  width: 100%;
  border: none;
  border-radius: 0;
  align-items: center;
  max-height: none;
  .telia-modal__header {
    width: 100%;
    padding: 1.5rem 10%;
    margin-bottom: 2.5rem;
  }
  .telia-modal__body,
  .telia-modal__footer {
    width: 60%;
  }
}

@media (max-width: 600px) {
  .telia-modal__container--medium,
  .telia-modal__container--large {
    left: 0;
    right: 0;
    bottom: 0;
    top: auto;
    width: 100%;
    transform: none;
    overflow-y: auto;
    height: 98%;
    max-height: 98%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .telia-modal__container--small,
  .telia-modal__container--auto {
    left: 1.25rem;
    right: 1.25rem;
    top: 1.5rem;
    transform: none;

    overflow-y: auto;
  }

  .telia-modal__container--small {
      width: calc(100% -2rem);
  }

  .telia-modal__container--auto {
      width: auto;
  }

  .telia-modal__container--fullscreen {
    .telia-modal__header,
    .telia-modal__body,
    .telia-modal__footer {
      width: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
