.image {
    margin: 0 0 2rem 0;

    &--inline-left, &--inline-right {
        display: inline;
        margin-bottom: .75em;
        margin-top: .25em;
        width: 50%;
    }

    &--inline-left {
        float: left;
        margin-right: 1em;
    }

    &--inline-right {
        float: right;
        margin-left: 1em;
    }

    &__img {
        display: block;
        width: 100%;
    }
}