.svg_add-circle,
.svg_add,
.svg_alarm-off,
.svg_alarm,
.svg_alert,
.svg_arrow-down,
.svg_arrow-large-down,
.svg_arrow-large-left,
.svg_arrow-large-right,
.svg_arrow-large-up,
.svg_arrow-left,
.svg_arrow-right-purple,
.svg_arrow-right-white,
.svg_arrow-right,
.svg_arrow-small-down,
.svg_arrow-small-left,
.svg_arrow-small-right,
.svg_arrow-small-up,
.svg_arrow-subdirectory,
.svg_arrow-up,
.svg_attach,
.svg_battery,
.svg_best-in-test,
.svg_business-intelligence,
.svg_business,
.svg_calendar,
.svg_camera,
.svg_card-view,
.svg_chat,
.svg_check-mark,
.svg_child-boy,
.svg_child-girl,
.svg_close,
.svg_cloud,
.svg_company,
.svg_contact,
.svg_delivery,
.svg_devices,
.svg_document-doc,
.svg_document-edit,
.svg_document-pdf,
.svg_document-ppt,
.svg_document-xls,
.svg_document,
.svg_download,
.svg_email,
.svg_entertainment,
.svg_facebook,
.svg_filter,
.svg_folder-new,
.svg_folder,
.svg_food,
.svg_fraud,
.svg_games,
.svg_gift,
.svg_graph,
.svg_grid-view,
.svg_group,
.svg_heart-filled,
.svg_heart,
.svg_home,
.svg_image,
.svg_infinite,
.svg_info,
.svg_insurance,
.svg_internet,
.svg_kontantkort,
.svg_laptop,
.svg_lightbulb,
.svg_like,
.svg_link,
.svg_list-view,
.svg_lock-locked,
.svg_lock-unlocked,
.svg_login,
.svg_logout,
.svg_map,
.svg_menu,
.svg_microphone,
.svg_minus,
.svg_mms,
.svg_mobile,
.svg_money-euro,
.svg_money,
.svg_more,
.svg_music,
.svg_open,
.svg_org-chart,
.svg_payment,
.svg_pen,
.svg_phone,
.svg_pie-chart,
.svg_place,
.svg_play,
.svg_police,
.svg_position,
.svg_product-bedrift-click,
.svg_product-bedriftsnett,
.svg_product-data-boost,
.svg_product-data-rollover,
.svg_product-data-sharing,
.svg_product-extra-datasim,
.svg_product-ladeavtale,
.svg_product-mobilpant,
.svg_product-music-freedom,
.svg_product-roam-like-home,
.svg_product-skjermforsikring,
.svg_product-svitsj,
.svg_product-telia-startup,
.svg_pulse,
.svg_question,
.svg_recycle,
.svg_refill,
.svg_refresh,
.svg_replace,
.svg_return,
.svg_robot,
.svg_router,
.svg_search,
.svg_security,
.svg_server,
.svg_services,
.svg_settings,
.svg_shopping,
.svg_shoppingcart,
.svg_shuffle,
.svg_signal,
.svg_sim-card,
.svg_speedometer,
.svg_star-filled,
.svg_star,
.svg_statistics,
.svg_stop,
.svg_store,
.svg_support,
.svg_sync,
.svg_table-view,
.svg_tablet,
.svg_tags,
.svg_time-waiting,
.svg_time,
.svg_trash,
.svg_tv,
.svg_twitter,
.svg_undo,
.svg_upload,
.svg_user-admin,
.svg_user-new,
.svg_user,
.svg_video,
.svg_visibility-filled,
.svg_visibility,
.svg_voicemail,
.svg_volume,
.svg_warning,
.svg_weather,
.svg_wireless-off,
.svg_wireless,
.svg_world-alert,
.svg_world-off,
.svg_world-question,
.svg_world,
.svg_wrench {
  width: 64px;
  height: 64px;
}
.svg_add-circle,
.svg_add,
.svg_alarm-off,
.svg_alarm,
.svg_alert,
.svg_arrow-down,
.svg_arrow-large-down,
.svg_arrow-large-left,
.svg_arrow-large-right,
.svg_arrow-large-up,
.svg_arrow-left,
.svg_arrow-right,
.svg_arrow-small-down,
.svg_arrow-small-left,
.svg_arrow-small-right,
.svg_arrow-small-up,
.svg_arrow-subdirectory,
.svg_arrow-up,
.svg_attach,
.svg_battery,
.svg_best-in-test,
.svg_business-intelligence,
.svg_business,
.svg_calendar,
.svg_camera,
.svg_card-view,
.svg_chat,
.svg_check-mark,
.svg_child-boy,
.svg_child-girl,
.svg_close,
.svg_cloud,
.svg_company,
.svg_contact,
.svg_delivery,
.svg_devices,
.svg_document-doc,
.svg_document-edit,
.svg_document-pdf,
.svg_document-ppt,
.svg_document-xls,
.svg_document,
.svg_download,
.svg_email,
.svg_entertainment,
.svg_facebook,
.svg_folder-new,
.svg_folder,
.svg_food,
.svg_fraud,
.svg_games,
.svg_gift,
.svg_graph,
.svg_grid-view,
.svg_group,
.svg_heart-filled,
.svg_heart,
.svg_home,
.svg_image,
.svg_infinite,
.svg_info,
.svg_insurance,
.svg_internet,
.svg_kontantkort,
.svg_laptop,
.svg_lightbulb,
.svg_like,
.svg_link,
.svg_list-view,
.svg_lock-locked,
.svg_lock-unlocked,
.svg_login,
.svg_logout,
.svg_map,
.svg_menu,
.svg_microphone,
.svg_minus,
.svg_mms,
.svg_mobile,
.svg_money-euro,
.svg_money,
.svg_more,
.svg_music,
.svg_open,
.svg_org-chart,
.svg_payment,
.svg_pen,
.svg_phone,
.svg_pie-chart,
.svg_place,
.svg_play,
.svg_police,
.svg_position,
.svg_product-bedrift-click,
.svg_product-bedriftsnett,
.svg_product-data-boost,
.svg_product-data-rollover,
.svg_product-data-sharing,
.svg_product-extra-datasim,
.svg_product-ladeavtale,
.svg_product-mobilpant,
.svg_product-music-freedom,
.svg_product-roam-like-home,
.svg_product-skjermforsikring,
.svg_product-svitsj,
.svg_pulse,
.svg_question,
.svg_recycle,
.svg_refill,
.svg_replace,
.svg_return,
.svg_robot,
.svg_router,
.svg_search,
.svg_security,
.svg_server,
.svg_services,
.svg_settings,
.svg_shopping,
.svg_shoppingcart,
.svg_shuffle,
.svg_signal,
.svg_sim-card,
.svg_speedometer,
.svg_star-filled,
.svg_star,
.svg_statistics,
.svg_stop,
.svg_store,
.svg_support,
.svg_sync,
.svg_table-view,
.svg_tablet,
.svg_tags,
.svg_time-waiting,
.svg_time,
.svg_trash,
.svg_tv,
.svg_twitter,
.svg_undo,
.svg_upload,
.svg_user-admin,
.svg_user-new,
.svg_user,
.svg_video,
.svg_visibility-filled,
.svg_visibility,
.svg_voicemail,
.svg_volume,
.svg_warning,
.svg_weather,
.svg_wireless-off,
.svg_wireless,
.svg_world-alert,
.svg_world-off,
.svg_world-question,
.svg_wrench {
  fill: #222;
  fill-rule: evenodd;
}
.svg_arrow-right-purple {
  fill: #990ae3;
  fill-rule: evenodd;
}
.svg_arrow-right-white {
  fill: #fff;
  fill-rule: evenodd;
}
.svg_facebook_icon {
  width: 37.84px;
  height: 37.84px;
}
.svg_filter {
  fill: #220;
  fill-rule: nonzero;
}
.svg_full-screen-image-mask {
  width: 1417px;
  height: 152px;
  fill: #FFF;
  fill-rule: evenodd;
}
.svg_ico_add,
.svg_ico_add_purple,
.svg_ico_add_white {
  width: 15px;
  height: 15px;
  fill-rule: evenodd;
}
.svg_ico_add_purple,
.svg_ico_backarrow_purple,
.svg_ico_check_sharp,
.svg_ico_desktop,
.svg_ico_dropArrow_purple,
.svg_ico_headset,
.svg_ico_linkarrow_purple,
.svg_ico_minus_purple,
.svg_ico_mobile_o,
.svg_ico_quote-left,
.svg_ico_wifi {
  fill: #990AE3;
}
.svg_ico_add_white,
.svg_ico_linkarrow_white {
  fill: #FFF;
}
.svg_ico_backarrow,
.svg_ico_backarrow_purple,
.svg_ico_backarrow_white,
.svg_ico_linkarrow_purple,
.svg_ico_linkarrow_white {
  width: 9px;
  height: 13px;
}
.svg_ico_backarrow_white,
.svg_ico_image_placeholder_white {
  fill: #fff;
}
.svg_ico_buy,
.svg_ico_download {
  width: 17px;
  height: 18px;
  fill-rule: evenodd;
}
.svg_ico_check {
  width: 14px;
  height: 11px;
}
.svg_ico_check_sharp {
  width: 60px;
  height: 48px;
}
.svg_ico_checkmark_green {
  width: 21px;
  height: 16px;
  fill: #0C6;
}
.svg_ico_code-2,
.svg_ico_group,
.svg_ico_klikk-og-hent,
.svg_ico_kr {
  width: 512px;
  height: 512px;
}
.svg_ico_code {
  width: 543.232px;
  height: 543.232px;
}
.svg_ico_contacts {
  width: 567.01px;
  height: 536.01px;
}
.svg_ico_content,
.svg_ico_info,
.svg_ico_search {
  width: 17px;
  height: 17px;
  fill-rule: evenodd;
}
.svg_ico_customer_service {
  width: 303.25px;
  height: 332.98px;
}
.svg_ico_data_freedom {
  width: 313.77px;
  height: 217.3px;
  clip-path: url(#a);
}
.svg_ico_databoost {
  width: 459.8px;
  height: 463.27px;
}
.svg_ico_default_doc,
.svg_ico_statistics {
  width: 670.83px;
  height: 670.83px;
}
.svg_ico_delete {
  width: 21px;
  height: 21px;
  fill-rule: evenodd;
}
.svg_ico_desktop {
  width: 48px;
  height: 43px;
}
.svg_ico_dropArrow,
.svg_ico_dropArrow_grey,
.svg_ico_dropArrow_purple {
  width: 15px;
  height: 10px;
  fill-rule: evenodd;
}
.svg_ico_dropArrow_grey {
  fill: #757575;
}
.svg_ico_edit {
  width: 17px;
  height: 35px;
}
.svg_ico_edit_document {
  width: 16px;
  height: 18px;
  fill-rule: evenodd;
}
.svg_ico_end_user {
  width: 616px;
  height: 557.15px;
}
.svg_ico_favourites {
  width: 14px;
  height: 14px;
  fill-rule: evenodd;
}
.svg_ico_five {
  width: 592.48px;
  height: 592.48px;
}
.svg_ico_gift {
  width: 534px;
  height: 623.76px;
}
.svg_ico_headset {
  width: 43px;
  height: 38px;
}
.svg_ico_heart {
  width: 51px;
  height: 45px;
  fill: #231F20;
  fill-rule: evenodd;
}
.svg_ico_home {
  width: 591.91px;
  height: 591.7px;
}
.svg_ico_image_placeholder,
.svg_ico_image_placeholder_white {
  width: 670.83px;
  height: 495.83px;
}
.svg_ico_infinity {
  width: 88px;
  height: 43px;
}
.svg_ico_interest_free_down_payment_icon {
  width: 38.04px;
  height: 35.1px;
}
.svg_ico_linkarrow {
  width: 13px;
  height: 13px;
  fill-rule: evenodd;
}
.svg_ico_linkarrow_purple,
.svg_ico_linkarrow_white,
.svg_ico_menu,
.svg_ico_menu_logged_in,
.svg_ico_minus,
.svg_ico_minus_purple,
.svg_ico_mobile,
.svg_ico_music,
.svg_ico_premisesdatacenter,
.svg_ico_quote,
.svg_ico_router_refill,
.svg_ico_share,
.svg_ico_truck,
.svg_ico_wireless,
.svg_sorted_asc,
.svg_sorted_desc {
  fill-rule: evenodd;
}
.svg_ico_login,
.svg_ico_menu_mobile,
.svg_ico_search-menu {
  width: 565.8px;
  height: 536px;
}
.svg_ico_login {
  fill: none;
  stroke: #000;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: 30;
}
.svg_ico_map {
  width: 32px;
  height: 32px;
}
.svg_ico_menu {
  width: 14px;
  height: 12px;
}
.svg_ico_menu_logged_in {
  width: 17px;
  height: 16px;
}
.svg_ico_menu_mobile {
  fill: none;
  stroke: #000;
  stroke-linejoin: round;
  stroke-miterlimit: 8;
  stroke-width: 30;
}
.svg_ico_minus,
.svg_ico_minus_purple {
  width: 16px;
  height: 4px;
}
.svg_ico_mobile {
  width: 13px;
  height: 18px;
}
.svg_ico_mobile_o {
  width: 27px;
  height: 43px;
}
.svg_ico_money {
  width: 555.73px;
  height: 635.32px;
}
.svg_ico_music {
  width: 16px;
  height: 17px;
}
.svg_ico_music_freedom {
  width: 57.09px;
  height: 41.76px;
}
.svg_ico_premisesdatacenter {
  width: 18px;
  height: 15px;
}
.svg_ico_quote-left {
  width: 30px;
  height: 27px;
}
.svg_ico_quote {
  width: 16px;
  height: 14px;
  fill: #726E6E;
}
.svg_ico_refill {
  width: 21px;
  height: 30px;
}
.svg_ico_router_refill {
  width: 28px;
  height: 25px;
}
.svg_ico_share {
  width: 12px;
  height: 15px;
}
.svg_ico_six {
  width: 38.27px;
  height: 38.27px;
}
.svg_ico_subscription {
  width: 700px;
  height: 700px;
}
.svg_ico_trash {
  width: 10px;
  height: 35px;
}
.svg_ico_truck {
  width: 256px;
  height: 256px;
  clip-rule: evenodd;
}
.svg_ico_video_play {
  width: 69px;
  height: 69px;
  fill: white;
}
.svg_ico_wifi {
  width: 53px;
  height: 38px;
}
.svg_ico_wireless {
  width: 16px;
  height: 13px;
}
.svg_linkedin_icon {
  width: 38.08px;
  height: 38.08px;
}
.svg_product-telia-startup,
.svg_refresh,
.svg_world {
  fill: #000;
  fill-rule: nonzero;
}
.svg_silent_icon {
  width: 652.25px;
  height: 534.69px;
}
.svg_sortable {
  width: 26px;
  height: 36px;
}
.svg_sorted_asc,
.svg_sorted_desc {
  width: 18px;
  height: 14px;
}
.svg_star-half {
  width: 16px;
  height: 16px;
}
.svg_step-by-step-pebble {
  width: 66px;
  height: 72px;
  fill: #F2F2F2;
  stroke: #DEDEDE;
}
.svg_twitter_icon {
  width: 48.04px;
  height: 39.04px;
}
.svg_volume_icon {
  width: 652.25px;
  height: 527.37px;
}
