.telia-review {
    border:  solid var(--grey-300) 1px;
    border-radius: 3px;
}

.telia-review-header {

    margin: 0 0 0 5px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin: 3px;
        padding: .5rem;
    }

    &__buyertag {
        color: var(--green-600);

        &--header {
            display: flex;
            align-items: center;
            
        }

        &--timestamp {
            margin-left: 6px;
        }

        .heading {
            &--xs {
                margin:0px;
            }
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
    }

    &__timestamp {
        margin-left: 8px;
        color: var(--dark-grey)
    }
}

.telia-review-body {
    background-color: var(--light-grey);
    padding: .5rem;
    margin: 5px 5px 10px 5px;
    border-radius: 3px;

    &__wrapper {
        margin: 3px;

        p {
            margin: 0px;
        }
    }

    &__likes {
        display: flex;
        margin-top: 5px;
    }

    &__like {
        display: flex;
        align-items: center;
        margin-right: 10px;

        &--down {
            transform: rotate(180deg);
        }

        &--up, &--down {
            color: var(--grey-500);
            height: 20px;
            width: 20px;
        }

        span {
            margin: 3px;
            color: var(--grey-500);
        }
    }
}

