.focus-spinner {
    animation: none;
    text-align: center;

    &__spinner {
        margin: 5rem auto;

        @media screen and (min-width: 28.125em) {
            margin: 6.5rem auto;
        }
    }
}