.check-box-with-label {
    user-select: none;
    cursor: pointer;

    & .check-box-with-label__input {
        position: absolute;
        opacity: 0;
    }

    & .check-box-with-label__input:focus + .check-box-with-label__svg-container {
        & .check-box-with-label__frame {
            stroke: var(--core-purple);
        }
    }

    /* SVG container */
    & .check-box-with-label__svg-container {
        vertical-align: middle;
        margin-right: .3rem;
        position: relative;
        top: 4px;
    }

    /* SVG parts */
    & .check-box-with-label__frame {
        fill: none;
        stroke: var(--darkest-grey);
        stroke-width: 2px;
        transition: stroke .3s ease;
    }

    & .check-box-with-label__frame--disabled {
        fill: var(--light-grey);
    }

    &:hover .check-box-with-label__frame {
        stroke: var(--core-purple);
    }

    &:hover .check-box-with-label__frame--disabled {
        stroke: var(--darkest-grey);
    }

    & .check-box-with-label__check-mark {
        fill: none;
        stroke: var(--core-purple);
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 21px;
        stroke-dashoffset: 21.1px;
        transition: stroke-dashoffset .3s ease;
    }

    & .check-box-with-label__input:checked + .check-box-with-label__svg-container .check-box-with-label__check-mark {
        stroke-dashoffset: 0px;
    }

    & > .check-box-with-label__label-text {
        pointer-events: none;
        vertical-align: middle;
    }
}