.download-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: var(--margin-bottom-large);

  &__button {
    display: block; /*Needed by certain rendering engines*/
    padding: 0.4rem 1rem;
    text-decoration: none;
  }

  &__image {
    display: block;
    max-width: 100%;
    width: 160px;
  }
}
