.product-list-grid {
    @media screen and (min-width: 50em) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__section {
        @media screen and (min-width: 50em) {
            flex-basis: 50%;

            &:nth-child(odd) {
                padding-right: 2.5rem;
            }
            &:nth-child(even) {
                padding-left: 2.5rem;
            }
        }
    }
}