.page-footer {

    &__content {
        background-color: var(--core-purple);
        position: relative;
    }

    &__content-wrapper {
        margin: 0 auto;
        max-width: var(--width-large);
        position: relative;

        @media screen and (min-width: 48em) {
            display: flex;
            flex-direction: row;
        }
    }

    &__main-nav {
        background-color: var(--core-purple);
        padding: 1.7rem 1rem;
    }

    &__link {
        color: var(--white);
        display: block;
        padding: 0.5rem 0;
        text-decoration: none;

        @media screen and (min-width: 48em) {
            border-right: 1px solid var(--white);
            display: inline;
            padding: 0 1rem;
        }

        &:hover {
            text-decoration: underline;
        }
        &:focus,
        &:active {
            outline: none;
            color: var(--core-purple);
            background-color: var(--white);
        }
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            border-right: none;
        }
    }

    &__chat {
        position: absolute;
        top: -60px;
        right: 30px;

        text-align: center;
        text-decoration: none;

        &:hover {
            .page-footer__chat-link-text {
                text-decoration: underline;
            }
        }

        &:focus,
        &:active {
            outline: none;

            .page-footer__chat-link-text {
                color: var(--core-purple);
                background-color: var(--white);
            }
        }

        &-icon {
            height: 80px;
            width: 80px;
        }

        &-link-text {
            display: none;

            @media screen and (min-width: 48em) {
                color: var(--white);
                display: block;
            }
        }
    }
}