{
    "env": {
        "node": true,
        "es6": true,
        "browser": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "arrow-spacing": "warn",
        "camelcase": "warn",
        "eqeqeq": "warn",
        "func-call-spacing": "warn",
        "indent": ["warn", 4],
        "keyword-spacing": ["error", { "after": true, "before": true }],
        "no-mixed-spaces-and-tabs": "warn",
        "no-multiple-empty-lines": "warn",
        "object-curly-spacing": ["error", "always"],
        "react/react-in-jsx-scope": "warn",
        "semi": "error"
    },
    "plugins": [
        "react"
    ]
}