{
    "parser": "babel-eslint",
    "env": {
        "node": true,
        "es6": true,
        "browser": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        },
        "codeFrame": false
    },
    "rules": {
        "arrow-spacing": "warn",
        "camelcase": "warn",
        "eqeqeq": "warn",
        "func-call-spacing": "warn",
        "indent": ["warn", 4],
        "keyword-spacing": ["error", { "after": true, "before": true }],
        "no-mixed-spaces-and-tabs": "warn",
        "no-multiple-empty-lines": "warn",
        "object-curly-spacing": ["warn", "always"],
        "react/react-in-jsx-scope": "warn",
        "semi": "warn",
        "jsx-quotes": ["warn", "prefer-double"],
        "quotes": ["warn", "single", { "allowTemplateLiterals": true }],
        "react/jsx-closing-bracket-location": ["warn", "after-props"],
        "react/jsx-equals-spacing": ["warn", "never"],
        "react/jsx-no-duplicate-props": ["warn", { "ignoreCase": true }],
        "react/jsx-tag-spacing": ["warn"],
        "react/jsx-indent-props": ["warn", 4],
        "react/no-array-index-key": "warn" // todo: this should be an "error" really
    },
    "plugins": [
        "react"
    ]
}