{
  "trailingComma": "es5",
  "tabWidth": 2,
  "singleQuote": true,
  "printWidth": 120,
  "overrides": [
    {
      "files": [".prettierrc", ".lintstagedrc"],
      "options": {
        "parser": "json"
      }
    },
    {
      "files": ".editorconfig",
      "options": {
        "parser": "yaml"
      }
    }
  ]
}
