.form {

}

.form__row {
    display: flex;
    flex-wrap: wrap;
}

.form__column {
    margin-bottom: 1rem;
    display: flex;
    width: 290px;
}

.form__column > * {
    width: 100%;
    margin-right: 1rem;
}

.form__column--half > * {
    width: 50%;
    margin-right: 1rem;
}