<section class="box-grid container container--medium container--no-margin container--no-padding">
    <article class="box box--teal box--small box--expandable box--is-expanded" aria-expanded="false" id="box-1">
        <button class="box__close-expanded-info">
            LUKK
        </button>
        <p>Box 1 - Small - Expanded</p>
    </article>
    <article class="box box--light-orange box--small box--expandable" aria-expanded="false" id="box-2" tabindex="0">
        <p>Box 2 - Small</p>
    </article>
    <article class="box box--pink box--small box--expandable" aria-expanded="false" id="box-3" tabindex="0">
        <p>Box 3 - Small</p>
    </article>
    <article class="box box--blue box--small box--expandable" aria-expanded="false" id="box-4" tabindex="0">
        <p>Box 4 - Small</p>
    </article>
    <article class="box box--green box--small box--expandable" aria-expanded="false" id="box-5" tabindex="0">
        <p>Box 5 - Small</p>
    </article>
    <article class="box box--teal box--medium box--expandable" aria-expanded="false" id="box-6" tabindex="0">
        <p>Box 6 - Medium</p>
    </article>
    <article class="box box--pink box--medium box--expandable" aria-expanded="false" id="box-7" tabindex="0">
        <p>Box 7 - Medium</p>
    </article>
    <article class="box box--blue box--medium box--expandable box--is-expanded" aria-expanded="false" id="box-8">
        <button class="box__close-expanded-info">
            LUKK
        </button>
        <p>Box 8 - Medium - Expanded</p>
    </article>
</section>