.box-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;

    .box {
        display: flex;
        flex: 0 1 auto;

        @media all and (min-width: 39.8125em) {
            margin: 0.75rem;
        }

        &--is-expanded {
            flex-wrap: wrap;
        }
    }
}