<section class="box-grid container container--medium container--no-margin container--no-padding">
    <article class="box box--teal box--small box--is-expanded" aria-expanded="false" id="box-1">
        <button class="box__close-expanded-info">
            <span class="box__close-text">LUKK</span>
            <img class="box__close-image" src="/public/icons/ico_delete.svg" role="presentation" alt="Lukk ekspandert innhold" />
        </button>
        <p>Box 1 - Small - Expanded</p>
    </article>
    <article class="box box--light-orange box--small" aria-expanded="false" id="box-2">
        <p>Box 2 - Small</p>
    </article>
    <article class="box box--pink box--small" aria-expanded="false" id="box-3">
        <p>Box 3 - Small</p>
    </article>
    <article class="box box--blue box--small" aria-expanded="false" id="box-4">
        <p>Box 4 - Small</p>
    </article>
    <article class="box box--green box--small" aria-expanded="false" id="box-5">
        <p>Box 5 - Small</p>
    </article>
    <article class="box box--teal box--medium" aria-expanded="false" id="box-6">
        <p>Box 6 - Medium</p>
    </article>
    <article class="box box--pink box--medium" aria-expanded="false" id="box-7">
        <p>Box 7 - Medium</p>
    </article>
    <article class="box box--blue box--medium box--is-expanded" aria-expanded="false" id="box-8">
        <button class="box__close-expanded-info">
            <span class="box__close-text">LUKK</span>
            <img class="box__close-image" src="/public/icons/ico_delete.svg" role="presentation" alt="Lukk ekspandert innhold" />
        </button>
        <p>Box 8 - Medium - Expanded</p>
    </article>
</section>