<section class="box-grid container container--medium container--no-margin">
    <article class="box box--teal box--is-expanded" aria-expanded="false" id="box-1">
        <p>Box 1 - Expanded</p>
    </article>
    <article class="box box--light-orange" aria-expanded="false" id="box-2">
        <p>Box 2</p>
    </article>
    <article class="box box--pink" aria-expanded="false" id="box-3">
        <p>Box 3</p>
    </article>
    <article class="box box--blue" aria-expanded="false" id="box-4">
        <p>Box 4</p>
    </article>
    <article class="box box--green" aria-expanded="false" id="box-5">
        <p>Box 5</p>
    </article>
    <article class="box box--teal" aria-expanded="false" id="box-6">
        <p>Box 6</p>
    </article>
    <article class="box box--pink" aria-expanded="false" id="box-7">
        <p>Box 7</p>
    </article>
    <article class="box box--blue box--is-expanded" aria-expanded="false" id="box-8">
        <p>Box 8 - Expanded</p>
    </article>
</section>