.shopping-cart-section {
  &__table__foot {
    &__header {
      display: flex;
      font-weight: 1000;
      margin-left: 1rem;
      align-items: center;
    }

    &__row {
      background-color: var(--white);
      color: var(--black);

      @media screen and (min-width: 45rem) {
        display: flex;
        justify-content: flex-end;
      }
      
      .shopping-cart-section__table__header {
        padding: 0.5rem 0 0.5rem 1rem;
      }

      &--discount {
        background-color: var(--green-600);
        color: var(--white);
        font-family: 'pebble';
        max-height: 5rem;

        .shopping-cart-section__item__label {
          text-transform: uppercase;
        }
      }

      &--empty {
        height: 1rem;
      }
    }
  }
}
