.radio-button-with-label {
    user-select: none;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: start;
    margin-top: 0.3rem;

    & .radio-button-with-label__input {
        position: absolute;
        opacity: 0;
    }

    /* SVG container */
    & .radio-button-with-label__svg-container {
        vertical-align: middle;
        padding-right: .6rem;
        padding-top: 2px;
        height: 1.5em;

        display: block;
        box-sizing: border-box;
    }

    /* SVG parts */
    & .radio-button-with-label__frame {
        fill: none;
        stroke: var(--dark-grey-2);
        stroke-width: 2px;
        transition: stroke .3s ease;
    }
    &:hover .radio-button-with-label__frame {
        stroke: var(--core-purple);
    }
    & .radio-button-with-label__input:focus + .radio-button-with-label__svg-container {
        & .radio-button-with-label__frame {
            stroke: var(--core-purple);
        }
    }

    & .radio-button-with-label__check-mark {
        fill: var(--core-purple);
        opacity: 0;
        stroke: none;
        transition: opacity .3s ease;
    }

    & .radio-button-with-label__input:checked + .radio-button-with-label__svg-container .radio-button-with-label__check-mark {
        opacity: 1;
    }

    & > .radio-button-with-label__label-text {
        pointer-events: none;
        display: block;
        line-height: 1.5em;
        box-sizing: border-box;
        width: 100%;
    }
}