.radio-button-with-label {
    user-select: none;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: start;
    margin-bottom: 0.3rem;

    font-family: "Helvetica Neue";

    & .radio-button-with-label__input {
        position: absolute;
        opacity: 1;
        height: 0;
        outline: none;
        margin: 2px 3px 0px 3px;

        &::before {
            content: "";
            position: absolute;
            height: 1.25rem;
            width: 1.25rem;
            border-radius: 50%;
            border: 2px solid var(--darkest-grey);
        }
        
        &::after {
            content: "";
            position: absolute;
            height: calc(1.25rem/2);
            width: calc(1.25rem/2);
            left: calc(1.25rem/4);
            top: calc(1.25rem/4);
            border-radius: 50%;
        }

        &:focus {
            &::before {
                box-shadow: 0 0 0 calc(1.25rem/4) var(--deep-purple-opacity);
            }
        }

        &:hover {
            &::before {
                box-shadow: 0 0 0 calc(1.25rem/4) var(--deep-purple-opacity);
            }
        }

        &:checked {
            &::after {
                background: var(--core-purple);
            }
        }
    }

    /* SVG container */
    & .radio-button-with-label__svg-container {
        vertical-align: middle;
        padding-right: .6rem;
        padding-top: 2px;
        height: 1.5em;
        opacity: 0;
        display: block;
        box-sizing: border-box;
    }

    /* SVG parts */
    & .radio-button-with-label__frame {
        fill: none;
        stroke: var(--darkest-grey);
        stroke-width: 2px;
        transition: stroke .3s ease;
    }
    &:hover .radio-button-with-label__frame {
        stroke: var(--core-purple);
    }
    & .radio-button-with-label__input:focus + .radio-button-with-label__svg-container {
        & .radio-button-with-label__frame {
            stroke: var(--core-purple);
        }
    }

    & .radio-button-with-label__check-mark {
        fill: var(--core-purple);
        opacity: 0;
        stroke: none;
        transition: opacity .3s ease;
    }

    & .radio-button-with-label__input:checked + .radio-button-with-label__svg-container .radio-button-with-label__check-mark {
        opacity: 1;
    }

    & > .radio-button-with-label__label-text {
        pointer-events: none;
        display: block;
        line-height: 1.5em;
        box-sizing: border-box;
        width: 100%;
    }
}