.radio-button-list {
  display: flex;
  flex-direction: column;
  align-items: left;

  &--horizontal {
    flex-direction: row;

    > *:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &--rich-content {
    margin: 1rem 0 2rem;

    .radio-button-with-label {
      padding: 1rem 0;
      border-top: 1px solid var(--light-grey);
    }

    .radio-button-with-label:last-child {
      border-bottom: 1px solid var(--light-grey);
    }

    .radio-button-with-label__label-text {
      font-size: 1.5rem;
    }
  }
}
