<table class="full-width-table">
    <thead class="full-width-table__header">
        <tr class="full-width-table__row">
            <th class="full-width-table__cell">Column 1</th>
            <th class="full-width-table__cell">Column 2</th>
            <th class="full-width-table__cell">Column 3</th>
        </tr>
    </thead>
    <tbody class="full-width-table__body">
        <tr class="full-width-table__row">
            <td class="full-width-table__cell">Nulla quis lorem ut libero malesuada feugiat</td>
            <td class="full-width-table__cell">Lorem</td>
            <td class="full-width-table__cell">Ipsum</td>
        </tr>
        <tr class="full-width-table__row">
            <td class="full-width-table__cell">Lorem ipsum dolor sit amet</td>
            <td class="full-width-table__cell">Consectetur</td>
            <td class="full-width-table__cell">Elit</td>
        </tr>
        <tr class="full-width-table__row">
            <td class="full-width-table__cell">Donec rutrum congue leo</td>
            <td class="full-width-table__cell">Eget</td>
            <td class="full-width-table__cell">Malesuada</td>
        </tr>
        <tr class="full-width-table__row">
            <td class="full-width-table__cell">Nulla quis lorem ut libero malesuada feugiat</td>
            <td class="full-width-table__cell">Lorem</td>
            <td class="full-width-table__cell">Ipsum</td>
        </tr>
        <tr class="full-width-table__row">
            <td class="full-width-table__cell">
                <a href="" class="link" target="_self">Lorem ipsum dolor sit amet</a>
            </td>
            <td class="full-width-table__cell">Consectetur</td>
            <td class="full-width-table__cell">Elit</td>
        </tr>
        <tr class="full-width-table__row">
            <td class="full-width-table__cell">
                <a href="" class="link" target="_self">Donec rutrum congue leo</a>
            </td>
            <td class="full-width-table__cell">Eget</td>
            <td class="full-width-table__cell">Malesuada</td>
        </tr>
    </tbody>
</table>