<table class="full-width-table">
    <thead class="full-width-table__header">
        <tr class="full-width-table__row">
            <th class="full-width-table__cell">Kostnader</th>
            <th class="full-width-table__cell">Other</th>
            <th class="full-width-table__cell">Pris</th>
        </tr>
    </thead>
    <tfoot class="full-width-table__footer">
        <tr class="full-width-table__row">
            <td class="full-width-table__cell">Sum</td>
            <td class="full-width-table__cell">Foo</td>
            <td class="full-width-table__cell">553,-</td>
        </tr>
    </tfoot>
    <tbody class="full-width-table__body">
        <tr class="full-width-table__row">
            <td class="full-width-table__cell">Fast avgifter</td>
            <td class="full-width-table__cell">Bar</td>
            <td class="full-width-table__cell">399,-</td>
        </tr>
        <tr class="full-width-table__row">
            <td class="full-width-table__cell">Rabatter</td>
            <td class="full-width-table__cell">Baz</td>
            <td class="full-width-table__cell">-100,-</td>
        </tr>
        <tr class="full-width-table__row">
            <td class="full-width-table__cell">Bruk</td>
            <td class="full-width-table__cell">Foobar</td>
            <td class="full-width-table__cell">254,-</td>
        </tr>
    </tbody>
</table>
