.related-articles {
    background-color: var(--light-grey);
    padding: 20px 0;

    &__link {
        margin: 0 1rem 0.3rem 1rem;

        @media all and (min-width: em(1244)) {
            margin: 0 1rem 0.3rem 2.5rem;
        }
    }

    &__heading {
        margin-top: 1.25rem;
    }

    &__list {
        display: flex;
        flex-flow: row wrap;
        list-style: none;
        margin: 0;
        padding: 0;

        @media all and (min-width: em(1244)) {
            padding: 0 1.5rem;
        }

        &--expanded {
            .related-articles__list-item:nth-child(n+2) {
                display: block;
            }
        }
    }

    &__list-item {
        flex: 0 0 100%;
        padding: 1rem;

        .related-article {
            width: 100%;
        }

        &:nth-child(n+2){
            display: none;

            @media all and (min-width: em(598)) {
                display: block;
            }
        }

        @media all and (min-width: em(598)) {
            flex: 0 0 50%;

            .related-article {
                width: 100%;
            }
        }

        @media all and (min-width: em(1196)) {
            flex: 0 0 auto;

            .related-article {
                width: 267px;
            }
        }
    }

    &__show-more-articles {
        border: 0;
        cursor: pointer;
        font-size: 1rem;
        margin-left: 1rem;
        padding: 0.25rem 0.25rem 0.25rem 0.25rem;

        &-icon {
            height: 0.875rem;
            width: 0.875rem;
            float:left;
            margin-right:0.225rem;
        }

        &:hover {
            color: var(--core-purple);
        }

        &:focus, &:active {
            background: var(--core-purple);
            color: var(--white);
            outline: none;

            > .related-articles__show-more-articles-icon *{
                fill: var(--white);
            }
        }

        &--expanded {

            &:focus, &:active {
            }
        }

        @media all and (min-width: em(598)) {
            display: none;
        }
    }

    &--bg-white {
        background-color: var(--white);
    }
}