.accordion-flexible {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 40rem;
  border-radius: 3px;
  background-color: var(--white);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.12);
  border: solid 1px orange;

  &__header-container {
    position: relative;
    cursor: pointer;
    width: 100%;
    border: solid 1px red;
    padding-right: 2em;
  }

  &__header {
    border: solid 1px green;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 1rem 0.75rem;
    background-color: var(--white);
    transition: border 150ms ease-out;

    &-content-right {
      display: flex;
      flex-direction: row-reverse;
    }

    &:hover,
    &:focus,
    &--expanded {
      border: solid 2px orange;
      outline: none;
      cursor: pointer;
      border: 3px solid var(--core-purple);

      ~ .subscription-accordion__expanded-info {
        border-left: 3px solid var(--core-purple);
        border-right: 3px solid var(--core-purple);
        border-bottom: 3px solid var(--core-purple);
      }
    }
  }

  &__header-row {
    display: flex;
    flex-direction: row;

    & > * {
      flex-basis: auto;
      flex-shrink: 1;
      flex-grow: 1;
    }

    & h2 {
      margin: 0;
      width: fit-content;
    }

    & svg {
      margin: 0;
      max-width: 32px;
      max-height: 32px;
    }
  }

  &__heading--right {
    display: block;
    text-align: right;
    min-width: 50px;
    &.line-through {
      text-decoration: line-through;
    }
  }

  &__arrow {
    position: absolute;
    right: 0;
    top: 25%;

    width: 1rem !important;
    height: 1rem !important;
    margin: 0;

    &--expanded {
      transform: rotate(180deg);
    }
  }

  &__disclaimers {
    & .accordion:last-of-type {
      margin-bottom: 0;
      border-bottom: none;
    }
  }

  &__expanded-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transition: border 150ms ease-out;
    padding: 0rem 0.5rem 0.5rem 0.5rem;
  }
}

.accordion-flexible__heading--right.line-through {
  text-decoration: line-through;
}

.accordion-flexible__ingress-row-left {
  display: block;
  text-align: left;
  min-width: 150px;
}

.accordion-flexible__ingress-row-right {
  display: block;
  text-align: right !important;
  min-width: 150px;
}

@media screen and (max-width: 580px) {
  .accordion-flexible__ingress-row-right,
  .accordion-flexible__ingress-row-right {
    min-width: 140px;
  }
}

@media screen and (max-width: 480px) {
  .accordion-flexible__ingress-row-right,
  .accordion-flexible__ingress-row-right {
    min-width: 130px;
  }
}

@media screen and (max-width: 420px) {
  .accordion-flexible__ingress-row-right,
  .accordion-flexible__ingress-row-right {
    min-width: 120px;
  }
}

@media screen and (max-width: 380px) {
  .accordion-flexible__ingress-row-right,
  .accordion-flexible__ingress-row-right {
    min-width: 110px;
  }
}
