.heading-link {
    display: inline-block;
    text-decoration: none;

    &:hover {
        * {
            color: var(--core-purple);
        }

        .horizontal-rule--short {
            width: 100%;
        }
    }

    &:active,
    &:focus {
        outline: none;

        .heading-link--focus-area {
            background-color: var(--core-purple);
            color: var(--white);
            outline: none;

            * {
                color: var(--white);
            }
        }

        .horizontal-rule--short {
            border-color: transparent;
            width: 100%;
        }
    }
}