.heading-link {
  display: inline-block;
  text-decoration: none;

  &:hover {
    .heading-link--focus-area {
      * {
        color: var(--core-purple);
      }
    }

    .horizontal-rule--short {
      transition: width 0.3s ease-in;
      width: 100%;
    }
  }

  &:active,
  &:focus {
    outline: none;

    .heading-link--focus-area {
      background-color: var(--core-purple);
      color: var(--white);
      outline: none;

      * {
        color: var(--white);
      }
    }

    .horizontal-rule--short {
      border-color: transparent;
      width: 100%;
    }
  }

  .heading--level-2 {
    margin: 0 0 0.3125rem;
  }
}
