.mini-dashboard {
    @media all and (min-width: 48em) {
        display: flex;
        margin-bottom: 3rem;
    }

    &__container {
        padding: 0 1.25rem;

        @media all and (min-width: 48em) {
            display: inline-block;
            flex: 0 1 58%;
        }
    }

    &__heading {
        margin: 1rem 0;

        @media all and (min-width: 48em) {
            margin: 2rem 0 1.5rem;
        }
    }

    &__statistic-widget {
        display: inline-block;
        margin-bottom: 1rem;
    }
    &__statistic-text {
        display: block;
        font-family: Pebble;
        font-size: 37px;
        line-height: 1;

        @media all and (min-width: 48em) {
            display: inline;
            margin-right: 0.5rem;
        }
    }
    &__statistic-label {
        font-size: 0.875rem;
        font-family: 'Helvetica Neue Medium';
        line-height: 2;
    }

    &__links {
        align-self: flex-end;
        margin: 1rem 0 1rem 1.25rem;

        @media all and (min-width: 48em) {
            margin: 0 0 0 3rem;
        }
    }
    &__link-notifications {
        background-color: #D0021B;
        border-radius: 1rem;
        color: white;
        display: inline;
        font-size: 1rem;
        line-height: 1.3;
        text-align: center;
        padding: 1px 5.5px;
        cursor: default;
    }
}