<ul class="step-by-step">
    <li class="step-by-step__step-wrapper">
        <a tabindex="0" class="step-by-step__circle step-by-step__step step-by-step__step--interactive step-by-step__step--highlighted">
            <span class="step-by-step__number">1</span>
        </a>
        <div class="step-by-step__text">
            <h2 class="step-by-step__heading heading heading--level-2">Lorem</h2>
            <div class="step-by-step__description">This is a short descriptive text. This is a short descriptive text</div>
        </div>
        <div class="step-by-step__content">
            Ullamcorper massa in dictum consectetur. Sed eu luctus velit. Pellentesque aliquam, lectus eu aliquet suscipit, diam sem vulputate ex, posuere cursus mi arcu ac nunc. Vestibulum dictum metus nisi, non mattis diam porttitor ut. Nullam suscipit risus eget lacus gravida sagittis. Suspendisse massa augue, mollis a pretium nec, faucibus nec lorem. In hac habitasse platea dictumst. Integer rhoncus, massa at pretium molestie, dolor felis vulputate turpis, sit amet malesuada nulla odio quis neque. Praesent vel dolor tempor, posuere dolor ultrices, malesuada leo. Suspendisse et efficitur mi. Fusce nunc arcu, lacinia quis risus ut, sollicitudin rutrum ante. Nam arcu augue, feugiat eu lectus eu, bibendum cursus turpis. Duis feugiat sem a scelerisque tincidunt.
        </div>
    </li>
    <li class="step-by-step__step-wrapper">
        <a tabindex="0" class="step-by-step__circle step-by-step__step step-by-step__step--interactive">
            <span class="step-by-step__number">2</span>
        </a>
        <div class="step-by-step__text">
            <h2 class="step-by-step__heading heading heading--level-2">Lorem</h2>
            <div class="step-by-step__description">This is a short descriptive text</div>
        </div>
        <div class="step-by-step__content">
            Ullamcorper massa in dictum consectetur. Sed eu luctus velit. Pellentesque aliquam, lectus eu aliquet suscipit, diam sem vulputate ex, posuere cursus mi arcu ac nunc. Vestibulum dictum metus nisi, non mattis diam porttitor ut. Nullam suscipit risus eget lacus gravida sagittis. Suspendisse massa augue, mollis a pretium nec, faucibus nec lorem. In hac habitasse platea dictumst. Integer rhoncus, massa at pretium molestie, dolor felis vulputate turpis, sit amet malesuada nulla odio quis neque. Praesent vel dolor tempor, posuere dolor ultrices, malesuada leo. Suspendisse et efficitur mi. Fusce nunc arcu, lacinia quis risus ut, sollicitudin rutrum ante. Nam arcu augue, feugiat eu lectus eu, bibendum cursus turpis. Duis feugiat sem a scelerisque tincidunt.
        </div>
    </li>
    <li class="step-by-step__step-wrapper">
        <a tabindex="0" class="step-by-step__circle step-by-step__step step-by-step__step--interactive">
            <span class="step-by-step__number">3</span>
        </a>
        <div class="step-by-step__text">
            <h2 class="step-by-step__heading heading heading--level-2">Lorem</h2>
            <div class="step-by-step__description">This is a short descriptive text</div>
        </div>
        <div class="step-by-step__content">
            Ullamcorper massa in dictum consectetur. Sed eu luctus velit. Pellentesque aliquam, lectus eu aliquet suscipit, diam sem vulputate ex, posuere cursus mi arcu ac nunc. Vestibulum dictum metus nisi, non mattis diam porttitor ut. Nullam suscipit risus eget lacus gravida sagittis. Suspendisse massa augue, mollis a pretium nec, faucibus nec lorem. In hac habitasse platea dictumst. Integer rhoncus, massa at pretium molestie, dolor felis vulputate turpis, sit amet malesuada nulla odio quis neque. Praesent vel dolor tempor, posuere dolor ultrices, malesuada leo. Suspendisse et efficitur mi. Fusce nunc arcu, lacinia quis risus ut, sollicitudin rutrum ante. Nam arcu augue, feugiat eu lectus eu, bibendum cursus turpis. Duis feugiat sem a scelerisque tincidunt.
        </div>
    </li>
</ul>