.progress-chart {
    overflow: hidden;
    display: flex;
    flex-direction: row;

    align-items: center;
    padding: .4em 0;

    &__side {
        max-height: 20px;

        &-inner {
            display: flex;
            flex-direction: column;
            position: relative;

            transition: top .2s linear .1s;

            &--hidden-top {
                top: -2em;
            }

            &--hidden-bottom {
                top: 0em;
            }
        }
    }

    &__caption {
        display: flex;
        position: relative;
        opacity: 1;

        width: 100%;
        height: 100%;
        height: 2em;
        top: 0;
        padding: 0 1em;

        text-align: center;
        line-height: 1.3rem;
        white-space: nowrap;

        transition: opacity .2s linear .0s;

        &-value {
            font-family: 'TeliaSans-Medium', Helvetica, Arial, sans-serif;
        }

        &--hidden {
            transition: opacity .2s linear .0s;
            opacity: 0;
        }
    }

    &__spinner {
        margin: -5px 5px;
    }
}