.image {
  margin: 0 0 2rem 0;

  &--inline-left,
  &--inline-right {
    display: inline;
    margin-bottom: 0.75em;
    margin-top: 0.25em;
    max-width: 50%;

    .image__img {
      display: block;
      width: inherit;
    }
  }

  &--inline-left {
    float: left;
    margin-right: 1em;
  }

  &--inline-right {
    float: right;
    margin-left: 1em;
  }

  &__img {
    display: block;
    height: auto;
    max-width: 100%;
  }
}
