.product-promo-box {
    display: flex;
    max-width: var(--width-small);
    padding: 1rem;

    @media all and (min-width: 30em) {
        padding: 2rem;
    }

    /* Content: heading & description */
    &__image-container {
        margin-right: 1.5rem;
        width: 35%;

        @media all and (min-width: 30em) {
            margin-right: 3rem;
            width: 25%;
        }
    }
    &__image {
        width: 100%;
    }

    /* Content: heading & description */
    &__content-container {
        align-items: flex-start;
        display: flex;
        flex-flow: row wrap;
        width: 65%;

        @media all and (min-width: 30em) {
            width: 75%;
        }
    }
    &__product-name {
        margin-top: 0;
        width: 100%;
    }
    &__description {
        margin-bottom: 1.5rem;
        width: 100%;
    }

    /* Price, Price-label & Action Button */
    &__price-and-action {
        align-self: flex-end;
        border-top: 2px solid var(--grey);
        padding-top: 1rem;
        width: 100%;
    }
    &__price-info {
        @media all and (min-width: 36em) {
            float: left;
            width: 50%;
        }
    }
    &__price {
        font-family: 'pebble';
        font-size: 2rem;
        line-height: 1;
    }
    &__price-smallprint {
        font-size: 0.9rem;
    }
    &__button-container {
        padding-top: 1rem;

        @media all and (min-width: 36em) {
            float: right;
            padding-top: 0.5rem;
            text-align: right;
            width: 50%;
        }
    }

    /* Feature-circle / "speech bubble" */
    &--is-showing-feature {
        .product-promo-box__content-container {
            margin-top: 80px;

            @media all and (min-width: 36em) {
                margin-top: 0;
            }
        }
        .product-promo-box__content {
            @media all and (min-width: 36em) {
                padding-right: 120px;
            }
        }
    }
}