.paragraph {
    font-size: 1rem;
    letter-spacing: .01875rem;
    margin-bottom: 0.625rem;
    line-height: 1.5rem;
    margin-top: 0;

    &--preamble {
        font-size: 1.5rem;
    }

    &--small-text {
        font-size: 0.875rem;
    }

    &--fineprint {
        font-size: .9rem;
    }
}