.paragraph {
    font-size: 1rem;
    letter-spacing: .01875rem;
    line-height: 1.875rem;
    margin-top: 0;

    &--preamble {
        font-size: 1.5rem;
    }
    
    &--fineprint {
        font-size: .9rem;
    }
}