@import "../../colors.pcss";

.heading {
    color: var(--black);

    &--level-1 {
        color: var(--core-purple);
        font-family: 'pebble';
        font-size: 3.4375rem;
        margin: 0;
        padding: 1rem 0;
        text-transform: uppercase;
    }

    &--level-2 {
        font-family: 'Helvetica Neue Regular';
        font-size: 1.3125rem;
    }
}
