.content-rating {
    border: 1px solid var(--light-grey);
    padding: 1.5rem 1.5rem 2rem;

    &__heading {
        margin: 0 0 1rem;
    }

    &__icon {
        display: inline-block;
        height: 3rem;
        margin-right: 1rem;
        vertical-align: top;
        width: 3rem;
    }

    &__text {
        display: inline-block;
    }
}