<table class="table">
    <thead class="table__header">
        <tr class="table__row">
            <th class="table__cell">Column 1</th>
            <th class="table__cell">Column 2</th>
            <th class="table__cell">Column 3</th>
        </tr>
    </thead>
    <tbody class="table__body">
        <tr class="table__row">
            <td class="table__cell">Nulla quis lorem ut libero malesuada feugiat</td>
            <td class="table__cell">Lorem</td>
            <td class="table__cell">Ipsum</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">Lorem ipsum dolor sit amet</td>
            <td class="table__cell">Consectetur</td>
            <td class="table__cell">Elit</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">Donec rutrum congue leo</td>
            <td class="table__cell">Eget</td>
            <td class="table__cell">Malesuada</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">Nulla quis lorem ut libero malesuada feugiat</td>
            <td class="table__cell">Lorem</td>
            <td class="table__cell">Ipsum</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">Lorem ipsum dolor sit amet</td>
            <td class="table__cell">Consectetur</td>
            <td class="table__cell">Elit</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">Donec rutrum congue leo</td>
            <td class="table__cell">Eget</td>
            <td class="table__cell">Malesuada</td>
        </tr>
    </tbody>
</table>