.telia-footer {
    padding-bottom: 2rem;

    a {
        text-decoration: none;
        color: var(--white);
    }

    &__wrapper {
        padding-left: 5rem;
        padding-right: 5rem;

        @media all and (max-width: 53rem) {
            padding-left: 3rem;
            padding-right: 3rem;
        }

        @media all and (max-width: 45rem) {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
    }
    
    &__container {
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
        padding-bottom: 2rem;

        @media all and (max-width: 45rem) {
            display: block;
            padding: 1rem 0.5rem 1rem 0.5rem;
        }
    }

    &__black {
        background-color: var(--black);

        div {
            p {
                color: var(--white);
            }
        }
    }

    &__purple {
        background-color: var(--core-purple-800);

        div {
            h4 {
                color: var(--white);
            }
        }
    }
    
    &__decoration {
        color: var(--white);
        text-decoration: none;
    }

    &__purple-font {
        color: var(--core-purple-400) !important;
    }

    &__list-decoration {
        margin: 0;
        padding: 0;
        list-style-type: none;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

   &__address-to-use {
       margin: 0;
       padding-top: 1rem;

       p {
           margin: 0;
       }
   }

   &__sosial {
       padding-top: 1rem;
   }

   &__heading {
       margin: 0;
       padding-top: 1rem;
       padding-bottom: 1rem;
   }

   &__remove-padding {
       padding-top: 0;
   }

   /* &__grid {
       padding-top: 1rem;
   } */

   &__accordion {
    @media all and (max-width: 45rem) {
        display: block; 
        width: 100%;
    }
    }

    &__accordion-item:last-child {
        @media all and (max-width: 45rem) {
            border-bottom: solid 1px var(--core-purple);
        }
    }

    &__accordion-content-mobile {
        display: none;

        @media all and (max-width: 45rem) {
            display: block;
            padding-bottom: 1rem;
        }
    }

    &__accordion-content-desktop {
        width: 7rem;
        display: block;
        @media all and (max-width: 45rem) {
            display: none;
        }
    }

    &__accordion-arrow {
        @media all and (max-width: 45rem) {
            display: inline-block;
        }
    }

    &__right {
        display: none;

        @media all and (max-width: 45rem) {
            display: block;
            float: right;
            padding-top: 1rem;
            margin-right: -0.5rem;
            color: var(--core-purple);
        }
    }

    &__accordion-header {
        color: var(--white);

        @media all and (max-width: 45rem) {
            width: 100%;
            border-top: solid 1px var(--core-purple);
        }
    }
}