.telia-footer {
    padding-bottom: 2rem;

    a {
        text-decoration: none;
        color: var(--white);
    }

    &__wrapper {
        padding-top: 1rem;
        padding-left: 10%;
        padding-right: 10%;

        @media all and (max-width: 59rem) {
            padding-left: 1.7rem;
            padding-right: 1.7rem;
        }
    }
    
    &__container {
        display: flex;
        justify-content: space-between;
        padding-bottom: 2rem;

        @media all and (max-width: 59rem) {
            display: block;
        }
    }

    &__black {
        background-color: var(--black);

        div {
            p {
                color: var(--white);
            }
        }
    }

    &__purple {
        background-color: var(--core-purple-800);

        div {
            h4 {
                color: var(--white);
            }
        }
    }
    
    &__decoration {
        color: var(--white);
        text-decoration: none;
    }

    &__purple-font {
        color: var(--core-purple-400) !important;

        @media all and (max-width: 59rem) {
            color: var(--white) !important;
        }
    }

    &__list-decoration {
        margin: 0;
        padding: 0;
        list-style-type: none;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

   &__address-to-use {
       margin: 0;
       padding-top: 1rem;

       p {
           margin: 0;
       }
   }

   &__sosial {
       padding-top: 1rem;
   }

   &__heading {
       margin: 0;
       padding-top: 1rem;
       padding-bottom: 1rem;
   }

   &__remove-padding {
       padding-top: 0;
   }

   &__accordion {
        @media all and (max-width: 59rem) {
            display: block; 
            width: 100%;
        }
    }

    &__accordion-item {
        
        @media all and (max-width: 59rem) {
            border-bottom: solid 1px var(--core-purple);
        }
    }

    &__set-top-horizontal-line {
        @media all and (max-width: 59rem) {
            border-top: solid 1px var(--core-purple);
        }
    }

    &__accordion-content-mobile {
        display: none;

        @media all and (max-width: 59rem) {
            display: block;
            padding-bottom: 1rem;
        }
    }

    &__accordion-content-desktop {
        width: 8rem;
        padding-top: 1rem;
        display: block;

        @media all and (max-width: 59rem) {
            display: none;
        }
    }

    &__accordion-privacy-and-settings {
        padding-top: 1rem;
        display: none;

        @media all and (max-width: 59rem) {
            display: block;    
        }
    }

    &__accordion-arrow {
        @media all and (max-width: 59rem) {
            display: inline-block;
        }
    }

    &__arrow-move-right {
        display: none;

        @media all and (max-width: 59rem) {
            display: block;
            float: right;
            padding-top: 1rem;
            margin-right: -0.5rem;
            color: var(--core-purple);
        }
    }

    &__accordion-header {
        color: var(--white);

        @media all and (max-width: 59rem) {
            width: 100%;
        }
    }

    &__vertical-seperator-line {
        display: none;
        padding-left: 0.5rem;

        @media all and (max-width: 59rem) {
            display: inline;
            border-left: 1px solid var(--core-purple);
            margin-left: 1.5rem; 
            padding-left: 1.5rem;           
        }
    }

    &__sosial-media-name {
        padding-left: 0.5rem;

        @media all and (max-width: 59rem) {
            display: none;
            padding-right: 0.5rem;
        }
    }
}