.link-table {
    margin: 20px;
    padding: 0;

    list-style: none;
    display: flex;
    flex-wrap: wrap;

    background-color: var(--white);

    &__item {
        border-bottom: 1px solid var(--grey-darker);
        border-left: 1px solid var(--grey-darker);
        border-right: 1px solid var(--grey-darker);

        width: 100%;
        display: flex;

        &:first-child {
            border-top: 1px solid var(--grey-darker);
        }

        @media all and (min-width: em(512)) {
            width: 50%;

            &:nth-child(1),
            &:nth-child(2) {
                 border-top: 1px solid var(--grey-darker);
            }

            &:nth-child(even) {
                border-left: none;
            }
        }

        @media all and (min-width: em(1120)) {
            width: 25%;

            &:nth-child(3),
            &:nth-child(4) {
                 border-top: 1px solid var(--grey-darker);
            }

            &:nth-child(4n+2),
            &:nth-child(4n+3),
            &:nth-child(4n+4) {
                border-left: none;
            }
        }

        &:last-child {

        }
    }

    &--wrap-by-two {
        .link-table__item {
            width: 100%;

            @media all and (min-width: em(512)) {
                width: 50%;

                &:nth-child(2n+1) {
                    border-left: 1px solid var(--grey-darker);;
                }

                &:nth-child(3),
                &:nth-child(4) {
                    border-top: none;
                }

                &:nth-child(2n+0) {
                    border-left: none;
                }
            }
        }
    }

    &__link {
        display: flex;
        height: 64px;
        width: 100%;

        &:hover {
            > .link-table__icon * {
                fill:var(--core-purple);
            }
        }

        &:active,
        &:focus {
            > .link-table__icon * {
                fill:var(--white);
            }
        }
    }

    &__icon {
        width: 32px;
        height: 32px;
        margin-left: 16px;
        margin-right: 16px;
        align-self: center;
    }

    &__text {
        align-self: center;
    }
}