.info-banner {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid #990AE3;
        padding: 0.5rem;
        width: 300px;
        border-radius: 2px;
    }

    &__header {
        font-family: Pebble;
        font-size: 2rem;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        line-height: 2rem;
        padding: 0.5rem 0 0.7rem 0;
    }

    &__content {
        padding: 0.4rem;
        font-size: 1.1rem;
        text-align: center;
    }

    &__button {
        padding: 0.7rem;
    }

    &__top-row {
        align-self: flex-end;
        cursor: pointer;
    }

    &__icon-close {
        display: block;
        width: 16px;
        height: 16px;
    }
}