@keyframes focus-box-animation {
    0%   { background-position: -1000px -1000px; }
    25%  { background-position: -1000px -1000px; }
    100% { background-position: -600px  -1000px; }
}

.focus-box {
    animation: focus-box-animation 4s 1;
    background: transparent url('/public/pebbles/pebble-14.svg') no-repeat -600px -1000px;
    background-size: 2000px;
    margin: 0 auto var(--margin-bottom);
    max-width: var(--width-medium);
    padding: 0.5rem 0;

    &--expanded-width {
        margin: 0 -7.63rem var(--margin-bottom);
    }

    @media screen and (min-width: 28.125em) {
        padding: 0.5rem;
    }

    &__content-outer {
        background-color: white;
    }

    &__content-inner {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}