:root {
  --cart-icon-large: 1.5rem;
  --cart-item-count-size: 1.2rem;
}

.menu-cart {
  &__button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    border: 0;
    padding: 0;
    letter-spacing: 1px;
    height: 100%;
    width: var(--menu-button-width-small);
    position: relative;

    @media all and (min-width: rem(600)) {
      width: var(--menu-button-width);
      justify-content: center;
    }

    @media screen and (min-width: rem(1120)) {
      align-items: center;
    }

    &:hover,
    &:focus,
    &:active {
      outline: none;
      cursor: pointer;

      .Icon {
        fill: var(--core-purple);
        color: var(--core-purple);
      }
    }
  }

  &__icon-container {
    color: black;
    position: relative;
  }
  &__icon {
    display: block;
    width: 100%;
    height: 100%;
  }
  &__item-count {
    background-color: var(--purple-700);
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--cart-item-count-size) / 2);
    font-weight: bold;
    line-height: var(--cart-item-count-size);
    position: absolute;
    right: -22%;
    top: -10%;
    height: var(--cart-item-count-size);
    width: var(--cart-item-count-size);
  }
}
