.svg_edit,
.svg_trashcan {
  width: 45px;
  height: 45px;
  stroke: none;
  stroke-width: 1;
  fill: none;
  fill-rule: evenodd;
}
.svg_ico_add_black,
.svg_ico_add_purple,
.svg_ico_add_white {
  width: 15px;
  height: 15px;
}
.svg_ico_add_black {
  fill: #000000;
  fill-rule: evenodd;
}
.svg_ico_add_purple,
.svg_ico_delete_purple,
.svg_ico_dropArrow_purple,
.svg_ico_download_purple,
.svg_ico_enduser_purple,
.svg_ico_info_purple,
.svg_ico_linkarrow_purple,
.svg_ico_heart_purple,
.svg_ico_minus_purple,
.svg_ico_menu_purple,
.svg_ico_router_refill_purple {
  fill: #990AE3;
  fill-rule: evenodd;
}
.svg_full-screen-image-mask {
  width: 1417px;
  height: 152px;
  fill: #FFF;
  fill-rule: evenodd;
}
.svg_ico_backarrow_purple,
.svg_ico_backarrow,
.svg_ico_backarrow_white,
.svg_ico_linkarrow_black,
.svg_ico_linkarrow_purple,
.svg_ico_linkarrow_white {
  width: 9px;
  height: 13px;
}
.svg_facebook_icon {
  width: 37.84px;
  height: 37.84px;
}
.svg_ico_add_white,
.svg_ico_delete_white,
.svg_ico_download_white,
.svg_ico_linkarrow_white,
.svg_ico_minus_white {
  fill: #FFF;
  fill-rule: evenodd;
}
.svg_ico_check_purple,
.svg_ico_check {
  width: 14px;
  height: 11px;
}
.svg_ico_check_purple {
  fill: #990AE3;
}
.svg_ico_code-2 {
  width: 512px;
  height: 512px;
}
.svg_ico_buy,
.svg_ico_download_white,
.svg_ico_download_purple,
.svg_ico_download {
  width: 17px;
  height: 18px;
}
.svg_ico_buy,
.svg_ico_download,
.svg_ico_linkarrow_black {
  fill-rule: evenodd;
}
.svg_ico_code {
  width: 543.232px;
  height: 543.232px;
}
.svg_ico_checkmark_green {
  width: 21px;
  height: 16px;
  fill: #0C6;
}
.svg_ico_contacts {
  width: 567.01px;
  height: 536.01px;
}
.svg_ico_databoost_purple {
  width: 459.8px;
  height: 463.27px;
  fill: #990AE3;
}
.svg_ico_default_doc,
.svg_ico_statistics {
  width: 670.83px;
  height: 670.83px;
}
.svg_ico_content,
.svg_ico_info_purple,
.svg_ico_info,
.svg_ico_search {
  width: 17px;
  height: 17px;
}
.svg_ico_content,
.svg_ico_info,
.svg_ico_search {
  fill-rule: evenodd;
}
.svg_ico_delete_white,
.svg_ico_delete_purple {
  width: 10px;
  height: 10px;
}
.svg_ico_delete {
  width: 21px;
  height: 21px;
  fill-rule: evenodd;
}
.svg_ico_dropArrow_purple,
.svg_ico_dropArrow {
  width: 15px;
  height: 10px;
}
.svg_ico_edit {
  width: 16px;
  height: 18px;
  fill-rule: evenodd;
}
.svg_ico_end_user {
  width: 616px;
  height: 557.15px;
}
.svg_ico_enduser_purple,
.svg_ico_menu_logged_in {
  width: 17px;
  height: 16px;
}
.svg_ico_dropArrow,
.svg_ico_favourites,
.svg_ico_heart,
.svg_ico_linkarrow,
.svg_ico_menu_logged_in,
.svg_ico_menu,
.svg_ico_mobile,
.svg_ico_music,
.svg_ico_premisesdatacenter,
.svg_ico_share,
.svg_ico_quote,
.svg_ico_wireless {
  fill-rule: evenodd;
}
.svg_ico_home {
  width: 591.91px;
  height: 591.7px;
}
.svg_ico_favourites {
  width: 14px;
  height: 14px;
}
.svg_ico_heart_purple,
.svg_ico_heart {
  width: 51px;
  height: 45px;
}
.svg_ico_heart {
  fill: #231F20;
}
.svg_ico_linkarrow {
  width: 13px;
  height: 13px;
}
.svg_ico_minus_purple,
.svg_ico_minus_white {
  width: 16px;
  height: 4px;
}
.svg_ico_menu,
.svg_ico_menu_purple {
  width: 14px;
  height: 12px;
}
.svg_ico_mobile {
  width: 13px;
  height: 18px;
}
.svg_ico_music {
  width: 16px;
  height: 17px;
}
.svg_ico_money_purple {
  width: 555.73px;
  height: 635.32px;
  fill: #990AE3;
}
.svg_ico_refill_purple {
  width: 21px;
  height: 30px;
  fill: #990AE3;
}
.svg_ico_premisesdatacenter {
  width: 18px;
  height: 15px;
}
.svg_ico_share {
  width: 12px;
  height: 15px;
}
.svg_ico_quote {
  width: 16px;
  height: 14px;
  fill: #726E6E;
}
.svg_ico_router_refill_purple {
  width: 28px;
  height: 25px;
}
.svg_linkedin_icon_purple,
.svg_linkedin_icon,
.svg_linkedin_icon_white {
  width: 38.08px;
  height: 38.08px;
}
.svg_ico_wireless {
  width: 16px;
  height: 13px;
}
.svg_ico_subscription_purple {
  width: 700px;
  height: 700px;
}
.svg_silent_icon {
  width: 652.25px;
  height: 534.69px;
}
.svg_twitter_icon_purple,
.svg_twitter_icon,
.svg_twitter_icon_white {
  width: 48.04px;
  height: 39.04px;
}
.svg_step-by-step-pebble-grey {
  width: 66px;
  height: 72px;
  fill: #F2F2F2;
  stroke: #DEDEDE;
}
.svg_step-by-step-pebble-purple {
  width: 67px;
  height: 73px;
  fill: #990AE3;
  stroke: #DEDEDE;
}
.svg_volume_icon {
  width: 652.25px;
  height: 527.37px;
}
