.telia-bundle-deal-box {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  max-width: 21rem;
  position: relative;
  margin-top: 2rem;
  min-height: 24rem;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);

  &__wrapper {
    padding: 1rem;
    background-color: white;
    border:none;
    text-decoration: none;
    border-radius: 0.5rem;
    color: black;

    &:focus, &:hover {
      outline: solid 2px rgba(0, 0, 0, 0.15);
    }
  }


  &__flashText-container {
    width: 100%;
    position: relative;
  }

  &__flashText {
    padding: 4px 8px;
    font-size: 14px;
    position: absolute;
    font-family: 'TeliaSans-Medium', Helvetica, Arial, sans-serif;
    top: -1.3rem;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    left: 0;
    right: 0;
  }

  &__image-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__product-image {
    margin-top: 2.2rem;
    object-fit: contain;
    max-width: 8rem;
    max-height: 7rem;
  }

  &__upper-container {
    height: 23rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .heading {
      text-align: left;
      width: 100%;
    }

    @media all and (min-width: 48em) {
      min-height: 15rem;
    }
  }

  &__description, &__lower-container {
    text-align: left;
  }

  &__price-container {
    display: flex;
    margin: 0.5rem 0 0.5rem 0;
    align-items: center;
    width: 100%;

    &--strikethrough {
      text-decoration: line-through;
      margin-right: 1rem;
      text-decoration-color: #990ae3;
    }

    &--salesPrice {
      color: #990ae3;
      font-family: 'TeliaSans-Medium', Helvetica, Arial, sans-serif;
      font-size: 1.5rem;
    }
  }
}
