.shopping-cart-family-discount-info {
  background: #faf0ff;
  padding: 0.5rem 2rem 1.5rem 2rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  width: 20rem;
  margin: 2rem auto 0 auto;

  @media all and (min-width: 48em) {
    width: 26rem;
  }

  &__heading-container {
    display: flex;
    align-items: center;
  }

  &__heading-icon {
    margin-right: 1rem;
  }
}
