.telia-shopping-cart {
  margin-bottom: 1.5rem;

  &__section {
    &--grey {
      background-color: var(--grey-100);
    }
  }

  &__disclaimer {
    font-size: 0.875rem;
    padding: 0.5rem 1rem 0 1rem;
  }

  &__section-inner {
    padding: 1rem;
  }

  &__horizontal-rule-wrapper {
    padding: 1rem 1rem 0 1rem;
    background-color: white;

    .telia-shopping-cart__horizontal-rule {
      margin: 0;
    }
  }

  &__horizontal-rule {
    width: 100%;
    border-bottom: 1px solid #d5d5d5;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 1rem 0;
  }

  &__heading {
    margin: 0;
  }

  &__continue-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;

    @media all and (min-width: 48em) {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }

    .button {
      margin: 0 !important;
      width: 100%;
      max-width: 16rem;

      &:not(:first-of-type) {
        margin-top: 1rem !important;
      }

      @media all and (min-width: 48em) {
        width: 16rem;
        &:not(:first-of-type) {
          margin-top: 0 !important;
        }
        &:not(:last-of-type) {
          margin-right: 1rem !important;
        }
      }
    }
  }

  &__delivery-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__delivery-left {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }

  &__label-medium {
    color: var(--grey-900);
    font-family: 'TeliaSans-Medium', Helvetica, Arial, sans-serif;
  }

  &__delivery-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.75rem;
  }

  &__price-upfront-container {
    background-color: #fff;
    border: 1px solid #000;
    padding: 1rem;
  }

  &__price-monthly-details-total {
    margin-top: 1.5rem;
  }

  &__price-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > :first-child {
      margin-right: 0.5rem;
    }
  }

  &__tooltip-icon-wrapper {
    margin-left: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
  }

  &__tooltip-icon {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    color: var(--core-purple);
  }

  &__tooltip {
    width: 15rem;

    @media all and (min-width: 48em) {
      width: 22rem;
    }
  }

  &__flex-row {
    display: flex;
    align-items: center;
  }
}
