.alert {
    border-left: none;
    border-right: none;
    margin-bottom: 1rem;
    padding: 1rem;

    @media screen and (min-width: 60em) {
        border: 2px solid var(--dark-green);
        border-radius: 5px;
        display: flex;
        margin: 1rem auto;
        width: var(--width-small);
    }

    &__icon {
        height: 2rem;
        width: 2rem;

        @media screen and (min-width: 60em) {
            height: 4rem;
            width: 4rem;
        }
    }

    &__content {
        @media screen and (min-width: 60em) {
            display: inline-block;
            padding-left: 1rem;
        }
    }
}

.alert--positive {
    background-color: var(--alert-green);
    border: 2px solid var(--dark-green);
}

.alert--negative {
    background-color: var(--alert-red);
    border: 2px solid var(--alert-dark-red);;
}

.alert--warning {
    background-color: var(--alert-yellow);
    border: 2px solid var(--alert-dark-yellow);
}