.info-card {
  background-color: var(--grey-200);
  padding: 0 0.75rem 0.75rem;

  &__title {
    display: flex;
    align-items: center;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0 0;
  }

  &__item {
    position: relative;
    padding-left: 2rem;
    font-family: 'TeliaSans-Regular', Helvetica, Arial, sans-serif;
    font-size: 1rem;
  }

  &__title-icon {
    margin-left: 0.5rem;
    width: 1.8rem;
    height: 1.8rem;
    color: var(--grey-900);
  }

  &__icon {
    position: absolute;
    left: 0;
    top: 4px;
    margin: 0 0.5rem;
    width: 1rem;
    height: 1rem;
    color: var(--dark-blue);
  }
}
