.product-list {
    margin-bottom: 2rem;

    &__item {
        margin-bottom: 0.75rem;
        padding: 1.25rem 1.75rem 1.25rem 1.75rem;

        border: 2px solid #d9d9d9;

        cursor: pointer;
        min-height: 5.75rem;

        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        text-decoration: none;

        &:focus {
            border-color: var(--core-purple);
            outline: none;
        }

        &:hover {
            border-color: var(--core-purple);
        }

        &--link-icon {
            height: 0.875rem;
            width: 0.875rem;
        }

        @media all and (max-width: 30em) {
            background-position: right 1rem center;
            min-height: 5rem;
            padding: 1rem 1.75rem 1rem 1.25rem;
        }

        &--promo {
            position: relative;
            overflow: hidden;
            border: none;

            &:before {
                content: ' ';
                display: block;
                position: absolute;
                width: 200%;
                height: 900%;
                top: -450%;
                left: -50%;
                z-index: -2;
                animation: promo-animation linear 4s infinite;
                background-position: center;
                background: linear-gradient(to right, #009999 0%,#009797 2%,#009797 2%,#009b9b 7.2%,#00d1cc 11.5%,#10c6d0 11.6%,#8d71f5 11.9%,#03cecb 11.5%,#a561fb 12%,#b555ff 12%,#af5afe 12%,#b707dc 17%,#b707dc 21%,#b707dc 21%,#940ae4 23%,#8720e0 33%,#3887d4 34%,#3887d4 34%,#3887d4 39%,#3887d4 39%,#13c0cd 43%,#13c0cd 46%,#d0ee39 50%,#d0ee39 61%,#d0ee39 61%,#ff00ce 66%,#e002d4 71%,#e002d4 71%,#b05efe 74%,#b05efe 82%,#b05efe 82%,#3887d4 88%,#3887d4 88%,#00c3c2 96%,#00c3c2 100%,#00c3c2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            }
            &:after {
                content: ' ';
                display: block;
                position: absolute;
                background: var(--white);
                left: 2px;
                top: 2px;
                bottom: 2px;
                right: 2px;
                z-index: -1;
            }

            .product-list__item-heading {
                color: var(--core-purple);
            }
        }
    }

    &__item-icon {
        flex-grow: 0;
        height: 1.75rem;
        width: 1.75rem;
        margin-right: 1.5rem;
    }

    &__item-content {
        flex-grow: 1;
    }

    &__item-heading {
        color: black;
        font-family: "pebble";
        font-size: 1.5rem;
        line-height: 1;
        text-decoration: none;

        @media all and (max-width: 30em) {
            font-size: 1.2rem;
        }
    }

    &__item-description {
        color: black;
        text-decoration: none;
    }

}
@keyframes promo-animation {
  0%   { transform: rotate(0deg); }
  50%  { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}
