<div class="radio-button-list">
    <div class="radio-button-list__item">
        <input class="radio-button-list__radio" name="radio-example-1-group" id="radio-example-1-radio-1" type="radio" checked />
        <label class="radio-button-list__label" for="radio-example-1-radio-1">This is a radio button</label>
    </div>
    <div class="radio-button-list__item">
        <input class="radio-button-list__radio" name="radio-example-1-group" id="radio-example-1-radio-2" type="radio" />
        <label class="radio-button-list__label" for="radio-example-1-radio-2">Another radio button</label>
    </div>
</div>