<div class="radio-button-list radio-button-list--vertical">
    <label class="radio-button-list__label" for="radio-example-2-radio-1">
        <input class="radio-button-list__radio" name="radio-example-2-group" id="radio-example-2-radio-1" type="radio" checked />
        <span class="radio-button-list__label-text">This is a radio button</span>
    </label>
    <label class="radio-button-list__label" for="radio-example-2-radio-2">
        <input class="radio-button-list__radio" name="radio-example-2-group" id="radio-example-2-radio-2" type="radio" />
        <span class="radio-button-list__label-text">Another radio button</span>
    </label>
</div>