.icon-link {
        
    display: inline-block;
    height: 35px;
    width: 35px;
    margin-right: 0.5rem;
    padding: 5px;
   

    &__icon {
        height: 25px;
        width: 25px;
    }

    &:hover {
        > .icon-link__icon * {
            fill:var(--core-purple);
        }
    }

    &:active,
    &:focus {
        background-color: var(--core-purple);
        outline: none;

        > .icon-link__icon * {
            fill:var(--white);
        }
    }
}