.link-list {
    padding-left: 1.375rem;
    font-size: 0.875rem;
    font-weight: bold;

    &__item {
        list-style-image: url('/public/icons/ico_linkarrow_purple.svg');
        padding-bottom: 0.5rem;
    }

    &__link {
        color: var(--core-purple);
        text-decoration: none;
    }
}