.subscription-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    @media all and (min-width: 25.3125em) {
        flex-wrap: wrap;
    }

    .subscription {
        display: flex;
    }
}

.subscription {
    background-color: var(--white);
    cursor: pointer;
    display: inline-block;
    margin: 3%;
    position: relative;
    width: 44%;

    @media all and (min-width: 25.3125em) {
        flex-basis: auto;
        margin: 0.75rem;
        min-width: 168px;
        width: auto;
    }

    &--pink {
        border: 3px solid var(--pink);

        &.subscription--is-expanded {
            .subscription__teaser {
                border: 3px solid var(--pink);
            }
            .subscription__teaser-content {
                background-color: var(--pink);
            }
        }
    }

    &--light-orange {
        border: 3px solid var(--light-orange);

        &.subscription--is-expanded {
            .subscription__teaser {
                border: 3px solid var(--light-orange);
            }
            .subscription__teaser-content {
                background-color: var(--light-orange);
            }
        }
    }

    &--green {
        border: 3px solid var(--green);

        &.subscription--is-expanded,
        &.subscription--is-standalone {
            .subscription__teaser {
                border: 3px solid var(--green);
            }
            .subscription__teaser-content {
                background-color: var(--green);
            }
        }
    }

    &--teal {
        border: 3px solid var(--teal);

        &.subscription--is-expanded {
            .subscription__teaser {
                border: 3px solid var(--teal);
            }
            .subscription__teaser-content {
                background-color: var(--teal);
            }
        }
    }

    &--blue {
        border: 3px solid var(--blue);

        &.subscription--is-expanded {
            .subscription__teaser {
                border: 3px solid var(--blue);
            }
            .subscription__teaser-content {
                background-color: var(--blue);
            }
        }
    }

    /* Close button */
    &__close-expanded-info {
        background: none;
        border: none;
        display: none;
        padding: .5rem;

        @media all and (min-width: 21em) {
            padding: 1rem;
        }
    }

    &__close-text {
        display: none;

        @media all and (min-width: 25.3125em) {
            display: inline;
            padding: 1rem;
            vertical-align: super;
        }
    }

    &__close-image {
        width: 25px;
    }

    /* Teaser */
    &__teaser {
        text-align: center;
        width: 100%;

        @media all and (min-width: 25.3125em) {
            width: 165px;
        }
    }
    &__teaser-content {
        padding: 1rem 0;
    }
    &__name {
        font-size: 0.75rem;
        font-weight: 400;
        margin: 0;
        text-transform: uppercase;
    }
    &__data-amount {
        display: block;
        font-family: 'pebble';
        font-size: 4rem;
        line-height: 4rem;
        margin-top: 1rem;

        @media all and (min-width: 25.3125em) {
            font-size: 5rem;
            line-height: 5rem;
        }
    }
    &__data-unit {
        display: block;
        font-family: 'pebble';
        font-size: 2rem;
    }
    &__price {
        display: block;
        font-family: 'pebble';
        font-size: 2rem;
    }
    &__price-info {
        display: block;
        font-size: 0.75rem;
    }
    &__teaser-links {
        display: none;
    }

    /* Features */
    &__features {
        display: none;

        .special-message, .button {
            display: none;
        }
    }
    &__highlighted-feature {
    }
    &__highlighted-feature-icon {
        height: 32px;
        width: 32px;
    }
    &__highlighted-feature-text {
        display: block;
    }
    &--is-expanded,
    &--is-showing-features {
        max-width: 366px;

        .subscription__teaser {
            display: inline-block;
            width: 50%;
        }
        .subscription__features {
            display: inline-block;
            padding: 5rem 0 0 1rem;
            text-align: center;
            width: 50%;
        }
    }

    &--is-showing-features {
        width: 94%;

        @media all and (min-width: 25.3125em) {
            width: 366px;
        }
    }

    /* Expanded info */
    &__expanded-info {
        display: none;
    }
    &--is-expanded {
        align-items: flex-start;
        cursor: default;
        flex-wrap: wrap;
        padding: 1rem;
        margin: 1%;
        max-width: inherit;
        width: 98%;

        @media all and (min-width: 25.3125em) {
            padding: 2rem;
        }

        .subscription__close-expanded-info {
            cursor: pointer;
            display: block;
            position: absolute;
            right: 0;
            top: 0;
        }
        .subscription__teaser {
            @media all and (min-width: 25.3125em) {
                width: 165px;
            }
        }
        .subscription__teaser-links {
            background-color: var(--white);
            display: block;
            padding: 0.5rem;
        }
        .subscription__data-amount {
            font-size: 5rem;
            line-height: 5rem;
        }
        .subscription__features {
            flex-grow: 2;

            .special-message {
                display: block;
                margin-bottom: 0;
            }
            .button {
                display: inline-block;
                margin: 2rem 0 0 0;
            }
        }
        .subscription__expanded-info {
            display: block;
            padding-top: 2rem;
            text-align: left;
            width: 1000px;
        }
    }

    &--is-standalone {
        border: none;
        cursor: auto;
        margin: 0;

        .subscription__teaser-links {
            background-color: var(--white);
            display: block;
            padding: 0.5rem;
        }
    }
}