<a class="hero heading-link" href="#">
    <figure class="hero__figure">
        <img class="hero__image" src="/public/website-images/hero.jpg" alt="Woman holding iPad" />
        <div class="hero__image-color-field" style="background-color: #04263F"></div>
    </figure>
    <div class="hero__box heading-link--focus-area">
        <h2 class="hero__heading">A heading for this Hero</h2>
        <div class="hero__subheading">And this is the subheading
            <hr class="horizontal-rule horizontal-rule--short horizontal-rule--left" />
        </div>
    </div>
</a>