.hero {
    color: var(--black);
    display: block;
    position: relative;
    text-decoration: none;
    text-align: center;

    .horizontal-rule {
        margin: 0 auto;
    }

    &:active,
    &:focus {

        .horizontal-rule {
            border-color: var(--white);
        }
    }

    @media all and (min-width: 48em) {
        text-align: left;

        .horizontal-rule {
            margin: 0;
        }
    }

    &__image {
    }

    &__box {
        background-color: var(--white);
        bottom: 8%;
        height: 150px;
        left: 0;
        margin: 0 auto;
        max-width: 320px;
        padding: 20px 10px 30px;
        position: absolute;
        right: 0;
        width: 100%;

        @media all and (min-width: 48em) {
            bottom: 15%;
            height: 280px;
            left: 15%;
            margin: 0;
            max-width: 490px;
            padding: 30px;
        }
    }

    &__heading {
        color: var(--core-purple);
        font-family: Pebble;
        font-size: 25px;
        line-height: 27px;
        margin: 0 0 15px;
        text-transform: uppercase;

        @media all and (min-width: 48em) {
            font-size: 45px;
            line-height: 45px;
        }
    }

    &__subheading {
        display: inline-block;
        line-height: 40px;

        @media all and (min-width: 48em) {
            font-size: 18px;
        }
    }
}