<a class="hero hero--with-pebbles hero--with-pebbles-only-on-desktop hero--with-pebbles-variant-3 heading-link" href="#">
    <picture class="hero__picture">
        <source media="(max-width: 47.99em)" srcset="/public/website-images/hero2_mobil.jpg">
        <source media="(min-width: 48em)" srcset="/public/website-images/hero2.jpg">
        <img class="hero__image hero__image--align-bottom" src="/public/website-images/hero2.jpg" alt="Man stretching his leg by a lake">
    </picture>
    <div class="hero__box heading-link--focus-area">
        <h2 class="hero__heading">Hero with pebbles only on desktop</h2>
        <div class="hero__subheading">The image is bottom aligned, seen when browser is bigger than 1440px.
            <hr class="horizontal-rule horizontal-rule--short horizontal-rule--left" />
        </div>
    </div>
</a>