<a class="hero heading-link" href="#">
    <figure class="hero__image full-width-image full-width-image--no-margin">
        <img class="full-width-image__image" src="/public/website-images/woman-holding-ipad.jpg"  alt="Woman holding iPad" />
    </figure>
    <div class="hero__box heading-link--focus-area">
        <h2 class="hero__heading">Hvilken musikk liker Lars Vaular egentlig?</h2>
        <div class="hero__subheading">Sjekk hva forskerne fant ut
            <hr class="horizontal-rule horizontal-rule--short horizontal-rule--left" />
        </div>
    </div>
</a>