.telia-carousel {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    position: relative;

    .main-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 1rem 0.5rem;

        .slides {
            overflow: hidden;
            display: flex;
            transition: transform 0.5s ease;
            width: 100%;

            .slide {
                opacity: 0;
                min-width: 100%;
                display: flex;
                justify-content: center;
                width: 100%;

                .slide-items {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    min-width: 100%;
                    margin: 1rem;

                    &--center {
                        justify-content: space-evenly;
                    }

                    .product-link {
                        text-decoration: none;
                    }

                    .product-price {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        font-family: 'TeliaSans-Bold';
                        font-size: 2rem;
                        margin: 0;
                        margin-bottom: 0.5rem;

                        .price-text {
                            grid-column: 2;
                        }

                        .additional-info {
                            display: flex;
                            grid-column: 3;                           
                            justify-self: left;
                        }

                        .suffix {
                            font-size: 0.875rem;
                            align-self: center;
                        }
                    }
                }
                
                &--active {
                    opacity: 1;
                    transform: translateX(0); /* Move the active slide to the center */
                }

                &:last-child {
                    .slide {
                        margin: 1rem;
                    }
                }
            }
        }

        .arrow-container {
            width: 40px;
            height: 40px;
            color: #fff;
            background-color: #DEDBDB;
            border-radius: 50%;
            margin: auto 12px;

            @media (max-width: 560px) and (min-width: 410px) {
                position: absolute;
                top: 12.75rem;
                margin: 0;
                &--right {
                    right: 0px;
                } 
                &--left {
                    z-index: 1;
                    left: 0px;
                }
            }

            .Icon {
                width: 40px;
                height: 40px;
                padding: 4px;

                &:focus, &:hover, &:active {
                    cursor: pointer;
                    background-color: #6E6E6E;
                    border-radius: 50%;
                    opacity: 50%;
                }
            }

            @media (max-width: 410px) {
                margin: auto;
            }

            &--hidden {
                visibility: hidden;
            }
        }
    }

    .pages-indicator {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;

        .page-bubble {
            display: inline-block;
            height: 14px;
            width: 14px;
            margin: 11px;
            background-color: #DEDBDB;
            border-radius: 50%;
            opacity: 50%;

            &:focus, &:hover, &:active {
                cursor: pointer;
                opacity: 85%;
            }

            &--current {
                background-color: #6E6E6E;
                
                &:focus, &:hover, &:active {
                    cursor: default;
                    opacity: 50%;
                }
            }

        }
    }
}