<ul class="list list--icon-text-links">
    <li class="list__item">
        <a class="list__link" href="#" aria-label="">
            <span class="list__link-bubble">
                <i class="list__link-icon" style="background-image: url('/public/icons/facebook_icon_sprite.svg')"></i>
            </span>
            <span class="list__link-text">Facebook</span>
        </a>
    </li>
    <li class="list__item">
        <a class="list__link" href="#" aria-label="">
            <span class="list__link-bubble">
                <i class="list__link-icon" style="background-image: url('/public/icons/twitter_icon_sprite.svg')"></i>
            </span>
            <span class="list__link-text">Twitter</span>
        </a>
    </li>
</ul>