<section class="related-articles">
    <div class="container container--large container--no-padding container--extra-margin-bottom">
        <h2 class="heading heading--level-2 related-articles__heading">Related articles</h2>
        <hr class="related-articles__line"/>
        <ul class="related-articles__list">
            <li class="related-articles__list-item">
                <section class="related-article">
                    <img class="related-article__image" src="/public/website-images/boy-ipad.jpg"/>
                    <div class="related-article__text">
                        <h4 class="heading heading--level-4 related-article__heading">This is the article's heading</h4>
                        <div class="tags tags--dark-grey">
                            <span class="tags__tag">Related</span>
                            <span class="tags__tag">Article</span>
                            <span class="tags__tag">Tag</span>
                        </div>
                    </div>
                </section>
            </li>
            <li class="related-articles__list-item">
                <section class="related-article">
                    <img class="related-article__image" src="/public/website-images/woman-mobile.jpg"/>
                    <div class="related-article__text">
                        <h4 class="heading heading--level-4 related-article__heading">This is the article's heading</h4>
                        <div class="tags tags--dark-grey">
                            <span class="tags__tag">Related</span>
                            <span class="tags__tag">Article</span>
                            <span class="tags__tag">Tag</span>
                        </div>
                    </div>
                </section>
            </li>
            <li class="related-articles__list-item">
                <section class="related-article">
                    <img class="related-article__image" src="/public/website-images/kids-ipad.jpg"/>
                    <div class="related-article__text">
                        <h4 class="heading heading--level-4 related-article__heading">This is the article's heading</h4>
                        <div class="tags tags--dark-grey">
                            <span class="tags__tag">Related</span>
                            <span class="tags__tag">Article</span>
                            <span class="tags__tag">Tag</span>
                        </div>
                    </div>
                </section>
            </li>
            <li class="related-articles__list-item">
                <section class="related-article">
                        <img class="related-article__image" src="/public/website-images/woman-holding-ipad.jpg"/>
                    <div class="related-article__text">
                        <h4 class="heading heading--level-4 related-article__heading">This is the article's heading</h4>
                        <div class="tags tags--dark-grey">
                            <span class="tags__tag">Related</span>
                            <span class="tags__tag">Article</span>
                            <span class="tags__tag">Tag</span>
                        </div>
                    </div>
                </section>
            </li>
        </ul>
    </div>
</section>