.related-articles {
    background-color: var(--light-grey);
    padding: 20px 0;

    &__link {
        margin: 0 1rem 0.3rem 1rem;

        @media all and (min-width: em(1244)) {
            margin: 0 1rem 0.3rem 2.5rem;
        }
    }

    &__heading {
        margin-top: 1.25rem;
    }

    &__list {
        display: flex;
        flex-flow: row wrap;
        list-style: none;
        margin: 0;
        padding: 0;

        @media all and (min-width: em(1244)) {
            padding: 0 1.5rem;
        }

        &--expanded {
            .related-articles__list-item:nth-child(n+2) {
                display: block;
            }
        }
    }

    &__list-item {
        flex: 0 0 auto;
        padding: 1rem;

        &:nth-child(n+2){
            display: none;

            @media all and (min-width: em(598)) {
                display: block;
            }
        }
    }

    &__show-more-articles {
        background: transparent url('/public/icons/ico_add_purple.svg') no-repeat left 0.3rem;
        background-size: 0.875rem 0.875rem;
        border: 0;
        margin-left: 1rem;
        padding: 0.25rem 0 0.25rem 1.25rem;


        &:hover {
            color: var(--core-purple);
        }

        &:focus, &:active {
            background: var(--core-purple) url('/public/icons/ico_add_white.svg') no-repeat left 0.3rem;
            background-size: 0.875rem 0.875rem;
            color: var(--white);
            outline: none;
        }

        &--expanded {
            background-image: url('/public/icons/ico_minus_purple.svg');

            &:focus, &:active {
                background-image: url('/public/icons/ico_minus_white.svg');
            }
        }

        @media all and (min-width: em(598)) {
            display: none;
        }
    }

    &--bg-white {
        background-color: var(--white);
    }
}