.confirm-changes {
    padding: 1.25rem 1.25rem 0;
    text-align: center;
    background-color: var(--dark-teal);

    &__yes {
    }

    &__no {
        background-color: transparent;
        border: none;
        border-bottom: 1px dotted var(--core-purple);
        font-size: 1rem;
        margin: 0 2rem;
    }
}