.article-list {
    list-style: none;
    padding: 0;

    &__item {
        border-bottom: 1px solid var(--grey);

        display: flex;
        flex-direction: column;
        align-items: start;

        padding: 1em 0.4375em 0.375em 0.4375em;
    }

    &__title {
        margin-bottom: 0.5em;
    }
}