---
platform: linux

image_resource:
  type: docker-image
  source: {repository: node, tag: "lts-alpine" }

inputs:
  - name: styleguide
  - name: node_modules
    path: /cache
  - name: node_modules-component-lib
    path: /cache-component-lib

outputs:
  - name: styleguide

run:
  path: sh
  args:
  - -exc
  - |
    mv cache/node_modules styleguide
    mv cache-component-lib/node_modules styleguide/component-lib
    cd styleguide/component-lib
    npm run build:css
    npm run build:icons
    npm run build-storybook
    # Important: the icon zip will be placed inside dist-storybook, so it must
    #            be run _after_ build-storybook.
    npm run build:icons-zip
    npm run build:zip
    cd ..
    mv component-lib/dist-storybook dist
    mv component-lib/assets/* dist
