.body-text-container {
    color: var(--black);
    letter-spacing: 0;
    text-align: left;
    padding: 0 var(--padding) var(--padding);
    max-width: var(--width-small);
    margin: 0 auto;
    margin-bottom: 40px;
}