.telia-field-instructions {
  position: relative;

  &--icon {
    cursor: pointer;
  }

  &--card {
    position: absolute;
    width: 250px;
    background-color: var(--grey-100);
    border-radius: 4px;
    bottom: auto;
    top: 30px;
    left: -118px;
    font-size: 14px;

    &--header {
      display: flex;
      padding: 0.1rem 0.1rem 0.1rem 1rem;
      align-items: center;
      place-content: space-between;

      .telia-button:hover {
        background-color: var(--grey-300);
      }
    }

    &--divider {
      background-color: var(--grey-300);
      border: 0;
      height: 1px;
      width: auto;
      margin: 0;
    }

    &--body {
      padding: 0.5rem 1rem;
      font-weight: 500;
    }

    &__top,
    &__top-start,
    &__top-end {
      top: auto;
      bottom: 30px;
      left: -118px;
    }

    &__top-start {
      left: -224px;
    }

    &__top-end {
      left: -14px;
    }

    &__right {
      left: 25px;
      top: -50px;
    }

    &__bottom-start {
      left: -224px;
    }

    &__bottom-end {
      left: -14px;
    }

    &__left {
      left: -265px;
      top: -50px;
    }

    &--arrow {
      content: ' ';
      position: absolute;
      bottom: 100%; /* At the top of the field-instructions-card */
      margin-left: -8px;
      border-width: 8px;
      border-style: solid;
      border-left-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-top-color: transparent;
    }
  }
}

.telia-field-instructions--card__top > .telia-field-instructions--card--arrow {
  left: 50%;
  top: 100%;
  border-top-color: var(--grey-100);
}

.telia-field-instructions--card__top-start > .telia-field-instructions--card--arrow {
  left: 92%;
  top: 100%;
  border-top-color: var(--grey-100);
}

.telia-field-instructions--card__top-end > .telia-field-instructions--card--arrow {
  left: 8%;
  top: 100%;
  border-top-color: var(--grey-100);
}

.telia-field-instructions--card__right > .telia-field-instructions--card--arrow {
  border-right-color: var(--grey-100);
  top: 52px;
  right: 100%;
}

.telia-field-instructions--card__bottom > .telia-field-instructions--card--arrow {
  left: 50%;
  border-bottom-color: var(--grey-100);
}

.telia-field-instructions--card__bottom-start > .telia-field-instructions--card--arrow {
  left: 92%;
  border-bottom-color: var(--grey-100);
}

.telia-field-instructions--card__bottom-end > .telia-field-instructions--card--arrow {
  left: 8%;
  border-bottom-color: var(--grey-100);
}

.telia-field-instructions--card__left > .telia-field-instructions--card--arrow {
  border-left-color: var(--grey-100);
  top: 52px;
  left: calc(100% + 8px);
}
