.telia-step-indicator-paging {
  display: block;

  &__list {
    display: flex;
    list-style: none;
    padding: 0;
    padding-bottom: 40px;
    width: min-content;
    position: relative;
    margin: 0 auto;

    @media screen and (max-width: 48em) {
      padding-bottom: 25px;
    }

    &--left-mask {
      -webkit-mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0,
        black calc(5.9rem * var(--voca-rem-multiplier))
      );
    }
  }

  &__list-item {
    width: 150px;
    height: 32px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 48em) {
      height: unset;
      width: 90px;
    }

    @media screen and (max-width: 37.5em) {
      width: 70px;
    }
    @media screen and (max-width: 23em) {
      width: 54px;
    }
  }

  &__button {
    color: var(--black);
    border: 0;
    outline: 0;
    background: unset;
    cursor: pointer;
    z-index: 3;
    font-size: 14px;
    user-select: none;

    &:hover {
      color: var(--core-purple);
      border-color: var(--core-purple);
    }

    &--complete {
      color: var(--core-purple);

      & > div > span {
        display: none;
      }

      & > div {
        border-color: var(--core-purple);
      }

      &:hover {
        & > div {
          & > svg {
            display: none;
          }
          & > span {
            display: block;
          }
        }
      }
    }

    &--disabled {
      color: var(--darker-grey) !important;
      border-color: var(--darker-grey) !important;
      cursor: default !important;
    }

    &--active,
    &--active:hover {
      cursor: default;

      & > div {
        & > svg {
          display: none;
        }
        & > span {
          display: block;
        }
      }
    }

    &__clickable-field {
      left: 10%;
      top: 0;
      width: 80%;
      height: 120%;
      position: absolute;
    }

    &__text {
      display: flex;
      justify-content: center;
      align-items: center;

      border: 2px solid;
      border-radius: 50%;

      height: 28px;
      width: 28px;

      @media screen and (max-width: 48em) {
        height: 24px;
        width: 24px;
      }

      &--active {
        border-color: var(--core-purple);
        background-color: var(--core-purple);
        color: var(--white);
        height: 32px;
        width: 32px;
        font-size: 18px;

        @media screen and (max-width: 48em) {
          height: 26px;
          width: 26px;
          font-size: 15px;
        }
      }

      & svg {
        width: 18px;
        height: 18px;
      }
    }

    &__title-container {
      user-select: none;
      position: absolute;
      left: 0;
      margin: 0;
      top: 40px;
      width: 100%;
      max-width: 136px;
      font-size: 16px;
      line-height: 1;
      font-family: 'TeliaSans-Regular';
      color: var(--black);

      @media screen and (max-width: 48em) {
        display: none;
        visibility: hidden;
        top: 30px;
      }

      & > span {
        display: inline-block;
        text-align: center;
      }

      &--active {
        font-family: 'TeliaSans-Medium';

        @media screen and (max-width: 48em) {
          display: block;
          visibility: visible;
          font-size: 15px;
        }

        @media screen and (max-width: 24em) {
          font-size: 14px;
          width: 136%;
          margin-left: -13%;
        }
      }
    }
  }

  &__arrow {
    position: absolute;
    width: 60px;
    border: 0;
    line-height: 0;

    @media screen and (max-width: 48em) {
      width: 55px;
    }

    &:hover {
      & svg {
        fill: var(--core-purple);
      }
    }

    &--left {
      @media screen and (max-width: 48em) {
        margin-left: -14px;
        width: 48px;
      }
      @media screen and (max-width: 37.5em) {
        width: 38px;
      }
    }

    &--right {
      position: relative;
      display: inline-block;
      margin-left: -60px;

      @media screen and (max-width: 48em) {
        width: 48px;
        margin-left: -34px;
      }
      @media screen and (max-width: 37.5em) {
        width: 38px;
        margin-left: -22px;
      }
    }

    &__button {
      position: relative;
      cursor: pointer;
      background: transparent;
      border: 0;
      padding: 0;
      z-index: 5;
      top: 2px;

      @media screen and (max-width: 48em) {
        top: 2px;
      }

      & > svg {
        width: 28px;
        height: 28px;

        @media screen and (max-width: 48em) {
          width: 20px;
          height: 20px;
          margin-top: 2px;
        }

        @media screen and (max-width: 37.5em) {
          margin-top: 3px;
        }
      }

      &--right {
        left: 0px;
        float: right;

        @media screen and (max-width: 48em) {
          left: 0px;
        }
        @media screen and (max-width: 24em) {
          left: 0px;
        }
      }

      &--left {
        left: 0px;
        float: left;

        @media screen and (max-width: 48em) {
          left: 0px;
        }

        @media screen and (max-width: 24em) {
          left: 0px;
        }
      }
    }
  }

  &__line {
    position: absolute;
    cursor: default;
    border-bottom: 2px dotted var(--darker-grey);
    z-index: -1;
    top: calc(50% - 1px);
    left: 50%;
    width: calc(100% - 26px);
    margin-left: 14px;

    @media screen and (max-width: 48em) {
      width: calc(100% - 20px);
      margin-left: 10px;
    }

    &--right {
      width: 30px;
      margin: 0;
      left: 0;

      @media screen and (max-width: 24em) {
        display: none;
        visibility: hidden;
      }
    }

    &--left {
      width: 30px;
      margin: 0;
      left: auto;
      right: -1px;

      @media screen and (max-width: 24em) {
        display: none;
        visibility: hidden;
      }
    }

    &--complete {
      border-bottom-style: solid;
      border-bottom-color: var(--core-purple);
    }
  }

  &__transparent-layer {
    position: absolute;
    cursor: default;
    height: 100%;
    z-index: 4;
    width: 38px;

    &--left {
      background: linear-gradient(268.73deg, #ffffff 38.45%, rgba(255, 255, 255, 0) 108.13%);
      transform: rotate(-180deg);

      right: 0px;

      @media screen and (max-width: 24em) {
        display: none;
        visibility: hidden;
      }
    }

    &--right {
      background: linear-gradient(268.73deg, #ffffff 38.45%, rgba(255, 255, 255, 0) 108.13%);
      left: 0px;

      @media screen and (max-width: 37.5em) {
        width: 30px;
        left: 2px;
      }

      @media screen and (max-width: 24em) {
        display: none;
        visibility: hidden;
      }
    }
  }

  &__content {
    width: 100%;
    margin: 0 auto;
  }
}
