.telia-step-indicator-paging {
  display: block;

  &__list {
    display: flex;
    list-style: none;
    padding: 0;
    padding-bottom: 40px;
    width: min-content;
    position: relative;
    margin: 0 auto;

    @media screen and (max-width: 48em) {
      padding-bottom: 25px;
    }

    &--left-mask {
      -webkit-mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0,
        black calc(5.9rem * var(--voca-rem-multiplier))
      );
    }
  }

  &__list-item {
    width: 58px;
    min-height: 32px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 22.5em) {
      width: 65px;
    }

    @media screen and (min-width: 48em) {
      width: 150px;
    }
  }

  &__button {
    color: var(--black);
    border: 0;
    outline: 0;
    background: unset;
    cursor: pointer;
    z-index: 3;
    font-size: 14px;
    user-select: none;

    &:hover {
      color: var(--core-purple);
      border-color: var(--core-purple);
    }

    &--complete {
      color: var(--core-purple);

      & > div > span {
        display: none;
      }

      & > div {
        border-color: var(--core-purple);
      }

      &:hover {
        & > div {
          & > svg {
            display: none;
          }
          & > span {
            display: block;
          }
        }
      }
    }

    &--disabled {
      color: var(--darker-grey) !important;
      border-color: var(--darker-grey) !important;
      cursor: default !important;
    }

    &--active,
    &--active:hover {
      cursor: default;

      & > div {
        & > svg {
          display: none;
        }
        & > span {
          display: block;
        }
      }
    }

    &__clickable-field {
      left: 10%;
      top: 0;
      width: 80%;
      height: 120%;
      position: absolute;
    }

    &__text {
      display: flex;
      justify-content: center;
      align-items: center;

      border: 2px solid;
      border-radius: 50%;

      height: 28px;
      width: 28px;

      @media screen and (max-width: 48em) {
        height: 24px;
        width: 24px;
      }

      &--active {
        border-color: var(--core-purple);
        background-color: var(--core-purple);
        color: var(--white);
        height: 32px;
        width: 32px;
        font-size: 18px;

        @media screen and (max-width: 48em) {
          height: 26px;
          width: 26px;
          font-size: 15px;
        }
      }

      & svg {
        width: 18px;
        height: 18px;
      }
    }

    &__title-container {
      user-select: none;
      position: absolute;
      left: 0;
      margin: 0;
      top: 40px;
      width: 100%;
      max-width: 136px;
      font-size: 16px;
      line-height: 1;
      font-family: 'TeliaSans-Regular';
      color: var(--black);

      @media screen and (max-width: 48em) {
        display: none;
        visibility: hidden;
        top: 30px;
      }

      & > span {
        display: inline-block;
        text-align: center;
      }

      &--active {
        font-family: 'TeliaSans-Medium';

        @media screen and (max-width: 48em) {
          display: block;
          visibility: visible;
          font-size: 15px;
        }

        @media screen and (max-width: 24em) {
          font-size: 14px;
          width: 136%;
          margin-left: -13%;
        }
      }
    }
  }

  &__line {
    position: absolute;
    cursor: default;
    border-bottom: 3px dotted var(--darker-grey);
    z-index: -1;
    top: calc(50% - 2px);
    left: 50%;
    width: calc(100% - 26px);
    margin-left: 14px;

    &--dashed {
      width: calc(100% - 32px);
      margin-left: 16px;
    }

    @media screen and (max-width: 48em) {
      border-bottom: 2px dotted var(--darker-grey);
      width: calc(100% - 20px);
      margin-left: 10px;
    }

    &--complete {
      border-bottom-style: solid;
      border-bottom-color: var(--core-purple);
    }
  }

  &__arrow-container {
    position: absolute;
    /* li width (58) / 2 */
    width: 29px;

    &--left {
      margin-left: -8px;
      left: 0;

      @media screen and (min-width: 22.5em) {
        margin-left: -16px;
      }
      @media screen and (min-width: 48em) {
        margin-left: 0;
      }
    }

    &--right {
      margin-right: -8px;
      right: 0;

      @media screen and (min-width: 22.5em) {
        margin-right: -16px;
      }
      @media screen and (min-width: 48em) {
        margin-right: 0;
      }
    }

    @media screen and (min-width: 48em) {
      width: calc(75px - 22px + 4px);
    }
  }

  &__arrow {
    position: absolute;
    background-color: white;
    height: 100%;
    z-index: 5;

    display: flex;
    justify-items: center;

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }

    & > button {
      cursor: pointer;
      background-color: transparent;
      outline: unset;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 20px;
      border: 0;

      &:hover {
        color: var(--core-purple);
      }
    }
    & > button > svg {
      width: 20px;
    }

    &__line {
      width: 100%;
      border-bottom: 3px dotted var(--darker-grey);
      position: absolute;
      z-index: 3;
      display: none;
      visibility: hidden;

      @media screen and (min-width: 48em) {
        display: block;
        visibility: visible;
      }
    }

    &__layer {
      width: 75%;
      height: 100%;
      position: absolute;
      z-index: 4;

      &-background {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: white;
        z-index: 2;
      }

      &--left {
        background: linear-gradient(268.73deg, #ffffff 38.45%, rgba(255, 255, 255, 0) 108.13%);
        transform: rotate(-180deg);
        right: 4%;
      }

      &--right {
        background: linear-gradient(268.73deg, #ffffff 38.45%, rgba(255, 255, 255, 0) 108.13%);
      }
    }
  }

  &__content {
    width: 100%;
    margin: 0 auto;
  }
}
