.telia-textfield {
  position: relative;
  input {
    flex-grow: 1;
    padding: 0.75rem;
    font-size: 16px;
    line-height: 20px;
    border: none;
    border-radius: 4px;
    margin: 0;
    min-width: 0;
    color: var(--grey-500);
    background-color: var(--white);
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: var(--grey-400);
    }
  }

  .telia-field-instructions {
    display: inline-block;
    float: right;
  }
}

.telia-textfield__leftContent + .telia-textfield__input {
  padding-left: 0;
}

.telia-textfield__leftContent .telia-button--compact .telia-button--icon {
  width: 16px;
  height: 16px;
}

.telia-textfield__label {
  font-size: 14px;
  color: var(--grey-900);
}

.telia-textfield__content {
  display: flex;
  background-color: var(--white);
  border: 1px solid var(--accent-250);
  border-radius: 4px;
  transition-duration: 300ms;
  transition-property: border;

  &:hover {
    border-color: var(--grey-300);
  }
}

.telia-textfield--withValue .telia-textfield__content {
  border-color: var(--grey-300);
  color: var(--grey-900);
}

.telia-textfield__status {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--white);
  .Icon {
    width: 20px;
    height: 20px;
  }
}

.telia-textfield__leftContent,
.telia-textfield__rightContent {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  flex-shrink: 0;
  background-color: var(--white);
}
.telia-textfield__leftContent {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.telia-textfield__status,
.telia-textfield__rightContent {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.telia-textfield__leftContent > .Icon,
.telia-textfield__rightContent > .Icon {
  width: 20px;
  height: 20px;
}

.telia-textfield__helptext {
  color: var(--grey-700);
  display: block;
}

.telia-textfield--focus {
  .telia-textfield__content {
    border-color: var(--core-purple-500);
    transition: all 150ms ease-in-out;
  }
}

.telia-textfield--error {
  .telia-textfield__content {
    border-color: var(--red-600);
  }
  .telia-textfield__status {
    color: var(--red-600);
  }
  .telia-textfield__helptext {
    color: var(--red-600);
  }
}
.telia-textfield--success {
  .telia-textfield__content {
    border-color: var(--green-600);
  }
  .telia-textfield__status {
    color: var(--green-600);
  }
  .telia-textfield__helptext {
    color: var(--green-600);
  }
}

.telia-textfield--disabled {
  .telia-textfield__label,
  .telia-textfield__helptext {
    color: var(--grey-300);
  }
  .telia-textfield__content {
    background-color: var(--grey-100);
    border: 1px solid var(--grey-300);
    input:disabled {
      color: var(--grey-300);
      background-color: var(--grey-100);
    }
  }
  .telia-textfield__leftContent,
  .telia-textfield__rightContent {
    background-color: var(--grey-100);
  }
  .Icon {
    fill: var(--grey-300);
  }
}

.telia-textfield--compact {
  margin-top: 8px;
  font-size: 14px;

  .telia-textfield__label {
    font-size: 14px;
    /*
    Don't need the commented-out code after a design update on the compact label.
    In case of changing back, keep this a couple of months
    position: absolute;
    left: 0.75rem;
    cursor: text;
    line-height: 20px;
    top: 10px;
    color: var(--grey-400);
    transition-property: font-size, top, left, color;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    */
  }

  input {
    font-size: 14px;
    padding: 0.5rem 0.625rem;
  }
}

.telia-textfield--prepended {
  input {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}
.telia-textfield--appended {
  input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

/*
Don't need this after a design update on the compact label.
In case of changing back, keep this a couple of months
.telia-textfield--compact.telia-textfield--focus,
.telia-textfield--compact.telia-textfield--withValue {
  .telia-textfield__label {
    background: white;
    top: -6px;
    left: 7px;
    line-height: 12px;
    font-size: 12px;
    padding: 0px 3px;
    color: var(--core-purple-500);

    transition-property: font-size, top, left, color;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.telia-textfield--compact.telia-textfield--withValue:not(.telia-textfield--focus) {
  .telia-textfield__label {
    color: var(--grey-400);
  }
}
*/

.telia-textfield--compact.telia-textfield--focus.telia-textfield--success,
.telia-textfield--compact.telia-textfield--withValue.telia-textfield--success {
  .telia-textfield__label {
    color: var(--green-600);
  }
}

.telia-textfield--compact.telia-textfield--focus.telia-textfield--error,
.telia-textfield--compact.telia-textfield--withValue.telia-textfield--error {
  .telia-textfield__label {
    color: var(--red-600);
  }
}

.telia-textfield--white,
.telia-textfield--white.telia-textfield--focus {
  .telia-textfield__content {
    border: 1px solid var(--grey-200);
  }
}

.telia-textfield--grey,
.telia-textfield--white {
  input::placeholder {
    color: var(--grey-700);
  }
}

.telia-textfield--grey {
  .telia-textfield__content {
    border: none;
    background-color: var(--grey-200);
    input {
      background-color: var(--grey-200);
    }
  }
  .telia-textfield__leftContent,
  .telia-textfield__rightContent {
    background-color: var(--grey-200);
  }
}
