.price-table {
    width: 100%;
    max-width: var(--width-small);
    margin: 0 auto;
    text-align: left;

    &__items {
        border-bottom: 1px solid var(--grey);
        display: block;
        margin-bottom: 0.2rem;
    }

    &__item {
        display: block;
        margin-bottom: 0.2rem;

        &-cell {
            width: 100%;
        }

        &-title {
        }

        &-price {
            vertical-align: top;
        }

        &-original-price {
            vertical-align: top;
            text-decoration: line-through;
            color: var(--darkest-grey);
        }

        &-subtitle {
            font-style: italic;
            color: var(--darkest-grey);
        }
    }

    &__total {
        .price-table__item-title {
            font-family: 'TeliaSans-Medium', Helvetica, Arial, sans-serif;
        }

        .price-table__item-price {
            font-family: 'TeliaSans-Medium', Helvetica, Arial, sans-serif;
        }
    }

    &__additional {
        padding: 1rem 0;
        border-bottom: 1px solid var(--grey);
        border-top: 1px solid var(--grey);

        .price-table__item-cell {
            display: flex;
            justify-content: center;
        }

        .price-table__item-title {
            font-style: italic;
            font-family: 'TeliaSans-MediumItalic', Helvetica, Arial, sans-serif;
        }
    }
}