:root {
    --accordion-border: 1px solid var(--darkest-grey);
}

* ~ .accordion {
    border-top: var(--accordion-border);
}

p + .accordion,
p + .accordion-list {
    margin-top: 2rem;
}

.accordion {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: var(--width-medium);

    margin-bottom: 2rem;
    border-bottom: var(--accordion-border);

    &:first-of-type {
        border-top: var(--accordion-border);
    }

    &:last-of-type {
        margin-bottom: 2rem;
    }

    & + .accordion {
        margin-top: -2rem;
        border-top: none;
    }

    &__header {
        margin-top: 0;
        position: relative;
        width: 100%;

        &--with-button {
            border-right: 1px solid #CFCFCF;
            width: 74%;

            @media only screen and (max-width: 52.5em) {
                width: 65%;
            }
            @media only screen and (max-width: 44.5em) {
                border-right: none;
                width: 100%;
            }
        }
    }

    &__header-button {
        background-color: var(--white);
        border: none;
        cursor: pointer;
        display: flex;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        padding: 1rem 2.8rem 1rem 1rem;
        position: relative;
        text-align: left;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: flex-start;
        min-height: 55px;

        &--text-box {
            padding-left: 1rem;

            &-text {
                font-size: 16px;
                color: #3C3C3CB3;
                font-family: Helvetica;
                padding-top: 0.2rem;
            }
        }

        &:hover {
            color: var(--core-purple);
        }

        &:focus,
        &:active {
            background-color: hsl(0, 0%, 97%);
            outline: none;
        }
        &:focus + .accordion__header-icon *,
        &:active + .accordion__header-icon * {
        }
    }

    &__button {
        margin: 2rem auto;
        width: 20%;
        padding: 0.5rem 1rem;
        text-align: center;

        &:last-of-type {
            margin-right: auto;
        }

        @media only screen and (max-width: 52.5em) {
            margin-left: 3rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
            min-width: 10rem;
        }
        @media only screen and (max-width: 44.5em) {
            margin-top: 0rem;
            margin-left: 1.8rem;
            min-width: 10rem;
        }
    }

    &__header-icon {
        fill: var(--core-purple);

        height: 1.2rem;
        width: 1.2rem;

        position: absolute;
        right: 1rem;
        top: 50%;
        pointer-events: none;
        transform: translateY(-50%);
    }


    &__icon {
        fill: var(--core-purple);
        height: 2.5rem;
        width: 2.5rem;
    }

    &__image-container {
        display: flex;
        justify-content: center;
        width: 2.5rem;
    }

    &__image {
        height: auto;
        max-width: 2.5rem;
    }

    &__panel {
        height: 0;
        opacity: 0;
        overflow: hidden;
        padding: 0 31px 0 1rem;
        transition: height 0.5s ease-in-out,
                    opacity 0.5s ease-in-out,
                    padding 0.5s ease-in-out,
                    visibility 0.5s ease-in-out;
        margin-left: 1rem;
        visibility: hidden;
        width: 100%;
    }

    &--open {
        .accordion__header {
                &--with-button {
                    border-right: none;
                    width: 74%;

                    @media only screen and (max-width: 52.5em) {
                        width: 65%;
                    }

                    @media only screen and (max-width: 44.5em) {
                        width: 100%;
                    }
            }
        }

        .accordion__header-button {
            &:focus,
            &:active {
                background-color: var(--white);
                color: var(--core-purple);
            }
            &:focus + .accordion__header-icon *,
            &:active + .accordion__header-icon * {
                fill: var(--core-purple);
            }
        }

        .accordion__header-icon {
            transform: translateY(-50%) rotate(180deg);
        }
        .accordion__panel {
            height: auto;
            padding: 0 31px 1rem 1rem;
            opacity: 1;
            visibility: visible;
        }
    }
}

.accordion-list {
    &__no-border {
        .accordion {
            border-bottom: 0;
            &:first-of-type {
                border-top: 0;
            }
            & + .accordion {
                margin-top: -1.5rem;
            }
        }
    }
}
