.svg-icon {
    &.svg-icon--white * {
        fill: var(--white);
    }

    &.svg-icon--black * {
        fill: var(--black);
    }

    &.svg-icon--purple * {
        fill: var(--core-purple);
    }

    &.svg-icon--grey * {
        fill: var(--grey);
    }

    &.svg-icon--light-grey * {
        fill: var(--light-grey);
    }
}