.text-area {
    background-color: var(--light-grey);
    border: 1px solid var(--light-grey);
    color: var(--dark-grey-2);
    font: inherit;
    padding: 1rem;
    resize: none;
    width: 100%;

    &:hover,
    &:focus,
    &:active {
        border: 1px solid var(--core-purple);
        outline: none;
    }

    &--margin-bottom {
        margin-bottom: 1rem;
    }
}