.tags {
    display: inline-block;
    font-size: 0.85rem;

    &__tag {
        border-right: 1px solid var(--black);
        padding-left: 0.1rem;
        padding-right: 0.4rem;

        &:last-of-type {
            border: none;
        }
    }
}