/* IE10 & IE11*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .focus-box {
    background: var(--core-purple);
  }

  .full-width-image--with-mask:after {
    background: none;
  }

  .header--with-mask {
    background: var(--grey);
  }

  .horizontal-rule--left {
    text-align: left;
  }

  .hero--with-pebbles {
    &:before {
      background-position: -44% 65%, 108% 90%;
      background-size: 50vw, 27vw;
    }
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width: 28.125em) {
  .hero--with-pebbles {
    &:before {
      background-position: -75% 70%, 108% 95%;
      background-size: 60vw, 27vw;
    }
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width: 38em) {
  .hero--with-pebbles {
    &:before {
      background-position: -58% 65%, 108% 95%;
      background-size: 55vw, 25vw;
    }
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width: 48em) {
  .hero--with-pebbles {
    &:before {
      background-position: -132% 48%, 118% 95%;
      background-size: 72vw, 33vw;
    }
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width: 64em) {
  .hero--with-pebbles {
    &:before {
      background-position: -118% 48%, 118% 92%;
      background-size: 72vw, 33vw;
    }
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width: 90em) {
  .hero--with-pebbles {
    &:before {
      background-position: -82% 55%, 115% 92%;
      background-size: 65vw, 30vw;
    }
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width: 112em) {
  .hero--with-pebbles {
    &:before {
      background-position: -90% 55%, 121% 92%;
      background-size: 65vw, 34vw;
    }
  }
}

/* Microsoft Edge Browser 12+ (All) - @supports method */
@supports (-ms-ime-align: auto) {
  .horizontal-rule--left {
    text-align: left;
  }
}
