.fact-box {
    background-color: var(--light-grey);
    border: 2px solid var(--grey);
    margin: 0 auto var(--margin-bottom);
    padding: 1rem;

    @media all and (min-width: 30em) {
        padding: 1.5rem 2.3125rem 1.5rem 2.3125rem;
    }

    &__icon {
        height: 2.5rem;
        margin-bottom: 0.5rem;
        width: 2.5rem;
    }

    &__heading {
        margin: 0;
    }

    &__line {
        border: 1px solid var(--dark-grey);
        margin: 0 0 1rem 0;
        width: 95%;

        @media all and (min-width: 30em) {
            width: 75%;
        }
    }

    &__text {
        margin-bottom: 1rem;
    }

    &--two-columns {
        display: flex;
        flex-direction: column;

        @media all and (min-width: 43em) {
            flex-direction: row;
        }
    }

    &--borderless {
        border: none;
    }

    &__left {
        width: 100%;
        order: 1;

        @media all and (min-width: 43em) {
            width: 66%;
            flex-direction: row;
            order: 0;
        }
    }

    &__right {
        box-sizing: border-box;
        width: 100%;
        padding: 2rem 0 0 2rem;
        order: 0;

        @media all and (min-width: 43em) {
            width: 33%;
            flex-direction: row;
            order: 1;
        }
    }

     &__image {
        display: block;
        margin: 0 auto;

        max-height: 10em;
        max-width: 100%;
    }
}