.fact-box {
    background-color: var(--light-grey);
    border: 2px solid var(--grey);
    margin: 0 auto var(--margin-bottom);
    padding: 1rem;

    @media all and (min-width: 30em) {
        padding: 1.5rem;
    }

    &__icon {
        height: 2.5rem;
        margin-bottom: 0.5rem;
        width: 2.5rem;
    }

    &__heading {
        margin: 0;
    }

    &__line {
        border: 1px solid var(--dark-grey);
        margin: 0 0 1rem 0;
        width: 95%;

        @media all and (min-width: 30em) {
            width: 75%;
        }
    }

    &__text {
        margin-bottom: 1rem;
    }
}