.textbox-with-char-count {
    position: relative;
    border-radius: 0.25em;
    color: var(--black);
    font: inherit;
    width: 100%;

    &--with-error,
    &--with-error:hover,
    &--with-error:focus,
    &--with-error:active {
        border-color: var(--dark-red);
    }

    &__char-count {
        position: absolute;
        background: light-grey;
        color: var(--dark-grey-2);

        margin: 0;
        border-left: 1px solid var(--dark-grey-2);

        right: 0;
        top: 0;
        bottom: 0;
        min-width: 5rem;

        display: flex;
        align-items: center;
        justify-content:center;
    }
}