.horizontal-rule {
    border-bottom: 1px solid var(--grey);
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 1rem auto;

    &--short {
        border-bottom: 2px solid var(--core-purple);
        width: 50px;
    }

    &--left {
        margin: 0;
    }
}