.icon-link {
    background-size: 25px 25px;
    display: inline-block;
    height: 25px;
    padding: 15px;
    width: 25px;

    &--download {
        background: transparent url('/public/icons/ico_download_purple.svg') no-repeat center;

        &:active,
        &:focus {
            background: var(--core-purple) url('/public/icons/ico_download_white.svg') no-repeat center;
            background-size: 25px 25px;
            outline: none;
        }
    }
}