
<a class="icon-link" href="#" aria-label="Download">
    <svg class="icon">
      <use xlink:href="/public/icons/symbols/allicons.svg#ico_download" />
    </svg>  
</a>
<a class="icon-link" href="#" aria-label="LinkedIn">
    <svg class="icon">
      <use xlink:href="/public/icons/symbols/allicons.svg#linkedin_icon" />
    </svg>  
</a>
<a class="icon-link" href="#" aria-label="Twitter">
    <svg class="icon">
      <use xlink:href="/public/icons/symbols/allicons.svg#twitter_icon" />
    </svg>  
</a>