.icon-link {
    width: 30px;
    height: 30px;
    padding: 2px;
    display: inline-block;
    margin-right: 0.5rem;
    
    &:hover {
        fill: var(--core-purple);
    }
    
    &:active,
    &:focus {
        background-color: var(--core-purple);
        fill: var(--white);
        outline: none;
    }
    
    .icon {
        width: 26px;
        height: 26px;
    }
}