.telia-side-menu {
  height: 100%;
  width: 240px;
  background-color: var(--grey-100);
  font-size: 16px;
  overflow-y: auto;
  white-space: nowrap;
  overflow-x: hidden;
  transition: width 0.2s;

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }
  &__list {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  &--white {
    .telia-side-menu-item {
      &--active {
        background-color: white;
      }
    }
  }

  &--collapsed {
    width: 64px;
    .telia-side-menu__group-items {
      transition: none;
    }
  }
  .telia-side-menu-top {
    &__list {
      margin: 0;
      padding: 0;
    }
  }

  .telia-side-menu-bottom {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 0.25rem;
    &__list {
      margin: 0;
      padding: 0;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 0.25rem;
    }
  }
  .telia-side-menu-item {
    margin: 0 0 0 8px;
    padding: 0 2px 0 0;

    &--grey {
      color: var(--grey-100);
    }
    &--purple {
      color: var(--core-purple);
    }
    &--rounded {
      border-radius: 100px;
      .telia-side-menu-item__action-element {
        border-radius: 100px;
      }
    }
    &--squared {
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;
      .telia-side-menu-item__action-element {
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
      }
    }
    &--active > button,
    &--active > a {
      color: var(--core-purple);
    }
    &__badge {
      &--right {
        top: 50%;
        right: -0.5rem;
      }
      &--on-top-left {
        top: 5px;
        right: calc(100% - 5px);
      }
    }
    &__action-element {
      color: var(--black);
      width: 100%;
      font-size: 1rem;
      display: flex;
      align-items: center;
      border: none;
      text-decoration: none;
      background-color: transparent;
      margin: 2px 0;
      padding: calc(0.5rem-2px) 0.5rem;
      font-family: inherit;
      cursor: pointer;
      outline: none;

      &:focus {
        box-shadow: 0 0 0 2px var(--blue-500);
        z-index: 2;
      }
      &:hover {
        color: var(--core-purple-500);
      }
    }
    &__icon,
    &__avatar {
      height: 2rem;
      width: 2rem;
      min-width: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__icon {
      svg {
        height: 20px;
        width: 20px;
      }
    }
    &__label {
      margin: 0 0.5rem;
    }
  }

  &__group-items {
    opacity: 0;
    transition: max-height 0.3s, opacity 0.3s;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0 -2px 0 1.5rem;
    &--open {
      max-height: 200px;
      opacity: 1;
    }
  }
}
