.focus-subscription {
  &__main {
    display: flex;
    margin-bottom: 2rem;
  }

  .subscription {
    margin-right: 5%;
    width: 45%;

    @media screen and (min-width: 28.125em) {
      width: auto;
    }
  }
  &__main-content {
    width: 50%;

    @media screen and (min-width: 28.125em) {
      flex-grow: 2;
      width: auto;
    }
  }
  &__heading {
    margin: 0 0 0.3125rem;
  }
}
