:root {
    --shopping-cart-font-color: #222;
    --shopping-cart-font-color-medium: #737373;
    --shopping-cart-font-color-disabled: #757575;
}

.shopping-cart {
    &__heading {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        height: 3.8rem;

        .Icon {
            display: initial;
        }
    }

    &__icon {
        color: black;
        height: 1.3rem;
        width: 1.3rem;
    }
}