.shopping-cart {
    &__table__foot {
        &__cell {
            text-align: right;
        }

        &__row {
            background-color: var(--orange);
            color: white;
            height: 4rem;
            .shopping-cart__table__header {
                text-align: right;
                text-align: left;
                padding: 0.5rem 0 0.5rem 1rem;
            }
        }
    }
}