.shopping-cart {
    &__table {
        &__head {
            position: absolute;
            left: -10000em;
            top: auto;
            width: 1px;
            height: 1px;
            overflow: hidden;
        }

        &__header {
            .shopping-cart__table__foot & {
                text-align: right;
            }
        }
    }
}
