.telia-avatar {
  position: relative;
  font-size: 16px;
  background-color: #f2f2f2;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--white), 0 0 0 4px var(--blue-300);
  }

  &-image {
    height: 100%;
    width: 100%;
    border-radius: 50%;

    /*
    Not supported in ie11.
    The image will appear a bit squashed
    */
    object-fit: cover;
  }
  .Icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  &-status {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 0.9rem;
    width: 0.9rem;
    background-color: var(--green-500);
    border: 2.5px solid var(--white);
    border-radius: 50%;
  }

  &-offline {
    background-color: var(--red-500);
  }

  &-inactive {
    background-color: var(--orange-500);
  }

  .telia-avatar {
    position: absolute;
    right: -2px;
    bottom: -2px;
    height: 1.5rem;
    width: 1.5rem;
    font-size: 8px;
    border: 2px solid var(--white);
    border-radius: 50%;
    margin: 0;
  }
}

button.telia-avatar {
  padding: 0;
  maringe: 0;
  border: 0;
  cursor: pointer;
}

a.telia-avatar {
  text-decoration: none;
  color: var(--black);
}

.telia-avatar--compact {
  width: 2rem;
  height: 2rem;
  font-size: 14px;
  .Icon {
    width: 1.25rem;
    height: 1.25rem;
  }
  &-online {
    background-color: blue;
  }
}

.telia-avatar--big {
  width: 5rem;
  height: 5rem;
  font-size: 28px;
  .Icon {
    width: 3rem;
    height: 3rem;
  }
}

.telia-avatar--big .telia-avatar-status {
  height: 1.25rem;
  width: 1.25rem;
  border-width: 3px;
}

.telia-avatar--big * .telia-avatar {
  height: 3rem;
  width: 3rem;
  border: 3px solid var(--white);
  font-size: 16px;
  .Icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.telia-avatar--compact .telia-avatar-status {
  height: 0.75rem;
  width: 0.75rem;
  border-width: 2px;
}

.telia-avatar--compact * .telia-avatar {
  height: 1rem;
  width: 1rem;
  border: 1px solid var(--white);
  font-size: 6px;
  .Icon {
    width: 0.5rem;
    height: 0.5rem;
  }
}
