@import "./variables.pcss";

html {
    box-sizing: border-box;
    font-family: 'Neue Helvetica W01', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
*, :after, :before {
    box-sizing: inherit;
}

@font-face {
    font-family: 'pebble';
    src: url('/public/fonts/Pebble_W_Rg.woff') format('woff');
}

.content-wrapper {
    margin: 0 auto;
    max-width: var(--width-large);
}
