:root {
    --grid-column-width: 82px;
    --grid-gutter-width: 20px;

    --width-large: calc((var(--grid-column-width) * 12) + (var(--grid-gutter-width) * 11));
    --width-medium: calc((var(--grid-column-width) * 8) + (var(--grid-gutter-width) * 7));
    --width-small: calc((var(--grid-column-width) * 6) + (var(--grid-gutter-width) * 5));

    --margin-bottom: 2rem;
}
