.telia-incrementer {
  display: flex;
  justify-content: space-between;
  width: 7.75rem;
  height: 2.75rem;
  position: relative;
  border: 1px solid var(--grey-200);
  border-radius: 100px;
  .telia-button {
    top: -2px;
    height: 2.75rem;
    width: 2.75rem;
    z-index: 2;
    .Icon {
      height: 15px;
      width: 15px;
    }
  }
  .telia-button:hover,
  .telia-button:focus {
    transition: 0;
  }

  input {
    position: absolute;
    height: 2.6rem;
    width: 40px;
    margin-left: 2.5rem;
    font-size: 16px;
    text-align: center;
    border: none;
  }
  input:focus {
    z-index: 1;
    outline: none;
    box-shadow: 0 0 0 2px var(--blue-300);
    transition: all 200ms ease-in-out;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}

.telia-incrementer__compact {
  height: 2.25rem;
  width: 104px;
  .telia-button {
    height: 2.25rem;
    width: 2.25rem;
    top: -1px;
    .Icon {
      height: 0.75rem;
      width: 0.75rem;
    }
  }
  input {
    height: 2.1rem;
    width: 34px;
    font-size: 14px;
    margin-left: 2.1rem;
  }
}
