.telia-incrementer {
  display: flex;
  button {
    background: var(--white);
    border: 1px solid var(--grey-200);
    cursor: pointer;
    height: 2.75rem;
    width: 2.75rem;
    .Icon {
      height: 1rem;
      width: 1rem;
      display: inline;
    }
    &[disabled] {
      background-color: var(--grey-100);
      cursor: auto;
      .Icon {
        color: var(--grey-300);
      }
    }
  }

  button:focus,
  input:focus {
    z-index: 1;
    outline: none;
    box-shadow: 0 0 0 2px var(--blue-300);
    transition: all 200ms ease-in-out;
  }

  &--value {
    border: none;
    border-top: 1px solid var(--grey-200);
    border-bottom: 1px solid var(--grey-200);
    width: 52px;
    text-align: center;
  }
  &--decrement {
    border-radius: 100px 0px 0px 100px;
  }

  &--increment {
    border-radius: 0px 100px 100px 0px;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}

.telia-incrementer__compact {
  button {
    height: 2.25rem;
    width: 2.25rem;
    .Icon {
      height: 0.75rem;
      width: 0.75rem;
    }
  }
}
