pre.prettyprint {
	font-family: Consolas, "Liberation Mono", Courier, monospace;
	font-size: 16px;
    font-weight: normal;
	line-height: 1.3em;
	margin: 1em 0 0 0;
}
.prettyprint .str {
	color:#A31515;
}
.prettyprint .com {
	color:green;
}
.prettyprint .typ {
	color:#2B91B1;
}
.prettyprint .lit {
	color:#066;
}
.prettyprint .pun {
	color:#660;
}
.prettyprint .pln {
	color:#000;
}
.prettyprint .tag {
	color:maroon;
}
.prettyprint .atn {
	color:red;
}
.prettyprint .dec {
	color:#606;
}
.prettyprint .highlight {
	background-color:#FFFB7A;
}
.prettyprint .code {
	background-color:#FFF;
	color:#000;
	font-family:Consolas,"Courier New",Courier,Monospace;
}
.prettyprint .kwd,
.prettyprint .atv {
	color:#00F;
}