.telia-speech-bubble-tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: initial;

    @media all and (min-width: 48em) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: initial;
    }

    &--center {
        justify-content: center;
    }

    &--left {
        justify-content: flex-start;
    }

    &__tab {
        background-color: var(--white);
        position: relative;
        font-family: 'TeliaSans-Regular', Helvetica, Arial, sans-serif;
        font-size: 16px;
        text-decoration: none;
        cursor: pointer;
        border: 1px solid var(--core-purple-850);
        border-radius: 0.5rem;
        padding: 0.64rem 1rem;
        color: var(--core-purple-850);

        &:not(:last-of-type) {
            margin-right: 0.5rem;
        }

        &:active,
        &:focus,
        &:hover,
        &--selected {
            background-color: var(--core-purple-850);
            border: 1px solid var(--core-purple-850);
            color: var(--white);
        }

        &--selected {
            cursor: default;

            &&--triangle {
              &::before {
                  content: "";
                  position: absolute;
                  bottom: -5px;
                  left: 1rem;
                  margin: auto;
                  height: 1rem;
                  width: 1rem;
                  border: 1px solid var(--core-purple-850);
                  transform: rotate(45deg);
                  background-color: var(--core-purple-850);
              }
            }

            span {
                position: relative;
            }
        }
    }
}