<!DOCTYPE html>
<html>
    <head>
        <title>Telia Styleguide</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">

        <% if (environment !== 'development') { %>
            <link href="/public/css/bundle.components.css" rel="stylesheet" type="text/css" />
            <link href="/public/css/bundle.custom.css" rel="stylesheet" type="text/css" />
        <% } %>

        <link href="/public/prism/prism-default.custom.css" rel="stylesheet" type="text/css" />

        <script type="text/javascript" src="https://fast.fonts.net/jsapi/9ac28642-e1dc-4931-bc6a-0b65f47c0f5d.js"></script>
    </head>
    <body>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Clients</a>
            <a href="#">Contact</a>
        </div>

        <!-- Use any element to open the sidenav -->
        <span onclick="openNav()">open</span>

        <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
        <div id="main">
            <div id="root"></div>
        </div>

        <script>
            /* Set the width of the side navigation to 250px and the left margin of the page content to 250px and add a black background color to body */
            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px";
                document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
            }

            /* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
                document.getElementById("main").style.marginLeft = "0";
                document.body.style.backgroundColor = "white";
            }
        </script>

        <script>
            window.__INITIAL_STATE__ = <%- initialState %>;
        </script>
        <script src="/public/prism/prism.js" type="text/javascript"></script>
        <script src="/public/js/bundle.js" type="text/javascript"></script>
    </body>
</html>