<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Telia Styleguide</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">

        <% if (environment !== 'development') { %>
            <link href="/public/css/bundle.components.css" rel="stylesheet" type="text/css" />
            <link href="/public/css/bundle.custom.css" rel="stylesheet" type="text/css" />
        <% } %>

        <script type="text/javascript" src="https://fast.fonts.net/jsapi/9ac28642-e1dc-4931-bc6a-0b65f47c0f5d.js"></script>
    </head>
    <body>
        <div id="root"></div>

        <script>
            window.__STATIC_DATA__ = <%- staticData %>;
        </script>
        <script src="/public/js/bundle.js" type="text/javascript"></script>
    </body>
</html>