.page-footer {

    &__content {
        background-color: #AD00E5;
        position: relative;
    }

    &__content-wrapper {
        margin: 0 auto;
        max-width: var(--width-large);
        position: relative;

        @media screen and (min-width: 60em) {
            display: flex;
            flex-direction: row;
        }
    }

    &__main-nav {
        background-color: #AD00E5;
        padding: 1.25rem 1rem;

        @media screen and (min-width: 60em) {
            width: 75%;
        }
    }

    &__special-nav {
        background-color: #700097;
        padding: 1rem;

        @media screen and (min-width: 60em) {
            background-color: #AD00E5;
            padding: 1.25rem 1rem;
            text-align: right;
            width: 25%;
        }
    }

    &__link {
        color: white;
        display: block;
        padding: 0.5rem 0;
        text-decoration: none;

        @media screen and (min-width: 42em) {
            border-right: 1px solid white;
            display: inline;
            padding: 0 1rem;
        }

        &:hover {
            text-decoration: underline;
        }
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            border-right: none;
        }
    }
    &__special-link {
        @media screen and (min-width: 60em) {
            padding: 0;
        }
    }
}