.special-message {
  background-color: inherit;
  color: var(--core-purple);
  display: block;
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  line-height: 22px;
  margin: 0 auto 40px;
  max-width: 400px;
  text-align: center;
}
