<ul class="fact-boxes">
    <li class="fact-box">
        <span class="fact-box__title">A small title</span>
        <span class="fact-box__number">45 609</span>
        <span class="fact-box__unit">Unit</span>
        <span class="fact-box__text">a short descriptive text</span>
    </li>
    <li class="fact-box">
        <span class="fact-box__title">A small title</span>
        <span class="fact-box__number">45 609</span>
        <span class="fact-box__unit">Unit</span>
        <span class="fact-box__text">a short descriptive text</span>
    </li>
    <li class="fact-box">
        <span class="fact-box__title">A small title</span>
        <span class="fact-box__number">45 609</span>
        <span class="fact-box__unit">Unit</span>
        <span class="fact-box__text">a short descriptive text</span>
    </li>
    <li class="fact-box">
        <span class="fact-box__title">A small title</span>
        <span class="fact-box__number">45 609</span>
        <span class="fact-box__unit">Unit</span>
        <span class="fact-box__text">a short descriptive text</span>
    </li>
    <li class="fact-box">
        <span class="fact-box__title">A small title</span>
        <span class="fact-box__number">45 609</span>
        <span class="fact-box__unit">Unit</span>
        <span class="fact-box__text">a short descriptive text</span>
    </li>
    <li class="fact-box">
        <span class="fact-box__title"></span>
        <span class="fact-box__number"></span>
        <span class="fact-box__unit"></span>
        <span class="fact-box__text"></span>
    </li>
</ul>