@import '../../colors.pcss';
.telia-quick-search {
  .telia-textfield {
    input  {
      font-family: 'Helvetica Neue';
      border-radius: 100px;
      border: none;
      transition: border 200ms ease, background-color 200ms ease;
    }
  }

  .telia-textfield--white {
    input {
      border: none;
    }
  }

  .telia-textfield__content {
    border-radius: 100px;

    transition: box-shadow 150ms ease-in-out;
  }

  .telia-textfield--grey {
    .telia-textfield__content {
      border: 1px solid var(--grey-200);
    }
  }

  .telia-textfield__content:focus-within {
    box-shadow: 0 1px 2px var(--grey-300);
    background-color: white;
  }

  .telia-textfield__leftContent {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    transition: border 200ms ease, background-color 200ms ease;
  }

  .telia-textfield__status,
  .telia-textfield__rightContent {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    transition: border 200ms ease, background-color 200ms ease;
  }

  .telia-textfield:hover {
    .telia-textfield__leftContent {
      background-color: white;
    }

    .telia-textfield__rightContent {
      background-color: white;
    }

    input {
      background-color: var(--white);
      border: none;
    }
  }

  .telia-textfield:focus-within {
    .telia-textfield__leftContent {
      background-color: white;
    }

    input {
      background-color: var(--white);
      border: none;
    }
    .telia-textfield__rightContent {
      background-color: white;
    }
  }

  .telia-textfield--prepended {
    input {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }
  .telia-textfield--appended {
    input {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }
}
