:root {
    --accordion-border: 1px solid var(--dark-grey);
}

* ~ .accordion {
    border-top: var(--accordion-border);
}

.accordion {
    margin: 0 auto;
    max-width: var(--width-medium);

    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
    border-bottom: var(--accordion-border);

    @media all and (min-width: 28.125em) {
        margin-top: 3.75rem;
        margin-bottom: 3.75rem;
    }

    &:first-of-type {
        border-top: var(--accordion-border);
    }

    &:last-of-type {
        margin-bottom: 3.125rem;

        @media all and (min-width: 28.125em) {
            margin-bottom: 3.75rem;
        }
    }

    & + .accordion {
        margin-top: -3.125rem;
        border-top: none;

        @media all and (min-width: 28.125em) {
            margin-top: -3.75rem;
        }
    }

    &__header {
        margin-top: 0;
    }

    &__header-button {
        background-color: var(--white);
        background-image: url({{assetPath}}/icons/ico_add_purple.svg);
        background-position: right 1rem center;
        background-repeat: no-repeat;
        background-size: 15px 15px;
        border: none;
        cursor: pointer;
        display: block;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        padding: 1rem 2.8rem 1rem 1rem;
        position: relative;
        text-align: left;
        width: 100%;

        &:hover {
            color: var(--core-purple);
        }

        &:focus,
        &:active {
            background-color: var(--core-purple);
            background-image: url({{assetPath}}/icons/ico_add_white.svg);
            color: var(--white);
            outline: none;
        }
    }

    &__panel {
        height: 0;
        opacity: 0;
        overflow: hidden;
        padding: 0 1rem;
        transition: height 0.5s ease-in-out,
                    opacity 0.5s ease-in-out,
                    padding 0.5s ease-in-out,
                    visibility 0.5s ease-in-out;
        visibility: hidden;
    }

    &--open {
        .accordion__header-button {
            background-image: url('{{assetPath}}/icons/ico_minus_purple.svg');

            &:focus,
            &:active {
                background-color: var(--white);
                color: var(--core-purple);
            }
        }
        .accordion__panel {
            height: auto;
            padding: 0 1rem 3.75rem;
            opacity: 1;
            visibility: visible;
        }
    }
}