/* Styleguide */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.sg-site-navigation {
    border-bottom: 1px solid #e5e5e5;
    padding: 1em 0;

    a {
        color: #555;
        margin-right: 1em;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.sg-component {
    margin: 1em 0 3em 0;
}
.sg-component__example {
    border: 1px solid #e5e5e5;
    margin-bottom: 0.5em;
}
.sg-component__example-rendered {
    padding: 1em;
}
.sg-component__example-code {
    background-color: #f7f7f7;
    border-top: 1px solid #e5e5e5;
    overflow: scroll;
    padding: 1em;
    position: relative;
}
.sg-component__example-name,
.sg-component__example-language {
    color: #777;
    font-weight: bold;
}
.sg-component__example-language {
    position: absolute;
    right: 1em;
    top: 1em;
}