<div class="list-image-block list-image-block--list-right-image-bottom">
    <ul class="list-image-block__list list-image-block__list--list-on-right-side">
        <li class="list-image-block__list-element">
            If you add the <code>list-image-block__list--list-on-right-side</code>
            CSS class the list will be rendered to the right of the image
        </li>
        <li class="list-image-block__list-element">On smaller devices the list will wrap under the image</li>
        <li class="list-image-block__list-element">
            If you also add the <code>list-image-block--list-right-image-bottom</code>
            CSS class the image will wrap under the list on smaller devices
        </li>
    </ul>
    <img class="list-image-block__image" src="/public/images/kids-iPad.jpg" title="" alt="" aria-label=""/>
</div>
