<!--
    URL parameters with value 0/1 (true/false), showing default value:
    * Suggest related videos after current video is finished: rel=1
    * Show video player controls: controls=1
    * Display information like the video title and uploader before the video starts playing: showinfo=1
    * Autoplay: autoplay=0
-->
<div class="video">
    <div class="video__iframe-wrapper">
        <iframe
            src="https://www.youtube.com/embed/-yWZdilQQnk?rel=1&amp;controls=1&amp;showinfo=1&amp;autoplay=0"
            class="video__iframe"
            allowfullscreen></iframe>
    </div>
    <div class="caption">Videotext here</div>
</div>
<!-- '-nocookie' mode for strengthened privacy:
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/-yWZdilQQnk?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
-->