.business_icon_add,
.business_icon_ai-robot,
.business_icon_alarm,
.business_icon_alert,
.business_icon_arrow-down,
.business_icon_arrow-large-down,
.business_icon_arrow-large-left,
.business_icon_arrow-large-right,
.business_icon_arrow-large-up,
.business_icon_arrow-left,
.business_icon_arrow-right,
.business_icon_arrow-small-down,
.business_icon_arrow-small-left,
.business_icon_arrow-small-right,
.business_icon_arrow-small-up,
.business_icon_arrow-up,
.business_icon_attach,
.business_icon_battery,
.business_icon_best-in-test,
.business_icon_broadband,
.business_icon_business-intelligence,
.business_icon_buy,
.business_icon_calendar,
.business_icon_camera,
.business_icon_card-view,
.business_icon_chat,
.business_icon_check-mark,
.business_icon_close,
.business_icon_cloud,
.business_icon_delivery,
.business_icon_devices,
.business_icon_document-doc,
.business_icon_document-pdf,
.business_icon_document-ppt,
.business_icon_document-xls,
.business_icon_document,
.business_icon_download,
.business_icon_email,
.business_icon_facebook,
.business_icon_filter,
.business_icon_folder-new,
.business_icon_folder,
.business_icon_games,
.business_icon_gift,
.business_icon_graph,
.business_icon_grid-view,
.business_icon_heart-filled,
.business_icon_heart,
.business_icon_home,
.business_icon_image,
.business_icon_infinite,
.business_icon_info,
.business_icon_invoice,
.business_icon_ipad,
.business_icon_laptop,
.business_icon_level,
.business_icon_link,
.business_icon_list-view,
.business_icon_lock,
.business_icon_login,
.business_icon_logout,
.business_icon_menu,
.business_icon_minus,
.business_icon_mobile-recycle,
.business_icon_mobile,
.business_icon_money-euro,
.business_icon_money,
.business_icon_more,
.business_icon_open,
.business_icon_orgchart,
.business_icon_payment,
.business_icon_pen,
.business_icon_person-new,
.business_icon_person,
.business_icon_phone,
.business_icon_pie-chart,
.business_icon_place,
.business_icon_play,
.business_icon_position,
.business_icon_question,
.business_icon_refresh,
.business_icon_return,
.business_icon_router,
.business_icon_search,
.business_icon_server,
.business_icon_services,
.business_icon_settings,
.business_icon_shopping,
.business_icon_shopping_2,
.business_icon_shuffle,
.business_icon_signal,
.business_icon_sim-card,
.business_icon_sms,
.business_icon_star-filled,
.business_icon_statistics,
.business_icon_summary,
.business_icon_support,
.business_icon_sync,
.business_icon_table-view,
.business_icon_tags,
.business_icon_time-waiting,
.business_icon_time,
.business_icon_trash,
.business_icon_tv,
.business_icon_twitter,
.business_icon_undo,
.business_icon_upload,
.business_icon_video,
.business_icon_visibility-filled,
.business_icon_visibility,
.business_icon_volume,
.business_icon_warning,
.business_icon_wireless-off,
.business_icon_wireless,
.business_icon_world-alert,
.business_icon_world-off,
.business_icon_world-question,
.business_icon_world,
.business_icon_wrench {
  width: 64px;
  height: 64px;
}
.business_icon_add,
.business_icon_ai-robot,
.business_icon_alarm,
.business_icon_alert,
.business_icon_arrow-down,
.business_icon_arrow-large-down,
.business_icon_arrow-large-left,
.business_icon_arrow-large-right,
.business_icon_arrow-large-up,
.business_icon_arrow-left,
.business_icon_arrow-right,
.business_icon_arrow-small-down,
.business_icon_arrow-small-left,
.business_icon_arrow-small-right,
.business_icon_arrow-small-up,
.business_icon_arrow-up,
.business_icon_attach,
.business_icon_battery,
.business_icon_best-in-test,
.business_icon_broadband,
.business_icon_business-intelligence,
.business_icon_buy,
.business_icon_calendar,
.business_icon_camera,
.business_icon_card-view,
.business_icon_chat,
.business_icon_check-mark,
.business_icon_close,
.business_icon_cloud,
.business_icon_delivery,
.business_icon_devices,
.business_icon_document-doc,
.business_icon_document-pdf,
.business_icon_document-ppt,
.business_icon_document-xls,
.business_icon_document,
.business_icon_download,
.business_icon_email,
.business_icon_facebook,
.business_icon_folder-new,
.business_icon_folder,
.business_icon_games,
.business_icon_gift,
.business_icon_graph,
.business_icon_grid-view,
.business_icon_heart-filled,
.business_icon_heart,
.business_icon_home,
.business_icon_image,
.business_icon_infinite,
.business_icon_info,
.business_icon_invoice,
.business_icon_ipad,
.business_icon_laptop,
.business_icon_level,
.business_icon_link,
.business_icon_list-view,
.business_icon_lock,
.business_icon_login,
.business_icon_logout,
.business_icon_menu,
.business_icon_minus,
.business_icon_mobile-recycle,
.business_icon_mobile,
.business_icon_money-euro,
.business_icon_money,
.business_icon_more,
.business_icon_open,
.business_icon_orgchart,
.business_icon_payment,
.business_icon_pen,
.business_icon_person-new,
.business_icon_person,
.business_icon_phone,
.business_icon_pie-chart,
.business_icon_place,
.business_icon_play,
.business_icon_position,
.business_icon_question,
.business_icon_refresh,
.business_icon_return,
.business_icon_router,
.business_icon_search,
.business_icon_server,
.business_icon_services,
.business_icon_settings,
.business_icon_shopping,
.business_icon_shopping_2,
.business_icon_shuffle,
.business_icon_sim-card,
.business_icon_sms,
.business_icon_star-filled,
.business_icon_statistics,
.business_icon_summary,
.business_icon_support,
.business_icon_sync,
.business_icon_table-view,
.business_icon_tags,
.business_icon_time-waiting,
.business_icon_time,
.business_icon_trash,
.business_icon_tv,
.business_icon_twitter,
.business_icon_undo,
.business_icon_upload,
.business_icon_video,
.business_icon_visibility-filled,
.business_icon_visibility,
.business_icon_volume,
.business_icon_warning,
.business_icon_wireless-off,
.business_icon_wireless,
.business_icon_world-alert,
.business_icon_world-off,
.business_icon_world-question,
.business_icon_world,
.business_icon_wrench {
  fill: #222;
  fill-rule: evenodd;
}
.business_icon_filter {
  fill: #220;
  fill-rule: nonzero;
}
.business_icon_signal {
  fill: none;
  fill-rule: evenodd;
  stroke: #220;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 4;
}
