.Business-Icon--add-circle,
.Business-Icon--add,
.Business-Icon--alarm-off,
.Business-Icon--alarm,
.Business-Icon--alert,
.Business-Icon--arrow-down,
.Business-Icon--arrow-large-down,
.Business-Icon--arrow-large-left,
.Business-Icon--arrow-large-right,
.Business-Icon--arrow-large-up,
.Business-Icon--arrow-left,
.Business-Icon--arrow-right,
.Business-Icon--arrow-small-down,
.Business-Icon--arrow-small-left,
.Business-Icon--arrow-small-right,
.Business-Icon--arrow-small-up,
.Business-Icon--arrow-subdirectory,
.Business-Icon--arrow-up,
.Business-Icon--attach,
.Business-Icon--battery,
.Business-Icon--best-in-test,
.Business-Icon--business-intelligence,
.Business-Icon--business,
.Business-Icon--calendar,
.Business-Icon--camera,
.Business-Icon--card-view,
.Business-Icon--chat,
.Business-Icon--check-mark,
.Business-Icon--child-boy,
.Business-Icon--child-girl,
.Business-Icon--close,
.Business-Icon--cloud,
.Business-Icon--company,
.Business-Icon--contact,
.Business-Icon--delivery,
.Business-Icon--devices,
.Business-Icon--document-doc,
.Business-Icon--document-edit,
.Business-Icon--document-pdf,
.Business-Icon--document-ppt,
.Business-Icon--document-xls,
.Business-Icon--document,
.Business-Icon--download,
.Business-Icon--email,
.Business-Icon--entertainment,
.Business-Icon--facebook,
.Business-Icon--filter,
.Business-Icon--folder-new,
.Business-Icon--folder,
.Business-Icon--food,
.Business-Icon--fraud,
.Business-Icon--games,
.Business-Icon--gift,
.Business-Icon--graph,
.Business-Icon--grid-view,
.Business-Icon--group,
.Business-Icon--heart-filled,
.Business-Icon--heart,
.Business-Icon--home,
.Business-Icon--image,
.Business-Icon--infinite,
.Business-Icon--info,
.Business-Icon--insurance,
.Business-Icon--internet,
.Business-Icon--kontantkort,
.Business-Icon--laptop,
.Business-Icon--lightbulb,
.Business-Icon--like,
.Business-Icon--link,
.Business-Icon--list-view,
.Business-Icon--lock-locked,
.Business-Icon--lock-unlocked,
.Business-Icon--login,
.Business-Icon--logout,
.Business-Icon--map,
.Business-Icon--menu,
.Business-Icon--microphone,
.Business-Icon--minus,
.Business-Icon--mms,
.Business-Icon--mobile,
.Business-Icon--money-euro,
.Business-Icon--money,
.Business-Icon--more,
.Business-Icon--music,
.Business-Icon--open,
.Business-Icon--org-chart,
.Business-Icon--payment,
.Business-Icon--pen,
.Business-Icon--phone,
.Business-Icon--pie-chart,
.Business-Icon--place,
.Business-Icon--play,
.Business-Icon--police,
.Business-Icon--position,
.Business-Icon--product-data-boost,
.Business-Icon--product-roam-like-home,
.Business-Icon--pulse,
.Business-Icon--question,
.Business-Icon--recycle,
.Business-Icon--refill,
.Business-Icon--refresh,
.Business-Icon--replace,
.Business-Icon--return,
.Business-Icon--robot,
.Business-Icon--router,
.Business-Icon--search,
.Business-Icon--security,
.Business-Icon--server,
.Business-Icon--services,
.Business-Icon--settings,
.Business-Icon--shopping,
.Business-Icon--shoppingcart,
.Business-Icon--shuffle,
.Business-Icon--signal,
.Business-Icon--sim-card,
.Business-Icon--speedometer,
.Business-Icon--star-filled,
.Business-Icon--star,
.Business-Icon--statistics,
.Business-Icon--stop,
.Business-Icon--store,
.Business-Icon--support,
.Business-Icon--svitsj,
.Business-Icon--sync,
.Business-Icon--table-view,
.Business-Icon--tablet,
.Business-Icon--tags,
.Business-Icon--time-waiting,
.Business-Icon--time,
.Business-Icon--trash,
.Business-Icon--tv,
.Business-Icon--twitter,
.Business-Icon--undo,
.Business-Icon--upload,
.Business-Icon--user-admin,
.Business-Icon--user-new,
.Business-Icon--user,
.Business-Icon--video,
.Business-Icon--visibility-filled,
.Business-Icon--visibility,
.Business-Icon--voicemail,
.Business-Icon--volume,
.Business-Icon--warning,
.Business-Icon--weather,
.Business-Icon--wireless-off,
.Business-Icon--wireless,
.Business-Icon--world-alert,
.Business-Icon--world-off,
.Business-Icon--world-question,
.Business-Icon--world,
.Business-Icon--wrench {
  width: 64px;
  height: 64px;
}
.Business-Icon--add-circle,
.Business-Icon--add,
.Business-Icon--alarm-off,
.Business-Icon--alarm,
.Business-Icon--alert,
.Business-Icon--arrow-down,
.Business-Icon--arrow-large-down,
.Business-Icon--arrow-large-left,
.Business-Icon--arrow-large-right,
.Business-Icon--arrow-large-up,
.Business-Icon--arrow-left,
.Business-Icon--arrow-right,
.Business-Icon--arrow-small-down,
.Business-Icon--arrow-small-left,
.Business-Icon--arrow-small-right,
.Business-Icon--arrow-small-up,
.Business-Icon--arrow-subdirectory,
.Business-Icon--arrow-up,
.Business-Icon--attach,
.Business-Icon--battery,
.Business-Icon--best-in-test,
.Business-Icon--business-intelligence,
.Business-Icon--business,
.Business-Icon--calendar,
.Business-Icon--camera,
.Business-Icon--card-view,
.Business-Icon--chat,
.Business-Icon--check-mark,
.Business-Icon--child-boy,
.Business-Icon--child-girl,
.Business-Icon--close,
.Business-Icon--cloud,
.Business-Icon--company,
.Business-Icon--contact,
.Business-Icon--delivery,
.Business-Icon--devices,
.Business-Icon--document-doc,
.Business-Icon--document-edit,
.Business-Icon--document-pdf,
.Business-Icon--document-ppt,
.Business-Icon--document-xls,
.Business-Icon--document,
.Business-Icon--download,
.Business-Icon--email,
.Business-Icon--entertainment,
.Business-Icon--facebook,
.Business-Icon--folder-new,
.Business-Icon--folder,
.Business-Icon--food,
.Business-Icon--fraud,
.Business-Icon--games,
.Business-Icon--gift,
.Business-Icon--grid-view,
.Business-Icon--group,
.Business-Icon--heart-filled,
.Business-Icon--heart,
.Business-Icon--home,
.Business-Icon--image,
.Business-Icon--infinite,
.Business-Icon--info,
.Business-Icon--insurance,
.Business-Icon--internet,
.Business-Icon--kontantkort,
.Business-Icon--laptop,
.Business-Icon--lightbulb,
.Business-Icon--like,
.Business-Icon--link,
.Business-Icon--list-view,
.Business-Icon--lock-locked,
.Business-Icon--lock-unlocked,
.Business-Icon--login,
.Business-Icon--logout,
.Business-Icon--map,
.Business-Icon--menu,
.Business-Icon--microphone,
.Business-Icon--minus,
.Business-Icon--mms,
.Business-Icon--mobile,
.Business-Icon--money-euro,
.Business-Icon--money,
.Business-Icon--more,
.Business-Icon--music,
.Business-Icon--open,
.Business-Icon--org-chart,
.Business-Icon--payment,
.Business-Icon--pen,
.Business-Icon--phone,
.Business-Icon--pie-chart,
.Business-Icon--place,
.Business-Icon--play,
.Business-Icon--police,
.Business-Icon--position,
.Business-Icon--product-data-boost,
.Business-Icon--product-roam-like-home,
.Business-Icon--pulse,
.Business-Icon--question,
.Business-Icon--recycle,
.Business-Icon--refill,
.Business-Icon--replace,
.Business-Icon--return,
.Business-Icon--robot,
.Business-Icon--router,
.Business-Icon--search,
.Business-Icon--security,
.Business-Icon--server,
.Business-Icon--services,
.Business-Icon--settings,
.Business-Icon--shopping,
.Business-Icon--shoppingcart,
.Business-Icon--shuffle,
.Business-Icon--signal,
.Business-Icon--sim-card,
.Business-Icon--speedometer,
.Business-Icon--star-filled,
.Business-Icon--star,
.Business-Icon--statistics,
.Business-Icon--stop,
.Business-Icon--store,
.Business-Icon--support,
.Business-Icon--svitsj,
.Business-Icon--sync,
.Business-Icon--table-view,
.Business-Icon--tablet,
.Business-Icon--tags,
.Business-Icon--time-waiting,
.Business-Icon--time,
.Business-Icon--trash,
.Business-Icon--tv,
.Business-Icon--twitter,
.Business-Icon--undo,
.Business-Icon--upload,
.Business-Icon--user-admin,
.Business-Icon--user-new,
.Business-Icon--user,
.Business-Icon--video,
.Business-Icon--visibility-filled,
.Business-Icon--visibility,
.Business-Icon--voicemail,
.Business-Icon--volume,
.Business-Icon--warning,
.Business-Icon--weather,
.Business-Icon--wireless-off,
.Business-Icon--wireless,
.Business-Icon--world-alert,
.Business-Icon--world-off,
.Business-Icon--world-question,
.Business-Icon--wrench {
  fill: #222;
  fill-rule: evenodd;
}
.Business-Icon--filter {
  fill: #220;
  fill-rule: nonzero;
}
.Business-Icon--graph {
  fill: none;
  fill-rule: evenodd;
  stroke: #000;
  stroke-linecap: round;
  stroke-width: 4;
}
.Business-Icon--refresh,
.Business-Icon--world {
  fill: #000;
  fill-rule: nonzero;
}
