.Business-Icon--add,
.Business-Icon--ai-robot,
.Business-Icon--alarm,
.Business-Icon--alert,
.Business-Icon--arrow-down,
.Business-Icon--arrow-large-down,
.Business-Icon--arrow-large-left,
.Business-Icon--arrow-large-right,
.Business-Icon--arrow-large-up,
.Business-Icon--arrow-left,
.Business-Icon--arrow-right,
.Business-Icon--arrow-small-down,
.Business-Icon--arrow-small-left,
.Business-Icon--arrow-small-right,
.Business-Icon--arrow-small-up,
.Business-Icon--arrow-up,
.Business-Icon--attach,
.Business-Icon--battery,
.Business-Icon--best-in-test,
.Business-Icon--broadband,
.Business-Icon--business-intelligence,
.Business-Icon--buy,
.Business-Icon--calendar,
.Business-Icon--camera,
.Business-Icon--card-view,
.Business-Icon--chat,
.Business-Icon--check-mark,
.Business-Icon--close,
.Business-Icon--cloud,
.Business-Icon--delivery,
.Business-Icon--devices,
.Business-Icon--document-doc,
.Business-Icon--document-pdf,
.Business-Icon--document-ppt,
.Business-Icon--document-xls,
.Business-Icon--document,
.Business-Icon--download,
.Business-Icon--email,
.Business-Icon--facebook,
.Business-Icon--filter,
.Business-Icon--folder-new,
.Business-Icon--folder,
.Business-Icon--games,
.Business-Icon--gift,
.Business-Icon--graph,
.Business-Icon--grid-view,
.Business-Icon--heart-filled,
.Business-Icon--heart,
.Business-Icon--home,
.Business-Icon--image,
.Business-Icon--infinite,
.Business-Icon--info,
.Business-Icon--invoice,
.Business-Icon--ipad,
.Business-Icon--laptop,
.Business-Icon--level,
.Business-Icon--link,
.Business-Icon--list-view,
.Business-Icon--lock,
.Business-Icon--login,
.Business-Icon--logout,
.Business-Icon--menu,
.Business-Icon--minus,
.Business-Icon--mobile-recycle,
.Business-Icon--mobile,
.Business-Icon--money-euro,
.Business-Icon--money,
.Business-Icon--more,
.Business-Icon--open,
.Business-Icon--orgchart,
.Business-Icon--payment,
.Business-Icon--pen,
.Business-Icon--person-new,
.Business-Icon--person,
.Business-Icon--phone,
.Business-Icon--pie-chart,
.Business-Icon--place,
.Business-Icon--play,
.Business-Icon--position,
.Business-Icon--question,
.Business-Icon--refresh,
.Business-Icon--return,
.Business-Icon--router,
.Business-Icon--search,
.Business-Icon--server,
.Business-Icon--services,
.Business-Icon--settings,
.Business-Icon--shopping,
.Business-Icon--shopping_2,
.Business-Icon--shuffle,
.Business-Icon--signal,
.Business-Icon--sim-card,
.Business-Icon--sms,
.Business-Icon--star-filled,
.Business-Icon--statistics,
.Business-Icon--summary,
.Business-Icon--support,
.Business-Icon--sync,
.Business-Icon--table-view,
.Business-Icon--tags,
.Business-Icon--time-waiting,
.Business-Icon--time,
.Business-Icon--trash,
.Business-Icon--tv,
.Business-Icon--twitter,
.Business-Icon--undo,
.Business-Icon--upload,
.Business-Icon--video,
.Business-Icon--visibility-filled,
.Business-Icon--visibility,
.Business-Icon--volume,
.Business-Icon--warning,
.Business-Icon--wireless-off,
.Business-Icon--wireless,
.Business-Icon--world-alert,
.Business-Icon--world-off,
.Business-Icon--world-question,
.Business-Icon--world,
.Business-Icon--wrench {
  width: 64px;
  height: 64px;
}
.Business-Icon--add,
.Business-Icon--ai-robot,
.Business-Icon--alarm,
.Business-Icon--alert,
.Business-Icon--arrow-down,
.Business-Icon--arrow-large-down,
.Business-Icon--arrow-large-left,
.Business-Icon--arrow-large-right,
.Business-Icon--arrow-large-up,
.Business-Icon--arrow-left,
.Business-Icon--arrow-right,
.Business-Icon--arrow-small-down,
.Business-Icon--arrow-small-left,
.Business-Icon--arrow-small-right,
.Business-Icon--arrow-small-up,
.Business-Icon--arrow-up,
.Business-Icon--attach,
.Business-Icon--battery,
.Business-Icon--best-in-test,
.Business-Icon--broadband,
.Business-Icon--business-intelligence,
.Business-Icon--buy,
.Business-Icon--calendar,
.Business-Icon--camera,
.Business-Icon--card-view,
.Business-Icon--chat,
.Business-Icon--check-mark,
.Business-Icon--close,
.Business-Icon--cloud,
.Business-Icon--delivery,
.Business-Icon--devices,
.Business-Icon--document-doc,
.Business-Icon--document-pdf,
.Business-Icon--document-ppt,
.Business-Icon--document-xls,
.Business-Icon--document,
.Business-Icon--download,
.Business-Icon--email,
.Business-Icon--facebook,
.Business-Icon--folder-new,
.Business-Icon--folder,
.Business-Icon--games,
.Business-Icon--gift,
.Business-Icon--graph,
.Business-Icon--grid-view,
.Business-Icon--heart-filled,
.Business-Icon--heart,
.Business-Icon--home,
.Business-Icon--image,
.Business-Icon--infinite,
.Business-Icon--info,
.Business-Icon--invoice,
.Business-Icon--ipad,
.Business-Icon--laptop,
.Business-Icon--level,
.Business-Icon--link,
.Business-Icon--list-view,
.Business-Icon--lock,
.Business-Icon--login,
.Business-Icon--logout,
.Business-Icon--menu,
.Business-Icon--minus,
.Business-Icon--mobile-recycle,
.Business-Icon--mobile,
.Business-Icon--money-euro,
.Business-Icon--money,
.Business-Icon--more,
.Business-Icon--open,
.Business-Icon--orgchart,
.Business-Icon--payment,
.Business-Icon--pen,
.Business-Icon--person-new,
.Business-Icon--person,
.Business-Icon--phone,
.Business-Icon--pie-chart,
.Business-Icon--place,
.Business-Icon--play,
.Business-Icon--position,
.Business-Icon--question,
.Business-Icon--refresh,
.Business-Icon--return,
.Business-Icon--router,
.Business-Icon--search,
.Business-Icon--server,
.Business-Icon--services,
.Business-Icon--settings,
.Business-Icon--shopping,
.Business-Icon--shopping_2,
.Business-Icon--shuffle,
.Business-Icon--signal,
.Business-Icon--sim-card,
.Business-Icon--sms,
.Business-Icon--star-filled,
.Business-Icon--statistics,
.Business-Icon--summary,
.Business-Icon--support,
.Business-Icon--sync,
.Business-Icon--table-view,
.Business-Icon--tags,
.Business-Icon--time-waiting,
.Business-Icon--time,
.Business-Icon--trash,
.Business-Icon--tv,
.Business-Icon--twitter,
.Business-Icon--undo,
.Business-Icon--upload,
.Business-Icon--video,
.Business-Icon--visibility-filled,
.Business-Icon--visibility,
.Business-Icon--volume,
.Business-Icon--warning,
.Business-Icon--wireless-off,
.Business-Icon--wireless,
.Business-Icon--world-alert,
.Business-Icon--world-off,
.Business-Icon--world-question,
.Business-Icon--world,
.Business-Icon--wrench {
  fill: #222;
  fill-rule: evenodd;
}
.Business-Icon--filter {
  fill: #220;
  fill-rule: nonzero;
}
