<ul class="number-boxes">
    <li class="number-box">
        <span class="number-box__title">A small title</span>
        <span class="number-box__number">45 609</span>
        <span class="number-box__unit">Unit</span>
        <span class="number-box__text">a short descriptive text</span>
    </li>
    <li class="number-box">
        <span class="number-box__title">A small title</span>
        <span class="number-box__number">45 609</span>
        <span class="number-box__unit">Unit</span>
        <span class="number-box__text">a short descriptive text</span>
    </li>
    <li class="number-box">
        <span class="number-box__title">A small title</span>
        <span class="number-box__number">45 609</span>
        <span class="number-box__unit">Unit</span>
        <span class="number-box__text">a short descriptive text</span>
    </li>
    <li class="number-box">
        <span class="number-box__title">A small title</span>
        <span class="number-box__number">45 609</span>
        <span class="number-box__unit">Unit</span>
        <span class="number-box__text">a short descriptive text</span>
    </li>
    <li class="number-box">
        <span class="number-box__title">A small title</span>
        <span class="number-box__number">45 609</span>
        <span class="number-box__unit">Unit</span>
        <span class="number-box__text">a short descriptive text</span>
    </li>
</ul>