.price-calculation {
    width: 100%;
    max-width: var(--width-small);
    margin: 0 auto;
    text-align: left;

    &__items {
        border-bottom: 1px solid var(--grey);
        display: block;
        margin-bottom: 0.2rem;
    }

    &__item {
        display: block;
        margin-bottom: 0.2rem;

        &-cell {
            width: 100%;
        }

        &-title {
        }

        &-price {
            vertical-align: top;
        }

        &-subtitle {
            font-style: italic;
            color: var(--dark-grey-2);
        }
    }

    &__total {
        .price-calculation__item-title {
            font-family: "Helvetica Neue Medium";
        }

        .price-calculation__item-price {
            font-family: "Helvetica Neue Medium";
        }
    }
}