.telia-lozenge {
  background-color: var(--grey-100);
  color: var(--grey-900);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  width: fit-content;
  width: -moz-fit-content;

  display: flex;
  align-items: center;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &__positive {
    background-color: var(--green-100);
    color: var(--green-800);
  }

  &__negative {
    background-color: var(--red-100);
    color: var(--red-700);
  }

  &__warning {
    background-color: var(--orange-100);
    color: var(--orange-700);
  }

  &__square {
    border-radius: 4px;
  }

  &__communication {
    background-color: var(--core-purple-100);
    color: var(--core-purple-600);
  }

  &__info {
    background-color: var(--blue-100);
    color: var(--blue-900);
  }

  .Icon {
    height: 1rem;
    width: 1rem;
    margin-right: 0.25rem;
    margin-left: -0.25rem;
  }
}
