.telia-lozenge {
  background-color: var(--grey-200);
  color: var(--grey-900);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  width: fit-content;
  max-width: 5rem;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &__positive {
    background-color: var(--green-200);
    color: var(--green-600);
  }

  &__negative {
    background-color: var(--red-100);
    color: var(--red-600);
  }

  &__warning {
    background-color: var(--orange-100);
    color: var(--orange-600);
  }

  &__square {
    border-radius: 4px;
  }
}
