<div class="list-with-image">
    <ul class="list-with-image__list list-with-image__list--list-on-right-side">
        <li class="list-with-image__list-element">
            If you add the <code>list-with-image__list--list-on-right-side</code>
            CSS class the list will be rendered to the right of the image
        </li>
        <li class="list-with-image__list-element">On smaller devices the list will wrap under the image</li>
    </ul>
    <img class="list-with-image__image" src="/public/images/boy-iPad.jpg" title="" alt="" aria-label=""/>
</div>
