<div class="list-with-image">
    <ul class="list-with-image__list">
        <li class="list-with-image__list-element">This is a list and image component</li>
        <li class="list-with-image__list-element">This is the default look of it</li>
        <li class="list-with-image__list-element">On smaller devices the image wraps under the list</li>
        <li class="list-with-image__list-element">It's recommended to have a maximum of four bullet points</li>
    </ul>
    <img class="list-with-image__image" src="/public/website-images/woman-mobile.jpg" title="" alt="" aria-label=""/>
</div>
