.textbox-with-label {
    &__input {
        border: 1px solid var(--grey);
        color: var(--black);
        font: inherit;
        padding: 10px 15px;
        display: block;
        transition: all 0.3s;
        width: 290px;

        &:hover,
        &:focus,
        &:active {
            border: 1px solid var(--core-purple);
            outline: none;
        }
    }
}