.textbox-with-label {
    ::placeholder {
        color: var(--dark-grey);
    }

    &__input {
        border: 1px solid var(--dark-grey-2);
        color: var(--black);
        font: inherit;
        padding: 10px 15px;
        display: block;
        transition: all 0.3s;
        width: 100%;

        &:hover,
        &:focus,
        &:active {
            border: 1px solid var(--core-purple);
            outline: none;
        }
    }

    &--with-error {
        .textbox-with-label__input {
            border-color: var(--dark-red);
        }
    }
}