@import "../../colors.pcss";

.page-header {
    align-items: center;
    border-bottom: 1px solid var(--dark-grey);
    padding: 1em;
    position: relative;
    text-align: center;

    &__site-name-and-logo {
        color: yellow;
    }
    &__site-name {
        display: none;
    }
    &__site-logo {
    }

    &__site-nav {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }
    &__site-nav-burger {
    }

    &__site-tools {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    &__site-tool {
        border: 1px solid var(--core-purple);
        display: inline-block;
        height: 50px;
        width: 50px;
    }
    &__wip-message {
        color: red;
        font-size: 0.875rem;
        font-style: italic;
        padding-top: 1rem;
    }
}