@import "../../colors.pcss";

.page-header {
    align-items: center;
    border-bottom: 1px solid var(--dark-grey);
    display: flex;
    padding: 1em;

    &__site-name-and-logo {
        color: yellow;
        order: 2;
        text-align: center;
        width: 100%;
    }
    &__site-name {
        display: none;
    }
    &__site-logo {
    }

    &__site-nav {
        order: 1;
    }
    &__site-tools {
        order: 2;
        width: 50px;
    }
    &__placeholder {
        border: 1px solid var(--core-purple);
        color: #ccc;
        display: inline-block;
        font-size: 0.875rem;
        height: 50px;
        line-height: 50px;
        text-align: center;
        width: 50px;
    }
}