.caption {
    background-color: var(--grey);
    font-size: 0.8rem;
    font-style: italic;
    margin-bottom: var(--margin-bottom);
    margin-top: 0;
    padding: 0.3rem 0.5rem;

    &--no-margin-bottom {
        margin-bottom: 0;
    }
}