.shopping-cart {
  &__table__foot {
    &__header {
      text-align: right;
      padding-right: 1rem;
    }

    &__cell {
      text-align: right;
    }

    &__row {
      background-color: var(--white);
      color: var(--black);
      height: 3rem;
      .shopping-cart__table__header {
        text-align: right;
        text-align: left;
        padding: 0.5rem 0 0.5rem 1rem;
      }

      &--discount {
        background-color: var(--green-600);
        color: var(--white);
        font-family: 'pebble';

        .shopping-cart__item__label {
          text-transform: uppercase;
        }
      }

      &--empty {
        height: 1rem;
      }
    }
  }
}
