/*
Hide focus whenever user is not tabbing.

Applied when tab detection is enabled.
See useTabDetection.ts
*/

body.telia-hide-focus {
  *:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  .radiobutton > input:focus + .radiobutton__svg-container {
    box-shadow: none;
  }
}
