:root {
  --font-family-heading: 'TeliaSans-Bold', 'TeliaSans-Medium', 'Helvetica';
  --font-family-text: 'TeliaSans-Regular', 'Helvetica';
  --font-family-title: 'TeliaSansHeading', 'TeliaSans-Medium', 'Helvetica';
}
