:root {
    --grid-column-width: 82px;
    --grid-gutter-width: 20px;

    --width-large: calc((var(--grid-column-width) * 12) + (var(--grid-gutter-width) * 13));
    --width-medium: calc((var(--grid-column-width) * 8) + (var(--grid-gutter-width) * 9));
    --width-small: calc((var(--grid-column-width) * 6) + (var(--grid-gutter-width) * 7));

    --padding: 1.25rem;

    --margin-bottom: 1rem;
    --margin-bottom-large: 2rem;
}
