<figure class="full-width-image">
    <img class="full-width-image__image" src="https://placekitten.com/1600/300"  alt="Kitten" />
    <figcaption class="full-width-image__caption container container--large container--no-padding container--no-margin">
        Proin eget tortor risus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id orci porta dapibus. Curabitur aliquet quam id dui posuere blandit. Donec rutrum congue leo eget malesuada.
    </figcaption>
</figure>