<div class="full-width-image full-width-image--with-mask full-width-image--with-content-overlap">
    <img class="full-width-image__image" src="https://placekitten.com/1600/400" />
</div>

<div class="focus-box">
    <div class="focus-box__content-outer">
        <div class="focus-box__content-inner">
            <p>If you specify add the <code>--with-content-overlap</code> CSS class then the next piece of content, such as this Focus Box, will overlap the image.</p>
        </div>
    </div>
</div>