<div class="full-width-image full-width-image--with-mask full-width-image--with-content-overlap">
    <img class="full-width-image__image" src="https://placekitten.com/1600/500" />
</div>

<div class="main-content main-content--no-padding-top">
    <div class="focus-box">
        <div class="focus-box__content-outer">
            <div class="focus-box__content-inner">
                <p>If you specify add the <code>--with-content-overlap</code> CSS class then the
                    next piece of content, such as this Focus Box, will overlap the image.
                </p>
                <p>It's recommended to wrap the overlapping content in a <code><span><</span>div class="main-content"></code>
                    to make it responsive.
                </p>
                <p>It's also recommended to keep the height of the next piece of content tall enough
                    to cover the mask.
                </p>
            </div>
        </div>
    </div>
</div>