<section class="bottom-component bottom-component--light-lime">
    <div class="bottom-component__wrapper">
        <img class="bottom-component__icon" src="/public/icons/ico_favourites.svg" role="presentation" />
        <div class="bottom-component__text-content">
            <h2 class="heading heading--level-2">Bottom Component</h2>
            <div class="bottom-component__text">
                The intention of this component is to have a section on a page where the user could
                read about related content of the main content on the page.
                Such related information is relevant to put on the bottom of a page.
                If the content in this section is used for tangentially related content, we recommend
                to wrap the outer html section-element for this component in an aside-element.
            </div>
            <a class="button button--small button--action" href="">Button link</a>
            <ul class="link-list">
                <li class="link-list__item">
                    <a class="link-list__link" target="" href="#">List link</a>
                </li>
            </ul>
        </div>
        <img class="bottom-component__image" src="/public/website-images/woman-holding-ipad.jpg" alt="" title=""/>
    </div>
</section>