<section class="bottom-component bottom-component--light-orange">
    <div class="bottom-component__wrapper container container--medium">
        <img class="bottom-component__icon" src="/public/icons/ico_wireless.svg" role="presentation" />
        <div class="bottom-component__text-content">
            <h1 class="heading heading--level-2">Bottom Component</h1>
            <div class="bottom-component__text">
                The intention of this component is to have a section on a page where the user could
                read about related content of the main content on the page.
                Such related information is relevant to put on the bottom of a page.
                If the content in this section is used for tangentially related content, we recommend
                to wrap the outer html section-element for this component in an aside-element.
            </div>
            <a class="button button--small" href="">Button link</a>
        </div>
    </div>
</section>