.menu__search {
    position: relative;
    text-align: center;
    margin-right: 1.7188rem;

    @media all and (min-width: rem(1120)) {
    }

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline:none;
    }

    &-close {
        display: none;
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
        pointer-events: all;
        height: 2rem;
        width: 2rem;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        width: 1rem;
        height: 1rem;

        @media all and (min-width: rem(600)) {
            height: 2rem;
            width: 2rem;
        }

        &--focused {
            display: block;

            &:focus {
                outline: none;
            }
        }

        &:hover {
            cursor: pointer;
        }

        &-line {
            position: absolute;
            display: block;
            height: 2px;
            width: 100%;
            background: black;

            &:first-child {
                transform: rotate(45deg);
            }

            &:last-child {
                transform: rotate(-45deg);
            }
        }

        @media all and (min-width: rem(1120)) {
            display: none;
        }

    }
    &-icon {
        height: 100%;
        pointer-events: none;
        height: 1rem;
        width: 1rem;
        margin-bottom: 0.5rem;

        @media all and (min-width: rem(600)) {
            height: 1.9rem;
            width: 1.9rem;
        }

        @media all and (min-width: rem(1120)) {
            position: absolute;
            height: 2.5rem;
            width: 2.5rem;
            padding: 0.75rem;
            top: 0;
            left: 0;
            transform: none;
            transform: translateX(-50%);
        }
    }

    &-label {
        display: block;
        font-family: 'Helvetica Neue Medium';
        font-size: 0.675rem;
        letter-spacing: .05rem;
        line-height: 1;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        margin-top: -0.1px;

        @media all and (min-width: rem(600)) {
            font-size: 0.875rem;
            margin-top: -0.2rem;
        }

        @media all and (min-width: rem(1120)) {
            display: none;
        }
    }

    &-input {
        display: none;
        padding: 0.75rem;
        border: none;
        font-size: 1.125rem;
        width: 1rem;
        transform: translate(25%, -25%);
        pointer-events: none;

        @media all and (min-width: rem(600)) {
            width: 3rem;
        }

        @media all and (min-width: rem(1120)) {
            display: inline-block;
            width: 6rem;
            background-color: transparent;
            transition: width 250ms ease-out;
            transform: none;
        }

        &:hover {
            cursor: pointer;
            @media all and (min-width: rem(1120)) {
                margin-top: 0.125rem;
                border-bottom: 2px solid var(--core-purple);
            }
        }

        &:focus {
            outline:none;
        }

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: var(--white);

            @media all and (min-width: rem(1120)) {
                color: var(--black);
            }
        }
        &::-moz-placeholder { /* Firefox 19+ */
            color: var(--white);

            @media all and (min-width: rem(1120)) {
                color: var(--black);
            }
        }
        &:-ms-input-placeholder { /* IE 10+ */
            color: var(--white);

            @media all and (min-width: rem(1120)) {
                color: var(--black);
            }
        }
        &:-moz-placeholder { /* Firefox 18- */
            color: var(--white);

            @media all and (min-width: rem(1120)) {
                color: var(--black);
            }
        }
    }

    &--focused {
        position: static;

        @media all and (min-width: rem(1120)) {
            position: relative;
        }

        .menu__search-input {
            display: inline-block;
            outline: none;
            margin-top: 0.125rem;
            border-bottom: 2px solid var(--core-purple);
            cursor: text;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            transform: none;
            padding: 0 2.5rem;
            pointer-events: auto;

            & + .menu__search-icon {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }

            @media all and (min-width: rem(1120)) {
                position: static;
                width: 19.8125rem;
            }
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: var(--black);
            }
            &::-moz-placeholder { /* Firefox 19+ */
                color: var(--black);
            }
            &:-ms-input-placeholder { /* IE 10+ */
                color: var(--black);
            }
            &:-moz-placeholder { /* Firefox 18- */
                color: var(--black);
            }
        }
    }
}