:root {
    --logo-width-desktop: 9rem;
    --menu-padding: 0.5rem 1.25rem;
    --menu-padding-small: 0.5rem 0.5rem;
    --menu-link-padding: 0 calc(var(--padding)/2);
    --menu-link-padding: 0 var(--padding);
    --menu-link-margin-right: calc(var(--padding) / -2);
    --font-size-small: 0.89em;
    --font-family: 'Helvetica Neue Medium';

    --desktop-min-width: 1400px;
    --tablet-min-width: 600px;

    --icon-size-mobile: 1.9rem;
    --icon-size-mobile-small: 1.3rem;

    --menu-button-width: 6rem;
    --menu-button-width-small: 4rem;
}

.menu {
    width: 100%;
    position: relative;
    z-index: 99999;
    box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.13);

    .link:hover{
        border: none;
        color: none;
    }
}