.menu {
    width: 100%;
    padding-top: 1.125rem;
    position: relative;
    z-index: 99999;

    @media all and (min-width: rem(1120)) {
       padding: 1.125rem 0;
    }

    &__top {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: flex-start;
        border-bottom: 1px solid var(--light-grey);
        padding: 0 var(--padding);
        padding-bottom: 0.8125rem;

        @media all and (min-width: rem(1120)) {
            padding-left: 2.8125rem;
            padding-right: 2.8125rem;
        }
    }

    &__logo {
        max-width: 4rem;

        @media all and (min-width: rem(600)) {
            min-width: 7rem;
            max-width: 7rem;
        }

        @media all and (min-width: rem(1120)) {
            margin-right: 3.125rem;
        }
    }

    &__heading {
        display:flex;
        justify: space-around;
        flex-grow: 1;
        list-style: none;
    }

    &__heading-item, &__item {
        background: none;
        border: none;
        border-bottom: solid 1px transparent;
        cursor: pointer;
        font-family: 'Helvetica Neue Medium';
        font-size: 1em;
        transition: all .1s ease-in;
        margin: 0;
        margin-right: 1.875rem;
        padding-bottom: 2px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        display: none;

        @media all and (min-width: rem(1120)) {
            display: block;
        }

        &:hover {
            margin-top: -2px;
            border-bottom: 2px solid var(--core-purple);
        }

        &:focus {
            background-color: transparent;
            border-bottom: 2px solid var(--core-purple);
            color: var(--black);
        }
    }

    &__heading-item {

        &--active {
            margin-top: -2px;
            border-bottom: 2px solid var(--core-purple);
        }
    }

    &__submenu {
        position: relative;

        &:hover {
            text-decoration: none;
            border: none;
            margin-top: 0;
        }
    }

    &__submenu-icon {
        width: 1rem;
        height: 1rem;
        margin-left: 0.5rem;
        pointer-events: none;
    }

    &__submenu-icon--open {
        transform: rotate(180deg);
    }

    &__submenu-container {
        position: absolute;
        left: calc(-1 * var(--padding));
        top: 100%;
        background-color: var(--white);
        padding: var(--padding);
        display: none;
    }

    &__submenu-container--open {
        display: block;
    }

    &__subitem {
        display: block;
        border: none;
        margin-bottom: 1rem;

        &:hover {
            margin-top: -1px;
        }
    }

    &__search-icon {
        height: 100%;
        pointer-events: none;
        height: 1rem;
        width: 1rem;
        margin-bottom: 0.7rem;

        @media all and (min-width: rem(600)) {
            height: 1.9rem;
            width: 1.9rem;
        }

        @media all and (min-width: rem(1120)) {
            position: absolute;
            height: 2.5rem;
            width: 2.5rem;
            padding: 0.75rem;
            top: 0;
            left: 0;
            transform: none;
            transform: translateX(-50%);
        }
    }

    &__search-label {
        display: block;
        font-family: 'Helvetica Neue Medium';
        font-size: 0.675rem;
        letter-spacing: .05rem;
        line-height: 1;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        margin-top: -0.7rem;

        @media all and (min-width: rem(600)) {
            font-size: 0.875rem;
            margin-top: -0.2rem;
        }

        @media all and (min-width: rem(1120)) {
            display: none;
        }

    }

    &__login-button {
        align-items: center;
        color: var(--black);
        display:block;
        border: none;
        margin-right: 0;
        padding-left: 0;
        font-size: 0.675rem;

        &-icon {
            * {
                fill: none;
                stroke: black;
                stroke-width: 30;
            }
        }

        @media all and (min-width: rem(600)) {
            font-size: 0.875rem;
        }

        &:hover {
            background-color: var(--white) !important;
            color: var(--black) !important;
        }

        @media all and (min-width: rem(1120)) {
            display: flex;
            border: 1px solid #990AE3;
            padding-left: 1.3rem;


            &:hover {
                background-color: var(--core-purple);
            }
        }
    }

    &__login-button-icon {
        display: block;
        height: 1.2rem;
        width: 3rem;
        margin-bottom: 0.8rem;

        @media all and (min-width: rem(600)) {
            height: 2rem;
            width: 5rem;
            margin-bottom: 0.7rem;
        }

        @media all and (min-width: rem(1120)) {
            height: 100%;
            height: 1rem;
            width: 1rem;
            margin-right: 1rem;
            margin-bottom: 0;
        }
    }

    &__mobile-button {
        box-shadow: none;
        background-color: transparent;
        border: none;

        @media all and (min-width: rem(1120)) {
            display: none;
        }

        &:hover {
            cursor: pointer;

            .menu__mobile-button-line {
                width: 100%;
            }
        }

        &-icon{
            height: 1.3rem;
            width: 1rem;

            @media all and (min-width: rem(600)) {
                height: 1.9rem;
                width: 1.9rem;
            }
        }
    }

    &__mobile-button-text {
        display: block;
        margin-top: 0.5rem;
        text-transform: uppercase;
        font-family: 'Helvetica Neue Medium';
        font-size: 0.675rem;

        @media all and (min-width: rem(600)) {
            font-size: 0.833rem;
        }
    }

    &__content {
        padding: var(--padding) 2.8125rem;
        display: none;

        @media all and (min-width: rem(1120)) {
            display: block;
        }

        @media all and (min-width: rem(1460)) {
            padding: var(--padding) 2.8125rem var(--padding) 15.5rem;
        }
    }

    &__content-panel{
        display: flex;
        list-style: none;
        padding: 0;

        &:focus {
            border: 1px solid red;
        }

        &--hidden {
            display: none;
        }
    }

    &__mobile {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--core-purple);
        padding: 2.1875rem 2.5625rem;
        @media all and (min-width: rem(1120)) {
            display: none !important;
        }

        &--open {
            display: block;
        }
    }

    &__mobile-header {
        text-align: right;
    }

    &__mobile-close-button {
        border: none;
        background-color: transparent;
        box-shadow: none;
        margin-bottom: 4.1875rem;

        &:hover {
            cursor: pointer;
        }
    }

    &__mobile-heading-links {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        margin-bottom: 2rem;
    }

    &__mobile-heading-item {

        &--active {
            border-bottom: 2px solid var(--white);
        }
    }

    &__mobile-heading-item {
        color: var(--white);
        font-size: 1.1875rem;

        &:last-child {
            margin-left: 2rem;
        }

        &:hover {
            color: var(--white);
        }
    }

    &__mobile-close-button-icon {
        width: 1rem;
        height: 1rem;
    }

    &__mobile-panel {

    }

    &__mobile-item {
        display: block;
        width: 100%;
        font-size: 1.5625rem;
        text-align: right;
        border: none;
        color: var(--white);
        font-family: 'pebble';
        text-transform: uppercase;
        margin-bottom: 0.5rem;

        &:hover {
            color: var(--white);
            border: none;
            transition: transform 250ms ease-out;
            transform: scale(1.04) translateX(-2%);
        }
    }

    &__mobile-submenu {
        margin-top:1.5rem;
        text-align: right;
    }

    &__mobile-item-with-children {
        display: block;
        font-size: 0.9rem;
        color: var(--white);
        opacity: 0.8;
        margin-bottom: 0.5rem;
        text-transform: uppercase;
    }

    &__mobile-subitem {
        display: block;
        width: 100%;
        border: none;
        color: var(--white);
        font-size: 1.1625rem;
        margin-bottom: 0.5rem;

        &:hover {
            color: var(--white);
            border: none;
            transition: transform 250ms ease-out;
            transform: scale(1.04) translateX(-2%);
        }
    }
}