.subscription-compact-accordion {
  --expanded-info-padding: 2rem;
  --expanded-info-padding-mobile: 1.5rem;

  position: relative;
  width: 100%;
  max-width: 38rem;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: var(--white);
  margin: 1rem 0;
  border: 1px solid #d6d6dd;
  box-shadow: 0px 4px 12px 0px #0000001a;

  &:not(:last-of-type) {
    margin-bottom: 1.8rem;
  }

  &__ribbon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'TeliaSans-Medium', Helvetica, Arial, sans-serif;
    padding: 4px 9px;
    height: 22px;
    position: absolute;
    border-radius: 2px;
    font-size: 0.75rem;
    line-height: 0.875rem;
    top: -0.7rem;
    right: 1rem;

    @media all and (min-width: 38em) {
      right: 16rem;
    }

    &--right {
      right: 2rem;
      left: unset;
    }

    &--left {
      left: 2rem;
      right: unset;
    }

    @media all and (min-width: 48em) {
      font-size: 0.875rem;
    }
  }

  &__name {
    font-family: 'TeliaSans-Regular', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: left;
    width: 100%;

    &--black,
    &--purple {
      color: var(--white);
    }
  }

  &__footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-top: 1rem;
    hr {
      margin-bottom: 1rem;
      width: 100%;
      border: 1px solid #d6d6dd;
    }
  }

  &__icon-container {
    width: 2rem;
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__container-button {
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    border-bottom: 0;
    transition: border 150ms ease-out;
    padding: 1rem var(--expanded-info-padding-mobile);
    margin: 0;

    @media all and (min-width: 41em) {
      padding: 1.5rem var(--expanded-info-padding);
    }

    &--footer {
      padding: 1rem var(--expanded-info-padding-mobile) 0rem;

      @media all and (min-width: 41em) {
        padding: 1.5rem var(--expanded-info-padding) 0rem;
      }
    }

    &:hover {
      border-radius: 0.5rem;
      ~ .subscription-compact-accordion__footer-border {
        background-color: #f5e0ff;
      }

      .subscription-compact-accordion {
        &__name,
        &__heading-name,
        &__price {
          &--purple,
          &--black {
            color: white;
          }
          color: #29003e;
        }
      }

      .subscription-compact-accordion__footer-container {
        &--purple,
        &--black {
          hr {
            border-color: #d6d6dd !important;
          }
          color: white;
        }

        color: #29003e;
        hr {
          border-color: #29003e;
        }
      }

      background-color: #f5e0ff;
    }

    &:focus {
      outline: none;
      cursor: pointer;
    }
  }

  &__main-container {
    display: flex;
    flex-direction: column;
    color: #222; /* Need to explicit set color due to iOS 15 overriding within button */
  }

  &__header-first-row {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0.5rem 0 0;
  }

  &__heading-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__heading-name {
    font-family: 'TeliaSans-Bold', Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: var(--black);
    margin: 0;
  }

  &__heading-striketrough {
    font-size: 1.5rem;
    font-family: 'TeliaSans-Regular', Helvetica, Arial, sans-serif;
    color: var(--black);
    text-decoration-line: line-through;
    text-decoration-thickness: 1px;
    text-align: left;
    margin: 0 0.5rem 0 0;
    @media all and (min-width: 41em) {
      text-align: center;
      text-decoration-thickness: 2px;
    }
  }

  &__left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 1rem;
  }

  &__aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-top: 1rem;
  }

  &__price {
    font-family: 'TeliaSans-Bold', Helvetica, Arial, sans-serif;
    font-size: 1rem;
  }

  &__price-striketrough-wrapper {
    text-decoration-line: line-through;
    text-decoration-thickness: 1px;
  }

  &__price-striketrough {
    font-family: 'TeliaSans-Regular', Helvetica, Arial, sans-serif;
  }

  &__price-striketrough-info {
    font-size: 0.875rem;
    margin-right: 0.25rem;
  }

  &__icon-arrow {
    width: 1.5rem !important;
    height: 1.5rem !important;
    margin: 0;

    &--isExpanded {
      transform: rotate(180deg);
    }
  }

  &__family-discount {
    display: flex;
    align-items: center;
    background: #e4b6fb;
    padding: 0.2rem 1rem;
    margin-bottom: 1rem;
    width: calc(100% + 2 * var(--expanded-info-padding-mobile));

    @media all and (min-width: 41em) {
      width: calc(100% + 2 * var(--expanded-info-padding));
    }
  }

  &__family-discount-icon {
    margin-right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
  }

  &__expanded-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: border 150ms ease-out;
    padding: 0rem var(--expanded-info-padding-mobile) 1rem var(--expanded-info-padding-mobile);

    @media all and (min-width: 41em) {
      padding: 0rem var(--expanded-info-padding) 1rem var(--expanded-info-padding);
    }
  }

  &--black {
    .subscription-compact-accordion__header-first-row,
    .subscription-compact-accordion__container-button {
      border-radius: 0.5rem;
      background-color: var(--black);
      color: var(--white);
      position: relative;

      &:hover,
      &:focus {
        outline: none;
        cursor: pointer;
      }
    }

    .subscription-compact-accordion__icon-arrow,
    .subscription-compact-accordion__heading-name,
    .subscription-compact-accordion__heading-striketrough {
      color: var(--white);
    }
  }

  &--purple {
    .subscription-compact-accordion__header-first-row,
    .subscription-compact-accordion__container-button {
      border-radius: 0.5rem;
      background-color: #4e0174;
      color: var(--white);
      position: relative;

      &:hover,
      &:focus {
        outline: none;
        cursor: pointer;
      }
    }

    .subscription-compact-accordion__icon-arrow,
    .subscription-compact-accordion__heading-name,
    .subscription-compact-accordion__heading-striketrough {
      color: var(--white);
    }
  }

  &__description {
    text-align: left;
  }

  &__price-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
    font-size: 1rem;
  }

  &__tagline-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.5rem;
  }

  &__tagline {
    text-align: left;
    color: var(--core-purple);
    font-size: 1rem;
    font-family: 'TeliaSans-Regular', Helvetica, Arial, sans-serif;
  }

  &__tagline-icon {
    color: var(--core-purple);
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.5rem;
  }

  &__discount-line {
    font-size: 1rem;
    font-family: 'TeliaSans-Regular', Helvetica, Arial, sans-serif;
    color: var(--green-700);
  }

  &__flex {
    display: flex;
    align-items: center;

    &--grow {
      flex: 1 1 auto;
    }
  }

  &__footer-ribbon {
    display: flex;
    align-items: center;
    background: #faf0ff;
    color: #4e0174;
    padding: 0.3rem 0;
    margin: 1rem calc(var(--expanded-info-padding-mobile) * -1);

    @media all and (min-width: 41em) {
      margin: 1rem calc(var(--expanded-info-padding) * -1);
    }
  }

  &__footer-ribbon-icon {
    width: 1.4rem !important;
    height: 1.4rem !important;
    margin-right: 0.5rem;
    margin-left: var(--expanded-info-padding-mobile);
    @media all and (min-width: 41em) {
      margin-left: var(--expanded-info-padding);
    }
  }
}

.subscription-compact-accordion-expanded {
  outline: 3px solid #4e0174;

  &__container-button {
    border-radius: 0.3rem 0.3rem 0 0 !important;
  }
}

.subscription-compact-accordion-expanded-black {
  outline: 3px solid var(--black);
}

.subscription-compact-accordion-expanded-purple {
  outline: 3px solid #4e0174;
}
