.modal-dialog {
  background-color: var(--white);
  border-radius: 0.2rem;
  border: 1px solid var(--light-grey);
  box-shadow: 0px 18px 24px 1px rgba(0, 0, 0, 0.5);
  margin: 15% auto;
  padding: 1.5rem;
  width: 90%;
  outline: none;

  z-index: 52;
  left: 0;
  right: 0;
  top: 0;

  .button--cancel {
    margin-left: 2rem;
  }

  &--standalone {
    position: static;
  }

  &-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 51;
  }

  &__heading {
    font-size: 20px;
    margin: 0;
    padding-bottom: 1rem;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
  }
}
