.telia-rating {
  display: flex;
  align-items: center;
  flex-direction: row;

  .half-star {
    height: 1rem;
    width: 1rem;
  }

  &__link {
    color: black;
    &:hover {
      background-color: white !important;
      color: var(--core-purple) !important;
    }

    &:focus {
      background-color: white !important;
      color: black !important;
    }
  }

  &__stars {
    display: flex;
    align-items: center;

    &--reviews {
      display: flex;
      align-items: center;
      cursor: pointer;
      height: 20px;
    }
  }
}

.telia-rating-numbers {
  margin-left: 10px;
  display: flex;
  align-items: center;
  height: 20px;

  p {
    margin-right: 0.7rem;
  }

  .heading {
    margin: 0px;
    margin-right: 10px;
  }
}
