.telia-rating {
  display: flex;
  align-items: center;
  flex-direction: row;

  .half-star {
    height: 1rem;
    width: 1rem;
  }

  &__link {
    color: black;
    &:hover {
      background-color: white !important;
      color: var(--core-purple) !important;
    }

    &:focus {
      background-color: white !important;
      color: black !important;
    }
  }

  &__stars {
    display: flex;
    align-items: center;

    &--reviews {
      display: flex;
      align-items: center;
      height: 20px;
    }
  }
}

.telia-rating-numbers {
  margin-left: 10px;
  display: flex;
  align-items: center;
  height: 20px;
  
  &__rating {
    margin-right: .3rem;
  }
  
  &__ratingNumber {
    color: #00000070;
    margin-right: 1rem;
  }

  &__reviewNumber {
    color:  var(--core-purple-750);
    font-size: 1rem;
    &:hover {
      background-color: inherit !important;
      color: var(--core-purple-750) !important;
    }
  }

  .heading {
    margin: 0px;
    margin-right: 10px;
  }
}
