<ul class="step-by-step">
    <li class="step-by-step__step">
        <div class="step-by-step__circle">
            <span class="step-by-step__number">1</span>
        </div>
        <div class="step-by-step__text">
            <h2 class="step-by-step__heading heading heading--level-2">Lorem</h2>
            <div class="step-by-step__description">This is a short descriptive text. This is a short descriptive text</div>
        </div>
    </li>
    <li class="step-by-step__step">
        <div class="step-by-step__circle">
            <span class="step-by-step__number">2</span>
        </div>
        <div class="step-by-step__text">
            <h2 class="step-by-step__heading heading heading--level-2">Lorem</h2>
            <div class="step-by-step__description">This is a short descriptive text</div>
        </div>
    </li>
    <li class="step-by-step__step">
        <div class="step-by-step__circle">
            <span class="step-by-step__number">3</span>
        </div>
        <div class="step-by-step__text">
            <h2 class="step-by-step__heading heading heading--level-2">Lorem</h2>
            <div class="step-by-step__description">This is a short descriptive text</div>
        </div>
    </li>
</ul>