<ul class="step-by-step">
    <li class="step-by-step__step">
        <div class="step-by-step__circle">
            <span class="step-by-step__number">1</span>
        </div>
        <div class="step-by-step__text">
            <span class="step-by-step__heading">Heading</span>
            <span class="step-by-step__description">This is a short descriptive text. This is a short descriptive text</span>
        </div>
    </li>
    <li class="step-by-step__step">
        <div class="step-by-step__circle">
            <span class="step-by-step__number">2</span>
        </div>
        <div class="step-by-step__text">
            <span class="step-by-step__heading">Heading</span>
            <span class="step-by-step__description">This is a short descriptive text</span>
        </div>
    </li>
    <li class="step-by-step__step">
        <div class="step-by-step__circle">
            <span class="step-by-step__number">3</span>
        </div>
        <div class="step-by-step__text">
            <span class="step-by-step__heading">Heading</span>
            <span class="step-by-step__description">This is a short descriptive text</span>
        </div>
    </li>
</ul>