<ul class="step-by-step">
    <li class="step-by-step__step">
        <div class="step-by-step__circle">
            <img class="step-by-step__icon" src="/public/icons/ico_buy_purple.svg" alt=""/>
        </div>
        <div class="step-by-step__text">
            <span class="step-by-step__heading">Heading</span>
            <span class="step-by-step__description">This is a short descriptive text. This is a short descriptive text</span>
        </div>
    </li>
    <li class="step-by-step__step">
        <div class="step-by-step__circle step-by-step__circle--no-border">
            <img class="step-by-step__image" src="/public/website-images/boy-ipad.jpg" alt=""/>
        </div>
        <div class="step-by-step__text">
            <span class="step-by-step__heading">Heading</span>
            <span class="step-by-step__description">This is a short descriptive text</span>
        </div>
    </li>
    <li class="step-by-step__step">
        <div class="step-by-step__circle">
            <img class="step-by-step__icon" src="/public/icons/ico_buy_purple.svg" alt=""/>
        </div>
        <div class="step-by-step__text">
            <span class="step-by-step__heading">Heading</span>
            <span class="step-by-step__description">This is a short descriptive text</span>
        </div>
    </li>
</ul>