.main-content {
    margin: 0 auto 120px;
    max-width: var(--width-medium);

    &--padding-top {
        @media all and (min-width: 28.125em) {
            padding-top: 20px;
        }

        @media all and (min-width: 50em) {
            padding-top: 3%;
        }
    }

    &--padded-sides {
        @media all and (min-width: 28.125em) {
            width: 80%;
        }
    }

    &--bg-color-white {
        background-color: var(--white);
    }
}
