.main-content {
    background-color: var(--white);
    margin: 0 auto;
    max-width: 796px;
    margin-bottom: 120px;

    @media all and (min-width: 28.125em) {
        width: 80%;
        padding-top: 20px;
    }

    @media all and (min-width: 50em) {
        padding-top: 3%;
    }

    &--no-padding-top {
        padding-top: 0;
    }
}
