.main-content {
    margin: 0 auto 120px;
    max-width: var(--width-medium);

    @media all and (min-width: 28.125em) {
        padding-top: 20px;
        width: 80%;
    }

    @media all and (min-width: 50em) {
        padding-top: 3%;
    }

    &--no-padding-top {
        padding-top: 0;
    }

    &--bg-color-white {
        background-color: var(--white);
    }
}
