<div class="main-content main-content--padding-top">
    <p>This is a component that can be used to wrap the main content of a page to make it
        responsive and give the page a bottom margin.
    </p>
    <p>If you add the <code>main-content--padding-top</code> CSS class
        the main-content element will be padded on top. This is solved with a modifier class
        because not all elements within the main-content element should have padding on top.
    </p>
    <p>Add <code>main-content--bg-color-white</code> if you want the background-color to be white.
</div>