.telia-date-picker {
  position: relativ;
}

.telia-date-picker--menu {
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 32px rgba(58, 58, 58, 0.18);
  border-radius: 4px;
  z-index: 10;
  width: 350px;
  height: 30px;
}

.telia-date-picker--header {
  padding: 1rem 1.5rem;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.telia-date-picker--month {
  display: grid;
  grid-template-columns: 45px 45px 45px 45px 45px 45px 45px;
  grid-template-rows: 45px 45px 45px 45px 45px 45px;
  justify-content: center;
  place-items: center;
}
.telia-date-picker--day {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  background-color: white;
  border: none;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--white), 0 0 0 4px var(--blue-300);
  }
  &:hover {
    color: var(--black);
    background-color: var(--grey-200);
  }
  &:active,
  &__active {
    color: var(--white);
    background-color: var(--core-purple-500);
  }
}
