<ul class="unique-selling-points">
    <li class="unique-selling-points__block">
        <img class="unique-selling-points__icon" src="/public/icons/ico_wireless.svg" role="presentation" />
        <div>
            This is the component for unique selling points
        </div>
    </li>
    <li class="unique-selling-points__block">
        <img class="unique-selling-points__icon" src="/public/icons/ico_buy.svg" role="presentation" />
        <div>
            You can use this to point out key values of a product
        </div>
    </li>
    <li class="unique-selling-points__block">
        <img class="unique-selling-points__icon" src="/public/icons/ico_enduser.svg" role="presentation" />
        <div>
            And add some icons that goes with the key points
        </div>
    </li>
    <li class="unique-selling-points__block">
        <img class="unique-selling-points__icon" src="/public/icons/ico_search.svg" role="presentation" />
        <div>
            It's recommended to use between 2-4 points
        </div>
    </li>
</ul>