<section class="accordion">
    <h3 class="accordion__header">
        <button class="accordion__header-button" aria-expanded="false" aria-controls="accordion-multiple-example-0">
            A closed accordion heading
        </button>
    </h3>
    <div class="accordion__panel rich-text-area" id="accordion-multiple-example-0">
        This is the body of the accordion.
    </div>
</section>
<section class="accordion accordion--open">
    <h3 class="accordion__header">
        <button class="accordion__header-button" aria-expanded="true" aria-controls="accordion-multiple-example-1">
            An open accordion heading
        </button>
    </h3>
    <div class="accordion__panel rich-text-area" id="accordion-multiple-example-1">
        This is the body of the accordion.
    </div>
</section>
<section class="accordion">
    <h3 class="accordion__header">
        <button class="accordion__header-button" aria-expanded="false" aria-controls="accordion-multiple-example-2">
            Another closed accordion heading
        </button>
    </h3>
    <div class="accordion__panel rich-text-area" id="accordion-multiple-example-2">
        This is the body of the accordion.
    </div>
</section>
