:root {
    --accordion-border: 1px solid #3CD9FF;
}

.accordion {
    border-top: var(--accordion-border);

    &:last-child {
        border-bottom: var(--accordion-border);
    }

    &__header {
    }

    &__header-button {
        background-color: white;
        border: none;
        display: block;
        font-size: 22px;
        font-weight: 600;
        padding: 0;
        position: relative;
        text-align: left;
        width: 100%;

        &:after {
            content: url('/public/icons/ico_add_purple.svg');
            display: block;
            position: absolute;
            right: 15px;
            top: 0;
        }
    }

    &__body {
        display: none;
        padding: 20px;
    }

    &--open .accordion__body {
        display: block;
    }
}