.accordion-content-area {
    padding: 50px 0;
    max-width: 600px;
    margin: 0 auto;

}

.accordion {
    border-top: 1px solid #3CD9FF;

    &:last-child {
        border-bottom: 1px solid #3CD9FF;
    }

    &__header {
        button:after {
            content: url('../icons/ico_add_purple.svg');
            position: absolute;
            right: 15px;
            top: 0;
            display: block;
        }
     }

    &__header-button {
         position: relative;
         width: 100%;
         display: block;
         padding: 0;
         background-color: white;
         border: none;
         text-align: left;
         font-size: 22px;
         font-weight: 600;
     }

    &__body {
        padding: 20px;
         display: none;

        &--open > .accordion__body {
            display: block;
         }
     }
}