:root {
    --accordion-border: 1px solid var(--dark-grey);
}

.accordion {
    border-top: var(--accordion-border);
    margin: 0 auto;
    max-width: var(--width-medium);

    &:last-of-type {
        border-bottom: var(--accordion-border);
    }

    &__header {
        margin: 0 0 1px 0;
    }

    &__header-button {
        background-color: white;
        background-image: url(/public/icons/ico_add_purple.svg);
        background-position: right 1rem center;
        background-repeat: no-repeat;
        background-size: 15px 15px;
        border: none;
        cursor: pointer;
        display: block;
        font-size: 1.375rem;
        font-weight: 600;
        padding: 1rem 1.25rem;
        position: relative;
        text-align: left;
        width: 100%;

        @media all and (min-width: 28.125em) {
            padding: 1rem 1.25rem 1rem 0;
        }
    }

    &__panel {
        display: none;
        padding: 1rem;

        @media all and (min-width: 28.125em) {
            padding: 1rem 0;
        }
    }

    &--open {
        .accordion__header-button {
            background-image: url('/public/icons/ico_minus_purple.svg');
        }
        .accordion__panel {
            display: block;
        }
    }
}