:root {
    --accordion-border: 1px solid var(--turquoise);
}

.accordion {
    border-top: var(--accordion-border);

    &:last-child {
        border-bottom: var(--accordion-border);
    }

    &__header {
        margin: 0;
    }

    &__header-button {
        background-color: white;
        border: none;
        cursor: pointer;
        display: block;
        font-size: 22px;
        font-weight: 600;
        padding: 20px 0;
        position: relative;
        text-align: left;
        width: 100%;

        &:after {
            content: url('/public/icons/ico_add_purple.svg');
            display: block;
            position: absolute;
            right: 15px;
            top: 20px;
        }
    }

    &__body {
        display: none;
        padding: 20px;
    }

    &--open .accordion__body {
        display: block;
    }

    &--open button:after {
         content: url('/public/icons/ico_minus_purple.svg');
     }
}