.header {
    background: var(--light-grey);
    padding: rem(20);
    text-align: center;

    @media all and (min-width: em(360)) {
        padding: rem(40);
    }

    @media all and (min-width: em(768)) {
        padding: rem(50) rem(80) rem(40);

        &--with-mask {
            padding-bottom: rem(200);
            background: var(--light-grey) url('/public/icons/full-screen-image-mask.svg') no-repeat bottom left;
            background-size: 100%;
        }

        &--with-content-overlap {
            margin-bottom: rem(-260);
            padding-bottom: rem(300);
        }
    }

    &__icon {
        margin-bottom: rem(10);
        width: rem(40);

        @media all and (min-width: em(360)) {
            margin-bottom: rem(15);
            width: rem(50);
        }

        @media all and (min-width: em(768)) {
            margin-bottom: rem(20);
            width: rem(60);
        }
    }

    &__subtitle {
        color: var(--dark-grey-2);
        display: block;
        font-size: rem(14);
        letter-spacing: em(0.8);
        line-height: 1.2;
        margin-bottom: rem(10);
        text-transform: uppercase;

        @media all and (min-width: em(360)) {
            font-size: rem(18);
        }

        @media all and (min-width: em(768)) {
            font-size: rem(20);
        }
    }

    &__preamble {
        font-size: rem(20);
        line-height: 1.3;
        margin: 0 auto;
        max-width: var(--width-medium);

        @media all and (min-width: em(360)) {
            font-size: rem(22);
        }

        @media all and (min-width: em(768)) {
            font-size: rem(24);
        }
    }
}