<header class="header header--with-mask header--with-content-overlap">
    <img class="header__icon" src="/public/icons/ico_favourites.svg" role="presentation" />
    <span class="header__subtitle ">Pre-title</span>
    <h1 class="heading heading--level-1">Page Title</h1>
    <section class="header__preamble">
        Preamble; an introductory and <a href="#" class="link">expressionary</a> statement in a document
        that explains the document's purpose and underlying philosophy
    </section>
</header>

<div class="focus-box">
    <div class="focus-box__content-outer">
        <div class="container container--small container--no-margin">
            <p>If you add the <code>--with-content-overlap</code> CSS class then the next piece of content, such as this Focus Box, will overlap the header.</p>
            <p>When using the header with <code>--with-content-overlap</code> it is recommended to use a component like <code>Focus Box</code> as the next component on the page.</p>
            <p>This is recommended to keep the overlapping content tall enough to cover the mask.</p>
        </div>
    </div>
</div>
