.parallax-block__text-box {
    background: #fff;
    width: 80%;
    margin: 150px 10%;
    padding: 30px;
    
    @media all and (min-width: em(768)) {
            width: 500px;
            margin: 150px;
    }
}